/*
Make "getting started" column height consistent with all other columns:
- puts the footer back at the bottom of the page, instead of floating.

author: trwnh
license: Public Domain
*/
.getting-started {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}