.text-icon-button,
.icon-button.inverted,
.announcements__body,
.column-back-button,
.column-header__button,
.autosuggest-account .display-name__account,
.activity-stream .status.light .display-name strong,
.activity-stream-tabs a.active,
.activity-stream .status.light .status__content,
.search-popout em,
.favourite-tags a,
.favourite-tags__name,
.autosuggest-textarea__textarea,
.spoiler-input__input,
.status__content__spoiler-link {
  color: $primary-text-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-secondary-color,0.4);
}

.button {
  color: $white;
}
