%ul.no-list
  - if controller_name != 'sessions'
    %li= link_to t('auth.login'), new_session_path(resource_name)

  - if devise_mapping.registerable? && controller_name != 'registrations'
    %li= link_to t('auth.register'), available_sign_up_path

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    %li= link_to t('auth.forgot_password'), new_password_path(resource_name)

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %li= link_to t('auth.didnt_get_confirmation'), new_confirmation_path(resource_name)
