- if ENV['RECAPTCHA_ENABLED'] == 'true'
  %script(src='https://www.google.com/recaptcha/api.js?render=#{ENV['RECAPTCHA_SITE_KEY']}')
  :javascript
    grecaptcha.ready(() => {
      grecaptcha.execute('#{ENV['RECAPTCHA_SITE_KEY']}', { action: 'login' })
      .then(t => {
        e = Array.prototype.slice.call(document.querySelectorAll(".new_user,.edit_user"));
        e.map(a => {
            r = document.createElement('textarea');
            r.setAttribute('name', 'g-recaptcha-response');
            r.setAttribute('style', 'display: none');
            r.innerText = t;
            a.appendChild(r);
          });
        e = Array.prototype.slice.call(document.querySelectorAll("button.recaptcha"));
        e.map(a => {
            a.removeAttribute('disabled');
        });
      });
    });
