body {
  font-family: 'Roboto', sans-serif;
  background: $tooty-color1 image-url('./assets/background-photo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $tooty-color5;
  padding-bottom: 140px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  text-size-adjust: none;

  &.app-body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $tooty-color1;
  }

  @media screen and (max-width: 360px) {
    padding-bottom: 0;
  }
}

button:focus {
  outline: none;
}

#frontend {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
