$tooty-color1: #282c37 !default; // darkest
$tooty-color2: #d9e1e8 !default; // lightest
$tooty-color3: #9baec8 !default; // lighter
$tooty-color4: #2b90d9 !default; // vibrant
$tooty-color5: #ffffff !default; // white
$tooty-color6: #df405a !default; // error red
$tooty-color7: #79bd9a !default; // succ green
$tooty-color8: #000000 !default; // black
