@mixin avatar-radius() {
  border-radius: $ui-avatar-border-size;
  background: transparent no-repeat;
  background-position: 50%;
  background-clip: padding-box;
}

@mixin avatar-size($size:48px) {
  width: $size;
  height: $size;
  background-size: $size $size;
}

@mixin single-column($media, $parent: '&') {
  .auto-columns #{$parent} {
    @media #{$media} {
      @content;
    }
  }
  .single-column #{$parent} {
    @content;
  }
}

@mixin limited-single-column($media, $parent: '&') {
  .auto-columns #{$parent}, .single-column #{$parent} {
    @media #{$media} {
      @content;
    }
  }
}

@mixin multi-columns($media, $parent: '&') {
  .auto-columns #{$parent} {
    @media #{$media} {
      @content;
    }
  }
  .multi-columns #{$parent} {
    @content;
  }
}

@mixin fullwidth-gallery {
  &.full-width {
    margin-left: -14px;
    margin-right: -14px;
    width: inherit;
    max-width: none;
    height: 250px;
    border-radius: 0px;
  }
}

@mixin search-input() {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  box-shadow: none;
  font-family: inherit;
  background: $ui-base-color;
  color: $darker-text-color;
  font-size: 14px;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }

  &:focus {
    background: lighten($ui-base-color, 4%);
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}
