.account__header__fields {
  $meta-table-border: lighten($ui-base-color, 8%);
  padding: 0;
  margin: 15px -15px -15px -15px;
  border: 0 none;
  border-top: 1px solid $meta-table-border;
  border-bottom: 1px solid $meta-table-border;
  font-size: 14px;
  line-height: 20px;

  dl {
    display: flex;
    border-bottom: 1px solid $meta-table-border;
  }

  dt,
  dd {
    box-sizing: border-box;
    padding: 14px;
    text-align: center;
    max-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  dt {
    padding-left: 15px;
    font-weight: 500;
    text-align: center;
    width: 120px;
    flex: 0 0 auto;
    color: $secondary-text-color;
    background: darken($ui-base-color, 8%);
  }

  dd {
    flex: 1 1 auto;
    color: $darker-text-color;
  }

  a {
    color: $highlight-text-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  dl:last-child {
    border-bottom: 0;
  }
}
