@use '@/styles/mastodon/mixins';

.badge {
  display: inline-flex;
  gap: var(--space-2xs);
  align-items: center;
  justify-content: center;

  min-width: 1lh;
  max-width: 100%;
  padding: var(--space-2xs);
  border-radius: var(--radius-xs);

  font-size: 13px;
  font-weight: 400;
  color: var(--color-text-primary);

  &:not(.badgeWithoutIcon) {
    padding-inline-end: var(--space-xs);
  }

  > svg {
    flex-shrink: 0;

    width: auto;
    height: 17px;

    opacity: 0.85;

    fill: currentColor;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.domain {
  letter-spacing: 0;
  opacity: 0.75;
}

.default {
  background-color: var(--color-bg-secondary);
}

.subtle {
  background-color: var(--color-bg-brand-softest);
}

.accent {
  color: var(--color-text-on-brand-base);
  background-color: var(--color-bg-brand-base);
}

.feature {
  color: var(--color-text-on-brand-base);
  background-color: var(--color-bg-brand-base);
}

.inverted {
  color: var(--color-text-inverted);
  background-color: var(--color-bg-inverted);
}

.success {
  background-color: var(--color-bg-success-softest);
}

.warning {
  background-color: var(--color-bg-warning-softest);
}

.danger {
  color: var(--color-text-on-error-base);
  background-color: var(--color-bg-error-base);
}
