@import 'styles/mastodon/variables';

.glitch.local-settings__navigation__item {
  display: block;
  padding: 15px 20px;
  color: inherit;
  background: $primary-text-color;
  border-bottom: 1px $ui-primary-color solid;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: background .3s;

  &:hover {
    background: $ui-secondary-color;
  }

  &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;
  }

  &.close, &.close:hover {
    background: $error-value-color;
    color: $primary-text-color;
  }
}
