@use 'utils';

@mixin base-indigo {
  --base-color-fg: var(--color-indigo-50);
  --base-color-bg: var(--color-indigo-950);
  --base-color-bg-desktop: var(--base-color-bg);
  --base-color-accent: var(--color-indigo-300);
  --base-color-danger: var(--color-red-200);
  --base-highlight-strength: 8%;
}

@mixin tokens {
  /* TEXT TOKENS */

  --color-text-primary: var(--base-color-fg);
  --color-text-secondary: #{utils.css-alpha(var(--base-color-fg), 80%)};
  --color-text-tertiary: #{utils.css-alpha(var(--base-color-fg), 70%)};
  --color-text-inverted: var(--base-color-bg);
  --color-text-brand: var(--base-color-accent);
  --color-text-brand-soft: color-mix(
    in oklab,
    var(--color-text-primary),
    var(--color-text-brand)
  ); // legacy

  --color-text-on-brand-base: var(--color-text-inverted);
  --color-text-brand-on-inverted: var(--color-indigo-600); // legacy
  --color-text-error: var(--base-color-danger);
  --color-text-on-error-base: var(--color-text-inverted);
  --color-text-warning: var(--color-yellow-400); // legacy
  --color-text-on-warning-base: var(--color-white); // legacy
  --color-text-success: var(--color-green-400); // legacy
  --color-text-on-success-base: var(--color-white); // legacy
  --color-text-disabled: var(--color-grey-600); // legacy
  --color-text-on-disabled: var(--color-grey-400); // legacy
  --color-text-bookmark-highlight: var(--color-text-error); // legacy
  --color-text-favourite-highlight: var(--color-text-warning); // legacy
  --color-text-on-media: var(--base-color-fg); // legacy
  --color-text-status-links: var(--base-color-accent); // legacy

  /* BACKGROUND TOKENS */

  // Neutrals
  --color-bg-primary: var(--base-color-bg);
  --color-bg-desktop: var(--base-color-bg-desktop);
  --color-bg-highlight: #{utils.css-alpha(
      var(--base-color-accent),
      var(--base-highlight-strength)
    )};
  --overlay-strength-secondary: 4%; // legacy
  --color-bg-secondary: var(--color-bg-highlight); // legacy
  --color-bg-tertiary: var(--color-bg-highlight); // legacy

  // Utility
  --color-bg-inverted: var(--base-color-fg);
  --color-bg-overlay: var(--color-black); // legacy
  --color-bg-media-base: var(--color-black); // legacy
  --color-bg-media: #{utils.css-alpha(var(--color-bg-media-base), 65%)}; // legacy
  --color-bg-disabled: var(--color-grey-700); // legacy

  // Brand
  --color-bg-brand-base: var(--base-color-accent);
  --color-bg-brand-base-hover: color-mix(
    in srgb,
    var(--base-color-accent),
    var(--color-text-on-brand-base) 10%
  );
  --color-bg-brand-soft: var(--color-bg-highlight); // legacy
  --color-bg-brand-softest: var(--color-bg-highlight); // legacy

  // Error
  --color-bg-error-base: var(--base-color-danger);
  --color-bg-error-base-hover: color-mix(
    in srgb,
    var(--base-color-danger),
    var(--color-text-on-error-base) 10%
  ); // legacy

  --color-bg-error-soft: var(--color-red-100); // legacy
  --color-bg-error-softest: var(--color-red-50); // legacy

  // Warning
  --color-bg-warning-base: var(--color-yellow-700); // legacy
  --color-bg-warning-soft: var(--color-yellow-900); // legacy
  --color-bg-warning-softest: var(--color-yellow-950); // legacy

  // Success
  --color-bg-success-base: var(--color-green-600); // legacy
  --color-bg-success-soft: var(--color-green-900); // legacy
  --color-bg-success-softest: var(--color-green-950); // legacy

  /* BORDER TOKENS */

  --color-border-primary: #{utils.css-alpha(var(--base-color-accent), 30%)};
  --color-border-strong: var(--base-color-fg);
  --color-border-input: #{utils.css-alpha(var(--base-color-fg), 70%)};
  --color-border-brand: var(--color-text-brand); // legacy
  --color-border-brand-soft: var(--color-indigo-800); // legacy
  --color-border-error: var(--color-red-300); // legacy
  --color-border-media: rgb(252 248 255 / 15%); // legacy
  --color-border-error-soft: #{utils.css-alpha(var(--color-border-error), 50%)}; // legacy
  --color-border-warning-soft: #{utils.css-alpha(
      var(--color-text-warning),
      50%
    )}; // legacy

  --color-border-success-soft: var(--color-green-800); // legacy

  /* SHADOW TOKENS (LEGACY) */

  --shadow-strength-primary: 80%;
  --color-shadow-primary: #{utils.css-alpha(
      var(--color-black),
      var(--shadow-strength-primary)
    )};
  --dropdown-shadow:
    0 20px 25px -5px var(--color-shadow-primary),
    0 8px 10px -6px var(--color-shadow-primary);
  --overlay-icon-shadow: drop-shadow(0 0 8px var(--color-shadow-primary));

  /* GRAPHS/CHARTS TOKENS (LEGACY) */

  --color-graph-primary-stroke: var(--color-text-brand);
  --color-graph-primary-fill: var(--color-bg-brand-softest);
  --color-graph-warning-stroke: var(--color-text-warning);
  --color-graph-warning-fill: var(--color-bg-warning-softest);
  --color-graph-disabled-stroke: var(--color-text-disabled);
  --color-graph-disabled-fill: var(--color-bg-disabled);

  /* RICH TEXT TOKENS (LEGACY) */

  --rich-text-container-color: rgb(87 24 60 / 100%);
  --rich-text-text-color: rgb(255 175 212 / 100%);
  --rich-text-decorations-color: rgb(128 58 95 / 100%);
}

@mixin contrast-overrides {
  --base-color-accent: var(--color-indigo-200);
}
