@mixin palette {
  --color-white: #fff;
  --color-black: #000;

  // Grey
  --color-grey-50: #f6f6f9;
  --color-grey-100: #eeedf3;
  --color-grey-200: #d7d6e1;
  --color-grey-300: #b2b1c8;
  --color-grey-400: #88a;
  --color-grey-500: #67678e;
  --color-grey-600: #535374;
  --color-grey-700: #44445f;
  --color-grey-800: #3a3a50;
  --color-grey-900: #21212c;
  --color-grey-950: #181820;

  // Indigo
  --color-indigo-50: #f9f7fc;
  --color-indigo-100: #e9e5f8;
  --color-indigo-200: #d1caf2;
  --color-indigo-300: #b1a6e9;
  --color-indigo-400: #8e81e0;
  --color-indigo-500: #705dd6;
  --color-indigo-600: #5638cc;
  --color-indigo-700: #47309c;
  --color-indigo-800: #36276f;
  --color-indigo-900: #261e46;
  --color-indigo-950: #130e2a;

  // Lime
  --color-lime-50: #f9fbf5;
  --color-lime-100: #f1f6e6;
  --color-lime-200: #e2edcb;
  --color-lime-300: #cce0a3;
  --color-lime-400: #b2cf70;
  --color-lime-500: #9bc034;
  --color-lime-600: #7b9831;
  --color-lime-700: #647c2d;
  --color-lime-800: #4d5f28;
  --color-lime-900: #3e4c23;
  --color-lime-950: #1b1f15;

  // Pink
  --color-pink-50: #fef9fd;
  --color-pink-100: #fdeffa;
  --color-pink-200: #fcddf5;
  --color-pink-300: #f9c3ee;
  --color-pink-400: #f4a2e3;
  --color-pink-500: #ee82d8;
  --color-pink-600: #bb69ab;
  --color-pink-700: #98588b;
  --color-pink-800: #73456a;
  --color-pink-900: #5c3955;
  --color-pink-950: #271824;

  // Orange
  --color-orange-50: #fff8f3;
  --color-orange-100: #ffeee1;
  --color-orange-200: #ffdac1;
  --color-orange-300: #ffbd94;
  --color-orange-400: #fd965c;
  --color-orange-500: #f96f19;
  --color-orange-600: #c45b1c;
  --color-orange-700: #9f4d1d;
  --color-orange-800: #783d1c;
  --color-orange-900: #5f331b;
  --color-orange-950: #241913;

  // Cyan
  --color-cyan-50: #f4fbfd;
  --color-cyan-100: #e6f6fa;
  --color-cyan-200: #caebf5;
  --color-cyan-300: #a3dcee;
  --color-cyan-400: #6dc9e6;
  --color-cyan-500: #25b7df;
  --color-cyan-600: #2692af;
  --color-cyan-700: #25778e;
  --color-cyan-800: #225c6b;
  --color-cyan-900: #1f4a56;
  --color-cyan-950: #141f22;

  // Red
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa2a2;
  --color-red-400: #ff6467;
  --color-red-500: #fb2c36;
  --color-red-600: #e7000b;
  --color-red-700: #c10007;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;

  // Green
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a8;
  --color-green-400: #05df72;
  --color-green-500: #00c950;
  --color-green-600: #00a63e;
  --color-green-700: #008236;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
}
