.column {
  border: 1px solid var(--color-border-primary);
  border-top-width: 0;
}

.header {
  :global(.column-header__buttons) {
    align-items: center;
    padding-inline-end: 16px;
    height: auto;
  }
}

.header {
  height: 120px;
  background: var(--color-bg-secondary);

  @container (width >= 500px) {
    height: 160px;
  }
}

.avatar {
  margin-top: -64px;
  margin-left: 24px;
}
