// Profile Edit Page

.profileImage {
  position: relative;

  overflow: hidden;

  height: 120px;
  border-bottom: 1px solid var(--color-border-primary);

  background: var(--color-bg-secondary);

  @container (width >= 500px) {
    height: 160px;
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageButton {
    top: 16px;
    right: 24px;
  }
}

.avatar {
  position: relative;
  width: 82px;
  margin-top: -64px;
  margin-left: 22px;

  > :global(.account__avatar) {
    border: 1px solid var(--color-border-primary);
  }

  .imageButton {
    right: -8px;
    bottom: -8px;
  }
}

.bio {
  unicode-bidi: plaintext;
  overflow-wrap: anywhere;

  p:not(:last-child) {
    margin-bottom: 20px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.fieldButtons {
  display: flex;
  gap: 8px;
  align-items: end;

  @container (width < 500px) {
    flex-direction: column;
  }
}

.field {
  display: flex;
  gap: 4px;
  align-items: start;
  padding: 12px 0;

  > div {
    flex-grow: 1;
  }
}

.verifiedLinkHelpButton {
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;

  &:global(.button) {
    color: var(--color-text-primary);

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Featured Tags Page

.wrapper {
  padding: 24px;
}

.autoComplete,
.tagSuggestions,
.maxTagsWarning {
  margin: 12px 0;
}

.tagSuggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;

  // Add more padding to the suggestions label
  > span {
    margin-right: 4px;
  }
}

.tagItem {
  > h4 {
    font-size: 15px;
    font-weight: 500;
  }

  > p {
    color: var(--color-text-secondary);
  }
}

// Column component

.columnHeader {
  :global(.column-header__buttons) {
    align-items: center;
    height: auto;
    padding-inline-end: 16px;
  }
}

// Edit button component

.editButton {
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid var(--color-border-primary);
  border-radius: 8px;

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:global(.button) {
    padding: 4px 8px;
    font-size: 13px;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-bg-brand-softest);
    }

    &:disabled {
      opacity: 0.5;
      background-color: var(--color-bg-primary);
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.deleteButton {
  --default-icon-color: var(--color-text-error);
  --hover-bg-color: var(--color-bg-error-base);
  --hover-icon-color: var(--color-text-on-error-base);
}

// Field component

.fieldName,
.fieldValue {
  word-break: break-all;
}

.fieldName {
  font-size: 13px;
  color: var(--color-text-secondary);
}

.fieldValue {
  font-size: 15px;
  color: var(--color-text-primary);
}

// Image edit component

.imageButton {
  --default-bg-color: var(--color-bg-primary);

  position: absolute;

  box-sizing: border-box;
  width: 28px;
  height: 28px;
  padding: 4px;
  border: 1px solid var(--color-border-primary);
  border-radius: 9999px;

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &,
  &:global(.active) {
    // Overrides the transparent background added by default with .active
    --hover-bg-color: var(--color-bg-brand-softest);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.imageMenu {
  svg {
    width: 20px;
    height: 20px;
  }
}

// Item list component

.itemList {
  > li {
    display: flex;
    align-items: center;
    padding: 12px 0;

    > :first-child {
      flex-grow: 1;
    }
  }
}

.itemListButtons {
  display: flex;
  gap: 4px;
  align-items: center;
}

// Section component

.section {
  padding: 24px;
  border-bottom: 1px solid var(--color-border-primary);
  font-size: 15px;

  &:last-child {
    border-bottom: none;
  }
}

.sectionHeader {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.sectionTitle {
  flex-grow: 1;
  font-size: 17px;
  font-weight: 600;
}

.sectionSubtitle {
  color: var(--color-text-secondary);
}
