%ul.no-list
  - if controller_name != 'profiles'
    %li= link_to "Edit profile", settings_profile_path
  - if controller_name != 'preferences'
    %li= link_to "Preferences", settings_preferences_path
  - if controller_name != 'registrations'
    %li= link_to "Change password", edit_user_registration_path
