%aside.callout
  = material_symbol 'info'
  .content
    .body
      %p.title= t('edit_profile.redesign_title')
      %p= t('edit_profile.redesign_body')
    = link_to t('edit_profile.redesign_button'), '/profile/edit'
