.content__heading__tabs
  = render_navigation renderer: :links do |primary|
    :ruby
      primary.item :edit_profile, safe_join([material_symbol('person'), t('settings.edit_profile')]), settings_profile_path
      primary.item :verification, safe_join([material_symbol('check'), t('verification.verification')]), settings_verification_path
      primary.item :featured_tags, safe_join([material_symbol('tag'), t('settings.featured_tags')]), settings_featured_tags_path
