@use '@/styles/mastodon/mixins';

.loadingWrapper {
  @include mixins.type-meta;

  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
  gap: var(--space-3);
  opacity: 0;
  animation: fade-in 300ms ease-in 1.2s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
