{
  "presets": [
    "es2015",
    "react",
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "production": {
      "plugins": [
        "lodash"
      ]
    }
  }
}
