.bundle
.env
.env.*
public/system
public/assets
public/packs
node_modules
neo4j
vendor/bundle
.DS_Store
*.swp
*~
postgres
redis
elasticsearch
/log/*.log
/tmp
/coverage
npm-debug.log
yarn-error.log
yarn-debug.log
/spec
/dist
/nanobox
