{
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },

  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "parserOptions": {
    "sourceType": "module",

    "ecmaFeatures": {
      "arrowFunctions": true,
      "jsx": true,
      "destructuring": true,
      "modules": true,
      "spread": true
    }
  },

  "rules": {
    "no-cond-assign": 2,
    "no-console": 1,
    "no-irregular-whitespace": 2,
    "no-unreachable": 2,
    "valid-typeof": 2,
    "consistent-return": 2,
    "dot-notation": 2,
    "eqeqeq": 2,
    "no-fallthrough": 2,
    "no-unused-expressions": 2,
    "strict": 0,
    "no-catch-shadow": 2,
    "indent": [1, 2],
    "brace-style": 1,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "no-mixed-spaces-and-tabs": 1,
    "no-nested-ternary": 1,
    "no-trailing-spaces": 1,
    "react/wrap-multilines": 2,
    "react/self-closing-comp": 2,
    "react/prop-types": 2,
    "react/no-multi-comp": 0
  }
}
