{
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },

  "plugins": [
    "react"
  ],

  "parserOptions": {
    "sourceType": "module",

    "ecmaFeatures": {
      "jsx": true
    },
  },
}
