Eugen Rochko <eugen@zeonfederated.com>
Shel R <Yiskah.Raphen@gmail.com>
Effy Elden <github@effy.is> <git@effy.is>
Isabelle Knott <isabelle@blackle-mori.com>
Kibigo <marrus-sh@users.noreply.github.com>
