openapi: '3.0.3'
info:
  title: Mastodon API Specification (https://github.com/mastodon/mastodon)
  version: '1.0'
  contact:
    name: Sardorbek Pulatov
    email: sardo@hey.com
servers:
  - url: https://mastodon.social
paths:
  /api/v1/apps:
    post:
      tags:
        - apps
      description: Create a new application to obtain OAuth2 credentials.
      requestBody:
          content:
            application/form-data:
              schema:
                type: object
                required:
                  - client_name
                  - redirect_uris
                properties:
                  client_name:
                    description: A name for your application
                    type: string
                  redirect_uris:
                    description: Where the user should be redirected after authorization. To display the authorization code to the user instead of redirecting to a web page, use urn:ietf:wg:oauth:2.0:oob in this parameter.
                    type: string
                  scopes:
                    description: Space separated list of scopes. If none is provided, defaults to read.
                    type: string
                  website:
                    description: A URL to the homepage of your app
                    type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: 
                type: object
                properties:
                  id:
                    type: string
                  name:
                   type: string
                  website:
                    type: string
                  redirect_uri:
                    type: string
                  client_id:
                    type: string
                  client_secret:
                    type: string
                  vapid_key:
                    type: string
        '422':
          description: If a required parameter is missing or improperly formatted, the request will fail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/apps/verify_credentials:
    get:
      tags:
        - apps
      description: Confirm that the app's OAuth2 credentials work.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: If the Authorization header was provided with a valid token, you should see your app returned as an Application entity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
        '401':
          description: If the Authorization header contains an invalid token, is malformed, or is not present, an error will be returned indicating an authorization failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /oauth/authorize:
    description: Generate and manage OAuth tokens.
    get:
      tags:
        - oauth
      description: Displays an authorization form to the user. If approved, it will create and return an authorization code, then redirect to the desired redirect_uri, or show the authorization code if urn:ietf:wg:oauth:2.0:oob was requested. The authorization code can be used while requesting a token to obtain access to user-level methods.
      parameters:
        - name: response_type
          description: Should be set equal to code.
          in: query
          required: true
          schema: 
            type: string
        - name: client_id
          description: Client ID, obtained during app registration.
          in: query
          required: true
          schema: 
            type: string
        - name: redirect_uri
          description: Set a URI to redirect the user to. If this parameter is set to urn:ietf:wg:oauth:2.0:oob then the authorization code will be shown instead. Must match one of the redirect URIs declared during app registration.
          in: query
          required: true
          schema: 
            type: string
        - name: scope
          description: List of requested OAuth scopes, separated by spaces (or by pluses, if using query parameters). Must be a subset of scopes declared during app registration. If not provided, defaults to read.
          in: query
          schema: 
            type: string
        - name: force_login
          description: Added in 2.6.0. Forces the user to re-login, which is necessary for authorizing with multiple accounts from the same instance.
          in: query
          schema: 
            type: boolean
      responses:
        '200':
          description: The authorization code will be returned as a query parameter named code.
        '400':
          description: If the authorization code is incorrect or has been used already, the request will fail.
          content:
            application/json:
             schema: 
              $ref: "#/components/schemas/Error"
  
  /oauth/token:
    description: Obtain a token
    post:
      tags:
        - oauth
      description: Returns an access token, to be used during API calls that are not public.
      requestBody:
          content:
            application/form-data:
              schema:
                type: object
                required:
                  - grant_type
                  - client_id
                  - client_secret
                  - redirect_uri
                properties:
                  grant_type:
                    description: Set equal to authorization_code if code is provided in order to gain user-level access. Otherwise, set equal to client_credentials to obtain app-level access only.
                    type: string
                  client_id:
                    description: Client ID, obtained during app registration
                    type: string
                  client_secret:
                    description: Client secret, obtained during app registration
                    type: string
                  redirect_uri:
                    description: Set a URI to redirect the user to. If this parameter is set to urn:ietf:wg:oauth:2.0:oob then the token will be shown instead. Must match one of the redirect URIs declared during app registration.
                    type: string
                  scopes:
                    description: List of requested OAuth scopes, separated by spaces. Must be a subset of scopes declared during app registration. If not provided, defaults to read.
                    type: string
                  code: 
                    description: A user authorization code, obtained via /oauth/authorize
                    type: string
      responses:
        '200':
          description: Store this access_token for later use with auth-required methods. The token should be passed as an HTTP Authorization header when making API calls, with the value Bearer access_token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    example: ZA-Yj3aBD8U8Cm7lKUp-lm9O9BmDgdhHzDeqsY8tlL0
                    type: string
                  token_type:
                    example: Bearer
                    type: string
                  scope:
                    example: read write follow push
                    type: string
                  created_at:
                    description: UNIX timestamp
                    example: 1573979017
                    type: integer
        '400':
          description: If you try to request a scope that was not included when registering the app, the request will fail.
          content:
            application/json:
             schema: 
              $ref: "#/components/schemas/Error"
        '401':
          description: If client_id and client_secret do not match or are invalid, the request will fail.
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"

  /oauth/revoke:
    post:
      tags:
        - oauth
      description: Revoke an access token to make it no longer valid for use.
      requestBody:
          content:
            application/form-data:
              schema:
                type: object
                required:
                  - client_id
                  - client_secret
                  - token
                properties:
                  client_id:
                    description: Client ID, obtained during app registration
                    type: string
                  client_secret:
                    description: Client secret, obtained during app registration
                    type: string
                  token:
                    description: The previously obtained token, to be invalidated
                    type: string
      responses:
        '200':
          description: If you own the provided token, the API call will provide an empty response. This operation is idempotent, so calling this API multiple times will still return OK.
        '403':
          description: If you provide a token you do not own, or no token at all, the API call will return a 403 error.
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Error"

  /api/v1/accounts:
    post:
      tags:
        - TODOSecurity
        - accounts
      security:
        - bearerAuth: []
      description: Creates a user and account records. Returns an account access token for the app that initiated the request. The app should save this token for later, and should wait for the user to confirm their account by clicking a link in their email inbox.
      requestBody:
          content:
            application/form-data:
              schema:
                type: object
                required:
                  - username
                  - email
                  - token
                  - password
                  - agreement
                  - locale
                properties:
                  username:
                    description: The desired username for the account
                    type: string
                  email:
                    description: The email address to be used for login
                    type: string
                  password:
                    description: The password to be used for login
                    type: string
                    format: password
                  agreement:
                    description: Whether the user agrees to the local rules, terms, and policies. These should be presented to the user in order to allow them to consent before setting this parameter to TRUE.
                    type: boolean
                  locale:
                    description: The language of the confirmation email that will be sent
                    type: string
                  reason:
                    description: Text that will be reviewed by moderators if registrations require manual approval.
                    type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized

  /api/v1/accounts/verify_credentials:
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Test to make sure that the user token works.
      responses:
        '200':
          description: Note the extra `source` property, which is not visible on accounts other than your own. Also note that plain-text is used within `source` and HTML is used for their corresponding properties such as `note` and `fields`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        '401':
          description: Your credential verification will fail if the token is invalid or incorrect.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Your user account is currently disabled, missing a confirmed email address, or pending approval.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/accounts/update_credentials:
    patch:
      tags:
        - accounts
      description: Update the user's display and preferences.
      security:
        - bearerAuth: []
      requestBody:
          content:
            application/form-data:
              schema:
                type: object
                properties:
                  discoverable:
                    description: Whether the account should be shown in the profile directory.
                    type: string
                  bot:
                    description: Whether the account has a bot flag.
                    type: boolean
                  display_name:
                    description: The display name to use for the profile.
                    type: string
                  note:
                    description: The account bio.
                    type: string
                  avatar:
                    description: Avatar image encoded using multipart/form-data
                    type: string
                  header: 
                    description: Header image encoded using multipart/form-data
                    type: string
                  locked:
                    description: Whether manual approval of follow requests is required.
                    type: boolean
                  source:
                    type: object
                    properties:
                      privacy:
                        description: Default post privacy for authored statuses.
                        type: string
                      sensitive:
                        description: Whether to mark authored statuses as sensitive by default.
                        type: boolean
                      language:
                        description: Default language to use for authored statuses. (ISO 6391)
                        type: string
                  fields_attributes:
                    description: Profile metadata `name` and `value`. (By default, max 4 fields and 255 characters per property/value)
                    type: object
      responses:
        '200':
          description: You should use `accounts/verify_credentials` to first obtain plaintext representations from within the `source` parameter, then allow the user to edit these plaintext representations before submitting them through this API. The server will generate the corresponding HTML.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account record will be returned. Note that `acct` of local users does not include the domain name.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        '401':
          description: If the instance is in whitelist mode and the Authorization header is missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Account does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account is suspended
  
  /api/v1/accounts/{id}/statuses:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Statuses posted to the given account.
      responses:
        '200':
          description: Statuses posted to the given account. Public (for public statuses only), or user token + read:statuses (for private statuses the user is authorized to see)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"
        '401':
          description: Instance is in whitelist mode or running a version of Mastodon older than 2.7.0, and the Authorization header is invalid or missing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Account is deleted or does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account is suspended

  /api/v1/accounts/{id}/followers:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Accounts which follow the given account, if network is not hidden by the account owner.
      parameters:
         - name: max_id
           description: Internal parameter. Use HTTP `Link` header for pagination.
           in: query
           schema: 
            type: string
         - name: since_id
           description: Internal parameter. Use HTTP `Link` header for pagination.
           in: query
           schema: 
            type: string
         - name: limit
           description: Maximum number of results to return. Defaults to 40.
           in: query
           schema:
            type: integer
            default: 40
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Account is deleted or does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account is suspended

  /api/v1/accounts/{id}/following:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Accounts which the given account is following, if network is not hidden by the account owner.
      parameters:
         - name: max_id
           description: Internal parameter. Use HTTP `Link` header for pagination.
           in: query
           schema: 
            type: string
         - name: since_id
           description: Internal parameter. Use HTTP `Link` header for pagination.
           in: query
           schema: 
            type: string
         - name: limit
           description: Maximum number of results to return. Defaults to 40.
           in: query
           schema:
            type: integer
            default: 40
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Account is deleted or does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account is suspended

  /api/v1/accounts/{id}/featured_tags:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Tags featured by this account.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FeaturedTag"
        '401':
          description: Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}/lists:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: User lists that you have added this account to.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/List"
        '401':
          description: Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Account is deleted or does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account is suspended
  
  /api/v1/accounts/{id}/identity_proofs:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Array of IdentityProof
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IdentityProof"
        '404':
          description: Account is deleted or does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '410':
          description: Account with given id is suspended
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}/follow:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Follow the given account. Can also be used to update whether to show reblogs or enable notifications.
      requestBody:
        content:
            application/form-data:
              schema:
                type: object
                properties:
                  reblogs:
                    description: Receive this account's reblogs in home timeline? Defaults to true.
                    type: boolean
                    default: true
                  notify:
                    description: Receive notifications when this account posts a status? Defaults to false.
                    type: boolean
                    default: false
      responses:
        '200':
          description: Successfully followed, or account was already followed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '403':
          description: Trying to follow someone that you block or that blocks you
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}/unfollow:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Unfollow the given account.
      responses:
        '200':
          description: Successfully unfollowed, or account was already not followed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/accounts/{id}/block:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Block the given account. Clients should filter statuses from this account if received (e.g. due to a boost in the Home timeline).
      responses:
        '200':
          description: Successfully blocked, or account was already blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/accounts/{id}/unblock:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Block the given account. Clients should filter statuses from this account if received (e.g. due to a boost in the Home timeline).
      responses:
        '200':
          description: Successfully unblocked, or account was already not blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/accounts/{id}/mute:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Mute the given account. Clients should filter statuses and notifications from this account, if received (e.g. due to a boost in the Home timeline).
      requestBody:
        content:
            application/form-data:
              schema:
                type: object
                properties:
                  notifications:
                    description: Mute notifications in addition to statuses? Defaults to true.
                    type: boolean
                    default: true
                  duration:
                    description: How long the mute should last, in seconds. Defaults to 0 (indefinite).
                    type: integer
                    default: 0
      responses:
        '200':
          description: Successfully muted, or account was already muted. Note that you can call this API method again with notifications=false to update the relationship so that only statuses are muted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/accounts/{id}/unmute:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Unmute the given account.
      responses:
        '200':
          description: Successfully unmuted, or account was already unmuted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}/pin:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Add the given account to the user's featured profiles. (Featured profiles are currently shown on the user's own public profile.)
      responses:
        '200':
          description: Successfully unmuted, or account was already unmuted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '403':
          description: Token is not authorized with a valid user or is missing a required scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: You are not following this account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '500':
          description: Account already endorsed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/{id}/unpin:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Remove the given account from the user's featured profiles.
      responses:
        '200':
          description: Successfully unmuted, or account was already unmuted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: Unprocessable Entity
  
  /api/v1/accounts/{id}/note:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Sets a private note on a user.
      requestBody:
        content:
            application/form-data:
              schema:
                type: object
                properties:
                  comment:
                    description: The comment to be set on that user. Provide an empty string or leave out this parameter to clear the currently set note.
                    type: string
      responses:
        '200':
          description: Successfully unmuted, or account was already unmuted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: Unprocessable Entity

  /api/v1/accounts/relationships:
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Sets a private note on a user.
      parameters:
        - in: query
          name: id
          description: Array of account IDs to check
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/accounts/search:
    get:
      tags:
        - accounts
      security:
        - bearerAuth: []
      description: Search for matching accounts by username or display name.
      parameters:
        - name: q
          in: query
          description: What to search for
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results. Defaults to 40.
          schema:
            type: integer
            default: 40
        - name: resolve
          in: query
          description: Attempt WebFinger lookup. Defaults to false. Use this when `q` is an exact address.
          schema:
            type: string
        - name: following
          in: query
          description: Only who the user is following. Defaults to false.
          schema:
            type: boolean
      responses:
        '200':
          description: Accounts matching `q` in username or display name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '503':
          description: resolve=true, but the domain part of the user@domain address is not a currently live website
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/bookmarks:
    get:
      security:
        - bearerAuth: []
      description: Statuses the user has bookmarked.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: max_id
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
        - name: min_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/favourites:
    get:
      security:
        - bearerAuth: []
      description: Statuses the user has favourited.
      parameters:
        - name: limit
          in: query
          schema:
            type: string
        - name: max_id
          in: query
          schema:
            type: string
        - name: min_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/mutes:
    get:
      security:
        - bearerAuth: []
      description: Accounts the user has muted.
      parameters:
        - name: limit
          in: query
          schema:
            type: string
        - name: max_id
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/blocks:
    get:
      security:
        - bearerAuth: []
      description: Get blocked users.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: max_id
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              
  /api/v1/domain_blocks:
    get:
      security:
        - bearerAuth: []
      description: View domains the user has blocked.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: max_id
          in: query
          schema:
            type: string
        - name: since_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      security:
        - bearerAuth: []
      description: |
        "Block a domain to:
        - hide all public posts from it
        - hide all notifications from it
        - remove all followers from it
        - prevent following new users from it (but does not remove existing follows)"
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  description: Domain to block.
                  type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: If `domain` is not provided or contains spaces, the request will fail.

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      security:
        - bearerAuth: []
      description: Remove a domain block, if it exists in the user's array of blocked domains.
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - domain
              properties:
                domain:
                  description: Domain to unblock.
                  type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: If `domain` is not provided or contains spaces, the request will fail.

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        
  /api/v1/filters:
    get:
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Excerpts of various filters in different contexts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Filter"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - phrase
                - context
              properties:
                phrase:
                  description: Text to be filtered.
                  type: string
                context:
                  description: Array of enumerable strings `home`, `notifications`, `public`, `thread`. At least one context must be specified.
                  type: array
                  items: 
                    type: string
                    enum:
                      - home
                      - notifications
                      - public
                      - thread
                irreversible:
                  description: Should the server irreversibly drop matching entities from home and notifications?
                  type: boolean
                whole_word:
                  description: Consider word boundaries?
                  type: boolean
                expires_in:
                  description: Number of seconds from now the filter should expire. Otherwise, null for a filter that doesn't expire.
                  type: integer
      responses:
        '200':
          description: The newly-created filter will be returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: If phrase or context are not provided properly
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/filters/{id}:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    get:
      security:
        - bearerAuth: []
      description: Get one filter.
      responses:
        '200':
          description: Filter returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Filter ID does not exist, or is not owned by you
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      security:
        - bearerAuth: []
      description: Update a filter.
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - phrase
                - context
              properties:
                phrase:
                  description: Text to be filtered.
                  type: string
                context:
                  description: Array of enumerable strings `home`, `notifications`, `public`, `thread`. At least one context must be specified.
                  type: array
                  items: 
                    type: string
                    enum:
                      - home
                      - notifications
                      - public
                      - thread
                irreversible:
                  description: Should the server irreversibly drop matching entities from home and notifications?
                  type: boolean
                whole_word:
                  description: Consider word boundaries?
                  type: boolean
                expires_in:
                  description: Number of seconds from now the filter should expire. Otherwise, null for a filter that doesn't expire.
                  type: integer
      responses:
        '200':
          description: Filter updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Filter ID does not exist, or is not owned by you
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '422':
          description: If phrase or context are not provided properly
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      security:
        - bearerAuth: []
      description: Delete a filter.
      responses:
        '200':
          description: The filter has been deleted successfully, so an empty object will be returned.
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Filter ID does not exist, or is not owned by you
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/reports:
    post:
      security:
        - bearerAuth: []
      description: File a report.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
              properties:
                account_id:
                  description: ID of the account to report
                  type: string
                status_ids:
                  description: Array of Statuses to attach to the report, for context
                  type: array
                  items:
                    type: string
                comment:
                  description: Reason for the report (default max 1000 characters)
                  type: string
                forward:
                  description: If the account is remote, should the report be forwarded to the remote admin?
                  type: boolean
      responses:
        '200':
          description: Successfully reported.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/follow_requests:
    get:
      security:
        - bearerAuth: []
      description: Pending Follows
      parameters:
        - name: limit
          description: Maximum number of results to return. Defaults to 40. Paginate using the HTTP Link header.
          in: query
          schema:
            type: integer
            default: 40
      responses:
        '200':
          description: Accounts that are requesting a follow.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/follow_requests/{id}/authorize:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Accept Follow
      responses:
        '200':
          description: Your Relationship with this account should be updated so that you are followed_by this account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: No pending follow request from that user ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/follow_requests/{id}/reject:
    parameters:
      - in: path
        name: id
        description: The id of the account in the database
        required: true
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Accept Follow
      responses:
        '200':
          description: Your Relationship with this Account should be unchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relationship"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: No pending follow request from that user ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/endorsements:
    get:
      security:
        - bearerAuth: []
      description: Accounts that the user is currently featuring on their profile.
      parameters:
        - name: limit
          description: Maximum number of results to return. Defaults to 40. Paginate using the HTTP Link header.
          in: query
          schema:
            type: integer
            default: 40
        - name: max_id
          description: Internal parameter. Use HTTP Link header from response for pagination
          in: query
          schema:
            type: string
        - name: since_id
          description: Internal parameter. Use HTTP Link header from response for pagination.
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success. Because endorsement ids are private, you must parse the HTTP Link header to find next and previous pages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        
  /api/v1/featured_tags:
    get:
      security:
        - bearerAuth: []
      description: View your featured tags.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FeaturedTag"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      security:
        - bearerAuth: []
      description: Create a feature a tag.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeaturedTag"
        '422':
          description: If name is not a valid hashtag, e.g. contains illegal characters or only numbers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/featured_tags/{id}:
    parameters:
      - in: path
        name: id
        description: The id of the FeaturedTag to be unfeatured.
        required: true
        schema:
          type: string
    delete:
      security:
        - bearerAuth: []
      description: Unfeature a tag
      responses:
        '200':
          description: An empty object will be returned if the featured tag was successfully deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: If the ID does not exist or is not owned by you
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/featured_tags/suggestions:
    get:
      security:
        - bearerAuth: []
      description: Shows your 10 most-used tags, with usage history for the past week.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FeaturedTag"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/preferences:
    get:
      security:
        - bearerAuth: []
      description: Shows your 10 most-used tags, with usage history for the past week.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Preferences"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/suggestions:
    get:
      security:
        - bearerAuth: []
      description: Accounts the user has had past positive interactions with, but is not yet following.
      parameters:
        - name: limit
          description: Maximum number of results to return. Defaults to 40.
          in: query
          schema:
            type: integer
            default: 40
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/suggestions/{id}:
    parameters:
      - in: path
        name: id
        description: id of the account in the database to be removed from suggestions
        required: true
        schema:
          type: string
    delete:
      security:
        - bearerAuth: []
      description: Delete user suggestion
      responses:
        '200':
          description: Successfully removed
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/statuses:
    parameters:
      - in: header
        name: Idempotency-Key
        description: Prevent duplicate submissions of the same status. Idempotency keys are stored for up to 1 hour, and can be any arbitrary string. Consider using a hash or UUID generated client-side.
        schema:
          type: string
    
    post:
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              properties:
                status:
                  description: Text content of the status. If `media_ids` is provided, this becomes optional. Attaching a `poll` is optional while `status` is provided.
                  type: string
                media_ids:
                  description: Array of Attachment ids to be attached as media. If provided, `status` becomes optional, and `poll` cannot be used.
                  type: array
                  items:
                    type: string
                poll:
                  type: array
                  items:
                    type: object
                  additionalProperties: true
                in_reply_to_id:
                  description: ID of the status being replied to, if status is a reply
                  type: string
                sensitive:
                  description: Mark status and attached media as sensitive?
                  type: boolean
                spoiler_text:
                  description: Text to be shown as a warning or subject before the actual content. Statuses are generally collapsed behind this field.
                  type: string
                visibility:
                  description: Visibility of the posted status. Enumerable oneOf public, unlisted, private, direct.
                  type: string
                  enum:
                    - public
                    - unlisted
                    - private
                    - direct
                scheduled_at:
                  description: ISO 8601 Datetime at which to schedule a status. Providing this paramter will cause ScheduledStatus to be returned instead of Status. Must be at least 5 minutes in the future.
                  type: string
                language:
                  description: ISO 639 language code for this status.
                  type: string
      responses:
        '200':
          description: Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead.
          content:
            application/json:
              schema:
                oneOf:
                 - $ref: "#/components/schemas/Status"
                 - $ref: "#/components/schemas/ScheduledStatus"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        

  /api/v1/statuses/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    get:
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/Status"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Status does not exist, is deleted, or is private.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/Status"
        '401':
          description: Invalid or missing Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Status does not exist, is deleted, or is private.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/statuses/{id}/context:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    get:
      security:
        - bearerAuth: []
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Context"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/reblogged_by:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    get:
      description: View who boosted a given status.
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Account"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"  

  /api/v1/statuses/{id}/favourited_by:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    get:
      description: View who favourited a given status.
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Account"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/favourite:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Add a status to your favourites list.
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/statuses/{id}/unfavourite:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Remove a status from your favourites list.
      responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/reblog:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Reshare a status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  description: any visibility except limited or direct (i.e. public, unlisted, private). Defaults to public. Currently unused in UI.
                  type: string
      responses:
          '200':
            description: Status has been reblogged. Note that the top-level id has changed. The id of the boosted status is now inside the reblog property. The top-level id is the id of the reblog itself. Also note that reblogs cannot be pinned.

            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/statuses/{id}/unreblog:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Undo a reshare of a status.
      responses:
          '200':
            description: Status no longer reblogged
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/bookmark:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Privately bookmark a status.
      responses:
          '200':
            description: Status bookmarked
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
                  
  /api/v1/statuses/{id}/unbookmark:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Remove a status from your private bookmarks.
      responses:
          '200':
            description: Status unbookmarked
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/statuses/{id}/mute:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Do not receive notifications for the thread that this status is part of. Must be a thread in which you are a participant.
      responses:
          '200':
            description: Status's conversation muted, or was already muted
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/unmute:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Status's conversation unmuted, or was already unmuted
      responses:
          '200':
            description: Status's conversation muted, or was already muted
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/statuses/{id}/pin:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Feature one of your own public statuses at the top of your profile.
      responses:
          '200':
            description: Status pinned. Note the status is not a reblog and its authoring account is your own.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '422':
            description: Status is not owned by you, or is not public. You cannot pin one of your private statuses because private statuses cannot be fetched from remote sites, and must be delivered.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/statuses/{id}/unpin:
    parameters:
      - in: path
        name: id
        required: true
        description: Local ID of a status in the database.
        schema:
          type: string
    post:
      security:
        - bearerAuth: []
      description: Unfeature a status from the top of your profile.
      responses:
          '200':
            description: Status unpinned, or was already not pinned
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Status"
          '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
          '404':
            description: Status does not exist, is deleted, or is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/media:
    post:
      security:
        - bearerAuth: []
      description: Creates an attachment to be used with a new status.
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  description: The file to be attached, using multipart form data.
                  type: string
                  format: binary
                thumbnail:
                  description: The custom thumbnail of the media to be attached, using multipart form data.
                  type: string
                  format: binary
                description:
                  description: A plain-text description of the media, for accessibility purposes.
                  type: string
                focus:
                  description: Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0 (see “Focal points” below)
                  type: string
      responses:
        '200':
          description: Attachment created successfully. Note that the Attachment will be created even if the file is not understood correctly.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
          description: File or file type is unsupported or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/media/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: The id of the Attachment entity to be updated.
        schema:
          type: string
    get:
      security:
        - bearerAuth: []
      description: Get an attachement.
      responses:
        '200':
          description: Attachment created successfully. Note that the Attachment will be created even if the file is not understood correctly.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        '206':
          description: Attachment is not yet ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Attachment does not exist, is deleted, or was not created by you
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
          description: File or file type is unsupported or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    
    post:
      security:
        - bearerAuth: []
      description: Update an Attachment, before it is attached to a status and posted.
      requestBody:
        content:
          application/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  description: The file to be attached, using multipart form data.
                  type: string
                  format: binary
                thumbnail:
                  description: The custom thumbnail of the media to be attached, using multipart form data.
                  type: string
                  format: binary
                description:
                  description: A plain-text description of the media, for accessibility purposes.
                  type: string
                focus:
                  description: Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0 (see “Focal points” below)
                  type: string
      responses:
        '200':
          description: Attachment updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Attachment does not exist, is deleted, or was not created by you
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
          description: File or file type is unsupported or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /api/v1/polls/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: ID of the poll in the database.
        schema:
          type: string
    get:
      description: View a poll.
      responses:
        '200':
          description: Get one poll.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Poll"
        '404':
            description: Poll does not exist, or poll's parent status is private
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    
    post:
      security:
        - bearerAuth: []
      description: Vote on a poll.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - choices
              properties:
                choices:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Get one poll.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Poll"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Poll does not exist, or poll's parent status is private.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
            description: Already voted or poll is expired.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/scheduled_statuses:
    get:
      security:
          - bearerAuth: []
      description: View scheduled statuses
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - choices
              properties:
                limit:
                  description: Max number of results to return. Defaults to 20.
                  type: integer
                  default: 20
                max_id:
                  description: Return results older than ID
                  type: string
                since_id:
                  description: Return results newer than ID
                  type: string
                min_id:
                  description: Return results immediately newer than ID
                  type: string
      responses:
        '200':
          description: Get scheduled statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScheduledStatus"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/scheduled_statuses/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: ID of the scheduled status in the database.
        schema:
          type: string
    get:
      security:
          - bearerAuth: []
      description: View a single scheduled status
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduledStatus"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    put:
      security:
          - bearerAuth: []
      description: View a single scheduled status
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_at:
                  description: ISO 8601 Datetime at which the status will be published. Must be at least 5 minutes into the future.
                  type: string
                  format: date-time
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduledStatus"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
            description: Unprocessable Entity
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    delete:
      security:
          - bearerAuth: []
      description: Cancel a scheduled status
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/timelines/public:
    get:
      description: Public timeline
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                local:
                  description: Show only local statuses? Defaults to false.
                  type: boolean
                  default: false
                remote:
                  description: Show only local statuses? Defaults to false.
                  type: boolean
                  default: false
                only_media:
                  description: Show only statuses with media attached? Defaults to false..
                  type: boolean
                  default: false
                max_id:
                  description: Return results older than this id.
                  type: string
                since_id:
                  description: Return results newer than this id.
                  type: string
                min_id:
                  description: Return results immediately newer than this id.
                  type: string
                limit:
                  description: Maximum number of results to return. Defaults to 20.
                  type: integer
                  default: 20
      responses:
        '200':
          description: get statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"

  /api/v1/timelines/tag/{hashtag}:
    parameters:
      - in: path
        name: hashtag
        required: true
        description: Content of a `#hashtag``, not including `#` symbol..
        schema:
          type: string
    get:
      description: View public statuses containing the given hashtag.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                local:
                  description: Show only local statuses? Defaults to false.
                  type: boolean
                  default: false
                remote:
                  description: Show only local statuses? Defaults to false.
                  type: boolean
                  default: false
                only_media:
                  description: Show only statuses with media attached? Defaults to false..
                  type: boolean
                  default: false
                max_id:
                  description: Return results older than this id.
                  type: string
                since_id:
                  description: Return results newer than this id.
                  type: string
                min_id:
                  description: Return results immediately newer than this id.
                  type: string
                limit:
                  description: Maximum number of results to return. Defaults to 20.
                  type: integer
                  default: 20
      responses:
        '200':
          description: Get statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"

  /api/v1/timelines/home:
    get:
      security:
        - bearerAuth: []
      description: View statuses from followed users.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                local:
                  description: Show only local statuses? Defaults to false.
                  type: boolean
                  default: false
                max_id:
                  description: Return results older than this id.
                  type: string
                since_id:
                  description: Return results newer than this id.
                  type: string
                min_id:
                  description: Return results immediately newer than this id.
                  type: string
                limit:
                  description: Maximum number of results to return. Defaults to 20.
                  type: integer
                  default: 20
      responses:
        '200':
          description: Get statuses for home.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"
        '206':
          description: Home feed is regenerating
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/timelines/list/{list_id}:
    parameters:
      - in: path
        name: list_id
        required: true
        description: Local ID of the list in the database.
        schema:
          type: string
    get:
      security:
        - bearerAuth: []
      description: View statuses in the given list timeline.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                max_id:
                  description: Return results older than this id.
                  type: string
                since_id:
                  description: Return results newer than this id.
                  type: string
                min_id:
                  description: Return results immediately newer than this id.
                  type: string
                limit:
                  description: Maximum number of results to return. Defaults to 20.
                  type: integer
                  default: 20
      responses:
        '200':
          description: Statuses in this list will be returned..
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Status"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/conversations:
    get:
      security:
        - bearerAuth: []
      description: Show conversation.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                max_id:
                  description: Return results older than this id.
                  type: string
                since_id:
                  description: Return results newer than this id.
                  type: string
                min_id:
                  description: Return results immediately newer than this id.
                  type: string
                limit:
                  description: Maximum number of results to return. Defaults to 20.
                  type: integer
                  default: 20
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Conversation"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /api/v1/conversations/{id}:
    parameters:
      - in: path
        name: id
        required: true
        description: ID of the conversation in the database
        schema:
          type: string
    delete:
      security:
          - bearerAuth: []
      description: Remove converstation
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/conversations/{id}/read:
    parameters:
      - in: path
        name: id
        required: true
        description: ID of the conversation in the database
        schema:
          type: string
    post:
      security:
          - bearerAuth: []
      description: Remove converstation
      responses:
        '200':
          description: The value of unread has been changed to false..
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '404':
            description: Not Found
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
  
  /api/v1/lists:
    get:
      security:
          - bearerAuth: []
      description: Fetch all lists that the user owns.
      responses:
        '200':
          description: Use id as a parameter for related API calls.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/List"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    post:
      security:
          - bearerAuth: []
      description: Create a new list.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  description: The title of the list to be created.
                  type: string
                replies_policy:
                  description: Enumerable oneOf followed list none. Defaults to list.
                  type: string
                  default: list
                  enum:
                    - followed
                    - list
                    - none
      responses:
        '200':
          description: A list was created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/List"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    put:
      security:
          - bearerAuth: []
      description: Change the title of a list, or which replies to show.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: The title of the list to be created.
                  type: string
                replies_policy:
                  description: Enumerable oneOf followed list none. Defaults to list.
                  type: string
                  default: list
                  enum:
                    - followed
                    - list
                    - none
      responses:
        '200':
          description: A list was updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/List"
        '401':
            description: Invalid or missing Authorization header
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
        '422':
            description: Unprocessable Entity
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    delete:
      security:
          - bearerAuth: []
      description: Delete a list
      responses:
        '200':
          description: A list was deleted successfully
          content:
            application/json:
              schema:
                type: object
        '401':
[...]
