%tr
  %td.domain
    %samp= link_to domain_block.domain, admin_domain_block_path(domain_block)
  %td.severity
    = t("admin.domain_blocks.severities.#{domain_block.severity}")
  %td.reject_media
    - if domain_block.reject_media? || domain_block.suspend?
      %i.fa.fa-check
