- content_for :page_title do
  Domain Blocks

%table.table
  %thead
    %tr
      %th Domain
      %th Severity
  %tbody
    - @blocks.each do |block|
      %tr
        %td
          %samp= block.domain
        %td= block.severity

= paginate @blocks
= link_to 'Add new', new_admin_domain_block_path, class: 'button'
