%tr
  %td
    = admin_account_link_to(account)
  %td
    %div{ style: 'margin: -2px 0' }= account_badge(account, all: true)
  %td
    - if account.user_current_sign_in_ip
      %samp= account.user_current_sign_in_ip
    - else
      \-
  %td
    - if account.user_current_sign_in_at
      %time.time-ago{ datetime: account.user_current_sign_in_at.iso8601, title: l(account.user_current_sign_in_at) }= l account.user_current_sign_in_at
    - else
      \-
