@import "../app/assets/stylesheets/fonts/roboto";
@import "../app/assets/stylesheets/fonts/roboto-mono";

#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: #282c37;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 140px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  padding: 4rem;
}
