@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);

#root {
  font-family: 'Roboto', sans-serif;
  background: #282c37;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 140px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  padding: 4rem;
}
