@import 'styles/mastodon/variables';

.glitch.local-settings__navigation {
  background: $primary-text-color;
  color: $ui-base-color;
  width: 200px;
  font-size: 15px;
  line-height: 20px;
  overflow-y: auto;
}
