<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that the backup recovery codes you use on <%= @instance %> were regenerated. Recovery codes allow you to regain access to your account if you lose your phone.</p>

<p>If you did not regenerate the recovery codes yourself, it is likely that someone has gained access to your account. Please change your password and reset your two-factor authentication settings immediately or contact the instance admin if you're locked out of your account.</p>

<p>Sincerely,<p>

<p>The <%= @instance %> team</p>
