<p>Здраво <%= @resource.email %>!</p>

<p>Неко је затражио линк за промену лозинке на инстанци <%= @instance %>. Ово можете урадити кликом на линк испод.</p>

<p><%= link_to 'Промени моју лозинку', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Игноришите ову поруку, ако нисте Ви били ти који сте затражили промену лозинке.</p>
<p>Лозинка се неће променити све док не кликнете линк изнад и не направите нову лозинку.</p>
