<p>こんにちは<%= @resource.email %>さん</p>

<p>Mastodonアカウントのパスワードの変更がリクエストされました。以下のリンクをクリックして操作を完了できます。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見に覚えのない場合は無視してください。</p>
<p>上記のリンクにアクセスし、変更をしない限りパスワードは変更されません。</p>
