<p>Merhaba <%= @resource.email %></p>

<p>Biri <%= @instance %> üzerinden sizin hesabınız için parola değişim isteği gönderdi. Aşağıdaki linke tıklayarak bunu gerçekleştirebilirsiniz.</p>

<p><%= link_to 'Parolamı değiştir', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Eğer bu isteği siz göndermediyseniz, lütfen bu e-postayı görmezden geliniz.</p>

<p>Siz bu linke tıklayıp yeni bir parola girene kadar parolanız değişmeyecektir.</p>

<p>En içten dileklerimizle,<p>

<p> <%= @instance %> ekibi</p>

