<div lang="he" dir="rtl">
<p>שלום <%= @resource.email %>!</p>

<p>מישהו ביקש לינק להחלפת סיסמתך במסטודון. באפשרותך לעשות זאת ע"י בלחיצה על הקישורית שבהמשך.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>אם בקשה זו לא הגיעה ממך, אפשר להתעלם מההודעה.</p>
<p>סיסמתך לא תוחלף לפני שהקישורית תיפתח בדפדפן וסיסמא חדשה תוכנס.</p>
</div>