
<p>Hei <%= @resource.email %>!</p>

<p>Noen har forespurt en lenke til å bytte passord på din Mastodon-bruker. Du kan gjøre det ved å følge lenken under.</p>

<p><%= link_to 'Endre mitt passord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Hvis du ikke vil endre ditt passord kan du ignorere denne epost.</p>
<p>Passordet ditt blir ikke endret før du følger lenken over og endrer det.</p>
