<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un link per cambiare la tua password su Mastodon. Lo puoi fare tramite il link qui sotto.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non l'hai richiesto tu, ignora questa email.</p>
<p>La tua password non verrà cambiata finché non accedi al link qui sopra e ne crei una nuova.</p>
