<p>¡Hola, <%= @resource.email %>!</p>

<p>Alguien pidió un enlace para cambiar tu contraseña en <%= @instance %>. Puedes hacer esto con el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú, por favor ignora este mensaje.</p>
<p>Tu contraseña no cambiará hasta que ingreses al enlace y crees una nueva.</p>
