<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou um link para mudar a sua senha no <%= @instance %>. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Mudar a minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore este e-mail.</p>
<p>A senha senha não será modificada até que você acesse o link acima e crie uma nova.</p>
