Bonjorn <%= @resource.email %> !

Qualqu’un a demandat la reĩnicializacion de vòstre senhal per Mastodon. Podètz realizar la reĩnicializacion en clicant sul ligam çai-jos.</p>

<%= link_to 'Modificar mon senhal', edit_password_url(@resource, reset_password_token: @token) %>

S’avètz pas res demandat, fasquètz pas cas a aqueste corrièl.
Vòstre senhal cambiarà pas se clicatz pas sul ligam e que ne causissètz pas un novèl.
