<p>Γειά σου <%= @resource.email %>!</p>

<p>Κάποιος ζήτησε την αλλαγή του κωδικού σου στο <%= @instance %>. Μπορείς να το κάνεις από τον ακόλουθο σύνδεσμο.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Αν δεν το ζήτησες εσύ, αγνόησε αυτό το email.</p>
<p>Ο κωδικός σου δεν θα αλλάξει μέχρι να χρησιμοποιήσεις το παραπάνω σύνδεσμο.</p>
