<p>Hallo <%= @resource.email %>!</p>

<p>Er heeft iemand een nieuw wachtwoord aangevraagd voor Mastodon. Je kan op de link hieronder klikken om jouw wach
twoord te veranderen.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Je kan deze e-mail negeren wanneer jij dit niet hebt aangevraagd.</p>
<p>Jouw wachtwoord blijft onveranderd wanneer je niet op bovenstaande link klikt.</p>
