<p>Hai <%= @resource.email %>!</p>

<p>Seseorang telah melakukan permintaan link untuk merubah kata sandi anda di Mastodon. Anda bisa melakukan ini melalui link dibawah ini.</p>

<p><%= link_to 'Ubah kata sandi saya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika anda tidak memintanya, mohon abaikan email ini.</p>
<p>Password anda tidak akan diubah kecuali anda mengakses link di atas dan menggantinya.</p>
