<p><%= @resource.email %>，你好呀！</p>

<p>有人想修改你在 <%= @instance %> 上的密码呢。如果你确实想修改密码的话，点击下面的链接吧：</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你不想修改密码的话，还请忽略这封邮件哦。</p>
<p>在你点击上面的链接并修改密码前，你的密码是不会改变的。</p>
