<p>Witaj, <%= @resource.email %>!</p>

<p>Ktoś próbował zmienić Twoje hasło na <%= @instance %>. Możesz zrobić to klikając w 
poniższy link.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli to nie Ty, zignoruj ten e-mail.</p>
<p>Twoje hasło nie zostanie zmienione, dopóki nie użyjesz linku z podobnej wiadomości.</p>
