<p>Bonjorn <%= @resource.email %>&nbsp;!</p>

<p>Qualqu’un a demandat una reĩnicializacion de vòstre senhal per Mastodon. Podètz realizar la reĩnicializacion ne clicant sul ligam çai-jos.</p>

<p><%= link_to 'Modificar mon senhal', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>S’avètz pas res demandat, fasquètz pas cas a aqueste corrièl.</p>
<p>Vòstre senhal cambiarà pas se clicatz pas sul ligam e que ne causissètz pas un nòu.</p>
