<p><%= @resource.email %> ，嗨呀!!</p>

<p>有人（但愿是你）请求更改你Mastodon账户的密码。如果是你的话，请点击下面的链接：</p>

<p><%= link_to '更改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是的话，忘了它吧。只有你本人通过上面的链接设置新的密码以后你的新密码才会生效。</p>
