<p>Hej <%= @resource.email %>!</p>

<p>SNågon har begärt en länk för att ändra ditt lösenord på <%= @instance %>. Du kan göra det genom länken nedan.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om du inte begärt detta, ignorerar du det här e-postmeddelandet.</p>
<p>Ditt lösenord ändras inte förrän du öppnar länken ovan och skapar en ny.</p>
