= content_for :heading do
  = render 'application/mailer/heading',
           image_url: frontend_asset_url('images/mailer-new/heading/2fa-enabled.png'),
           subtitle: t('devise.mailer.two_factor_enabled.subtitle'),
           title: t('devise.mailer.two_factor_enabled.title')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td.email-prose
            %p= t 'devise.mailer.two_factor_enabled.explanation'
            = render 'application/mailer/button', text: t('settings.account_settings'), url: edit_user_registration_url
