= content_for :heading do
  = render 'application/mailer/heading',
           image_url: frontend_asset_url('images/mailer-new/heading/key-deleted.png'),
           subtitle: t('devise.mailer.webauthn_credential.deleted.explanation'),
           title: t('devise.mailer.webauthn_credential.deleted.title')
%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-body-padding-td
      %table.email-inner-card-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-inner-card-td.email-prose
            %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
              %tr
                %td.email-frame-wrapper-td
                  = render 'application/mailer/frame', text: @webauthn_credential.nickname
            = render 'application/mailer/button', text: t('settings.account_settings'), url: edit_user_registration_url
