.wrapper {
  display: flex;
  align-items: start;
  padding-block: 16px;

  &[data-with-border='true'] {
    border-bottom: 1px solid var(--color-border-primary);
  }

  :global(.account__note) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  // Hide 'No description provided' message added by `Account` component
  :global(.account__note--missing) {
    display: none;
  }
}

.account {
  --account-name-size: 15px;
  --account-handle-color: var(--color-text-secondary);
  --account-handle-size: 13px;
  --account-bio-color: var(--color-text-primary);
  --account-bio-size: 13px;
  --account-outer-spacing: 0;

  flex-grow: 1;
}

.extraInfo {
  margin-top: 8px;

  &:empty {
    display: none;
  }
}
