.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 15px;
}

.bioField {
  // 160px is approx the height of the modal header and footer
  max-height: calc(80vh - 160px);
}

.toggleInputWrapper {
  > div {
    padding: 12px 0;

    &:not(:first-child) {
      border-top: 1px solid var(--color-border-primary);
    }
  }
}

.field {
  touch-action: none;

  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 12px;

  padding: 12px 0;
}

.fieldNotFirst::before,
.fieldActiveUnder::after {
  content: '';

  position: absolute;
  right: 0;
  left: 0;

  height: 1px;

  background: var(--color-border-primary);
}

.fieldNotFirst::before {
  top: 0;
}

.fieldActiveUnder::after {
  bottom: -1px; // -1px to cover the border of the next field
}

.fieldHandle {
  cursor: grab;

  grid-row: span 2;
  align-self: center;

  padding: 8px 0;
  border-radius: 4px;

  background: var(--color-bg-secondary);

  transition: background 0.2s ease-in-out;

  &:hover {
    background: var(--color-bg-brand-softest);
  }

  &:focus-visible {
    outline: var(--outline-focus-default);
    outline-offset: 2px;
  }
}

.fieldDragging {
  cursor: grabbing;

  p {
    opacity: 0.7;
  }

  .fieldHandle {
    cursor: grabbing;
    background: var(--color-bg-brand-soft);
  }
}

.uploadWrapper {
  justify-content: center;
  min-height: min(400px, 70vh);
}

.uploadStepSelect {
  text-align: center;

  h2 {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-text-primary);
  }

  button {
    margin-top: 16px;
  }
}

.cropContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.cropActions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;

  margin-top: 8px; // 16px gap from DialogModal, plus 8px = 24px to look like normal action buttons.
}

.zoomControl {
  margin-right: auto;
  font-size: 13px;

  input {
    width: min(100%, 200px);
  }
}

.altImage {
  align-self: flex-start;

  max-height: 150px;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--avatar-border-radius);

  object-fit: contain;
}

.altHint {
  ul {
    margin-bottom: 1em;
    padding-left: 1em;
    list-style: disc;
  }
}

.verifiedSteps {
  font-size: 15px;

  li {
    counter-increment: steps;
    position: relative;
    margin-top: 24px;
    padding-left: 34px;

    &::before {
      content: counter(steps);

      position: absolute;
      left: 0;

      width: 16px;
      height: 16px;
      padding: 4px;
      border: 1px solid var(--color-border-primary);
      border-radius: 9999px;

      font-weight: 600;
      line-height: 16px;
      text-align: center;
    }

    h2 {
      font-weight: 600;
    }
  }
}
