.attachment-list
  .attachment-list__icon
    = material_symbol 'link'
  %ul.attachment-list__list
    - attachments.each do |media|
      %li
        - url = media.remote_url.presence || media.file.url
        = link_to File.basename(url), url, title: media.description
