.fields-row
  .fields-group.fields-row__column.fields-row__column-6
    = form.input :data,
                 as: :file,
                 hint: t('simple_form.hints.imports.data'),
                 wrapper: :with_block_label
