.wrapper {
  position: relative;
}

.input {
  padding-inline-end: 45px;
}

.menuButton {
  position: absolute;
  inset-inline-end: 1px;
  top: 1px;
  padding: 7px;

  &::before {
    // Subtle divider line separating the button from the input field
    content: '';

    position: absolute;
    inset-block: 10px;
    inset-inline-start: 0;

    border-inline-start: 1px solid var(--color-border-primary);
  }
}

.popover {
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  z-index: 9999;

  overflow-y: auto;
  overscroll-behavior-y: contain;

  box-sizing: border-box;
  max-height: min(320px, 50dvh);
  border: 1px solid var(--color-border-primary);
  border-radius: 4px;

  color: var(--color-text-primary);

  background: var(--color-bg-primary);
  box-shadow: var(--dropdown-shadow);
}

.groupTitle {
  padding: 8px 16px 4px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.menuItem {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: center;

  margin-inline: 4px;
  padding: 8px 12px;
  border-radius: 4px;

  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);

  &:first-child {
    margin-top: 4px;
  }

  &:last-child {
    margin-bottom: 4px;
  }

  &[data-highlighted='true'] {
    background: var(--color-bg-highlight);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    color: var(--color-text-disabled);
  }
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  padding: 16px;

  font-size: 13px;
  text-align: center;
}

.loadingIndicator {
  --spinner-size: 20px;

  position: relative;

  overflow: hidden;
  display: block;

  width: var(--spinner-size);
  height: var(--spinner-size);

  & :global(.circular-progress) {
    width: var(--spinner-size);
    height: var(--spinner-size);
  }
}
