.radioButton {
  --size: 16px;

  appearance: none;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  margin: 0;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
  border-radius: 100%;
  border: calc(var(--size) / 4) solid transparent;
  box-shadow: 0 0 0 1px var(--color-border-primary);
  background-color: var(--color-bg-primary);
  transition: 0.15s ease-out;
  transition-property: border-color;
  cursor: pointer;

  &:disabled {
    background: var(--color-bg-tertiary);
    box-shadow: none;
    cursor: not-allowed;
  }

  &:checked {
    border-color: var(--color-bg-brand-base);
    box-shadow: none;

    &:disabled {
      border-color: var(--color-text-disabled);
    }
  }

  &:focus-visible {
    outline: var(--outline-focus-default);
    outline-offset: 2px;
  }
}
