.radioButton {
  --size: 16px;
  --border-width: calc(var(--size) / 4);

  cursor: pointer;

  position: relative;

  display: inline-flex;

  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
  margin: 0;
  border: var(--border-width) solid transparent;
  border-radius: 100%;

  vertical-align: top;

  appearance: none;
  background-color: var(--color-bg-primary);
  box-shadow: 0 0 0 1px var(--color-border-primary);

  transition: 0.15s ease-out;
  transition-property: border-color;

  /* Increase clickable area, prevents misclicks and covers gap between control and label */
  &::after {
    --spread: calc(var(--border-width) + var(--form-field-label-gap, 8px));

    content: '';
    position: absolute;
    inset-block: calc(-0.75 * var(--spread));
    inset-inline: calc(-1 * var(--spread));
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--color-bg-tertiary);
    box-shadow: none;
  }

  &:checked {
    border-color: var(--color-bg-brand-base);
    box-shadow: none;

    &:disabled {
      border-color: var(--color-text-disabled);
    }
  }

  &:focus-visible {
    outline: var(--outline-focus-default);
    outline-offset: 2px;
  }
}
