.inputWrapper {
  label {
    font-size: var(--fs-sm);
  }

  span {
    font-size: var(--fs-2xs);
    line-height: var(--fs-lg);
  }
}

input.input {
  font-size: var(--fs-lg);
  background: none;
  border-radius: var(--space-xs);
  border-color: color-mix(
    in srgb,
    var(--color-border-strong) 70%,
    var(--color-bg-primary)
  );
  padding: var(--space-xs);

  &:hover:not(:disabled) {
    box-shadow: 0 1px var(--space-2xs) 0
      rgb(from var(--color-text-primary) r g b / 10%);
  }

  &:focus {
    outline: 2px solid var(--color-border-brand);
  }

  &:disabled {
    border-color: var(--color-text-disabled);
  }
}

// Use double class to override original styles.
.toggle.toggle {
  background: rgb(from var(--color-bg-inverted) r g b / 70%);

  &::before {
    box-shadow: none;
    background: var(--color-bg-primary);
  }
}

.toggle.toggleSmall {
  --padding: 2px;
  --diameter: 14px;

  width: 32px;
}

input:checked + .toggle.toggleSmall::before {
  transform: translateX(var(--diameter));
}
