.input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--color-border-primary);
  border-radius: 4px;

  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);

  background: var(--color-bg-secondary);
  outline: var(--outline-focus-default);
  outline-color: transparent;
  outline-offset: -1px;

  transition: outline-color 0.15s ease-out;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  .iconWrapper & {
    // Make space for icon displayed at start of input
    padding-inline-start: 36px;
  }

  &:focus:user-invalid,
  &:required:user-invalid,
  [data-has-error='true'] & {
    outline-color: var(--color-border-error);
  }

  &:focus {
    outline-color: var(--color-border-brand);
  }

  &:required:user-valid {
    outline-color: var(--color-text-success);
  }

  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    color: var(--color-text-disabled);
  }

  @media screen and (width <= 600px) {
    font-size: 16px;
  }
}

textarea.input {
  resize: vertical;
}

.iconWrapper {
  position: relative;
}

.icon {
  pointer-events: none;

  position: absolute;
  inset-block-start: 10px;
  inset-inline-start: 10px;

  width: 22px;
  height: 22px;

  color: var(--color-text-secondary);
}
