.wrapper {
  --diameter: 20px;
  --padding: 2px;
  --transition: 0.2s ease-in-out;

  position: relative;
  display: inline-block;
  height: calc(var(--diameter) + var(--padding) * 2);
}

.input {
  cursor: pointer;

  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  margin: 0;

  opacity: 0;
}

.toggle {
  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  width: calc(var(--diameter) * 2);
  padding: var(--padding);
  border-radius: 9999px;

  background: var(--color-bg-tertiary);

  transition: background var(--transition);
}

.toggle::before {
  content: '';

  width: var(--diameter);
  height: var(--diameter);
  border-radius: 9999px;

  background: var(--color-text-on-brand-base);
  box-shadow: 0 2px 4px 0 color-mix(var(--color-black), transparent 75%);

  transition: transform var(--transition);
}

@media (prefers-reduced-motion: reduce) {
  .toggle,
  .toggle::before {
    transition: none;
  }
}

.input:checked + .toggle {
  background: var(--color-bg-brand-base);
}

.input:checked:is(:hover, :focus) + .toggle {
  background: var(--color-bg-brand-base-hover);
}

.input:focus-visible + .toggle {
  outline: var(--outline-focus-default);
  outline-offset: 2px;
}

.input:checked + .toggle::before {
  transform: translateX(calc(var(--diameter) - (var(--padding) * 2)));

  :global([dir='rtl']) & {
    transform: translateX(calc(-1 * (var(--diameter) - (var(--padding) * 2))));
  }
}

.input:disabled {
  cursor: not-allowed;
}

.input:disabled + .toggle {
  opacity: 0.6;
}
