$rooty-color1: #282c37 !default; // darkest
$rooty-color2: #d9e1e8 !default; // lightest
$rooty-color3: #9baec8 !default; // lighter
$rooty-color4: #2b90d9 !default; // vibrant
$rooty-color5: #ffffff !default; // white
$rooty-color6: #df405a !default; // error red
$rooty-color7: #79bd9a !default; // succ green
$rooty-color8: #000000 !default; // black
