.root {
  --lockup-padding: var(--space-2);
  --lockup-gap: var(--space-2);

  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-3);
  transition: background-color 200ms;

  &:hover {
    background-color: var(--color-bg-highlight);
  }

  &:has(button:focus-visible) {
    outline: var(--outline-focus-default);
    background-color: var(--color-bg-highlight);
  }

  // Disable default styles for LockupButton component
  & button {
    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.dotsIcon {
  padding: var(--space-2);
}

.profileMenuItem {
  --lockup-padding: 0;
  --lockup-gap: var(--space-2);

  color: inherit;
}
