.root {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-sm);

  & > :global(.account) {
    flex-grow: 1;
    overflow: hidden;

    --account-outer-spacing: 0;
    --avatar-border-radius: var(--radius-round);
    --account-name-color: var(--color-text-primary);
    --account-name-size: var(--fs-sm);
    --account-handle-color: var(--color-text-secondary);
    --account-handle-size: var(--fs-2xs);
  }

  & :global(.display-name) {
    // Allow display name to wrap instead of truncating with ellipsis
    white-space: normal;
  }
}
