@use '@/styles/mastodon/mixins';

.root {
  // We're distributing the bottom spacing between padding and margin so that
  // not too much of it overlaps the navigation links when scrolled down
  --half-bottom-spacing: calc(var(--space-xl) / 2);

  position: sticky;
  z-index: 1;
  top: 0;

  display: flex;
  align-items: center;

  margin-bottom: var(--half-bottom-spacing);
  padding: var(--space-xl) var(--space-lg) var(--half-bottom-spacing);

  background: var(--color-bg-blend-solid);

  &::after {
    @include mixins.scroll-gradient(top, var(--color-bg-blend-solid));

    opacity: 0;
    transition: opacity ease 250ms;
  }

  &[data-stuck='true']::after {
    opacity: 1;
  }
}

.siteNameLink {
  --app-icon-size: 40px;

  display: flex;
  column-gap: var(--space-xs);
  align-items: center;

  min-width: 0;

  color: inherit;
  text-decoration: none;

  outline-offset: var(--space-3xs);

  &:hover {
    text-decoration: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.appIcon {
  align-self: center;
  aspect-ratio: 1;
  width: var(--app-icon-size);
}

.serverName {
  @include mixins.type-heading-sm;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.poweredBy {
  @include mixins.type-label-sm;

  grid-column: 2;
  color: var(--color-text-tertiary);

  svg {
    width: 1em;
    height: 1em;
    margin-inline-end: var(--space-3xs);

    color: inherit;
    vertical-align: middle;
  }
}
