@use '@/styles/mastodon/mixins';

.root {
  &:not(:last-child) {
    margin-bottom: var(--space-md);
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  padding-block: calc(var(--space-xs) - var(--space-3xs));
  padding-inline: var(--space-xs);
}

.title {
  @include mixins.type-label-sm;

  cursor: default;
  color: var(--color-text-secondary);
}

.action {
  margin-inline-start: auto;
}

.emptyState {
  @include mixins.type-label-sm;

  padding-inline: var(--space-xs);
}
