@use '@/styles/mastodon/mixins';
@use './navigation_link.module.scss' as navigation-link;

.root {
  &:not(:last-child) {
    margin-bottom: var(--space-md);
  }

  :any-link {
    color: inherit;

    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }
}

.title {
  @include navigation-link.link-base;

  min-height: 32px;
  padding: var(--space-2xs) var(--space-xs);
  margin-bottom: var(--space-3xs);

  @include mixins.type-label-md;

  color: var(--color-text-secondary);
}

.toggleIcon {
  width: 20px;
  height: 20px;
  margin-inline-start: auto;
  transition: rotate 100ms ease-in;

  .title[aria-expanded='true'] & {
    rotate: -180deg;
  }
}

.emptyState {
  @include mixins.type-label-sm;

  padding-inline: var(--space-xs);
}
