@use '@/styles/mastodon/mixins';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list {
  margin-top: var(--space-xl);
  margin-inline: var(--space-md);
}

.footer {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  padding: var(--space-xl);
  padding-top: 0;
  background-color: var(--color-bg-primary);
}

.footerNav {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-2xs);
  margin-bottom: var(--space-xs);
}
