@use '@/styles/mastodon/mixins';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.list {
  margin-top: var(--space-xl);
  margin-inline: var(--space-md);
}

.footer {
  margin-top: auto;
  padding: var(--space-xl);
  padding-top: 0;
}
