.details {
  margin-top: 8px;
  font-size: 13px;
  color: var(--color-text-secondary);

  summary {
    cursor: pointer;

    margin-bottom: 8px;

    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: dotted;
    list-style: none;
  }

  :global(.icon) {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
  }

  &[open] :global(.icon) {
    transform: rotate(-180deg);
  }
}
