@use '@/styles/mastodon/variables' as *;

.root {
  --multi-column-navigation-width: 320px;
  --multi-column-gap: var(--space-2);

  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  gap: var(--multi-column-gap);
  padding-inline-end: var(--multi-column-gap);
  overflow-x: auto;
  scroll-padding-inline-start: var(--multi-column-navigation-width);

  &:focus-visible {
    // Scrollable elements are made focusable by some browsers, this adds
    // a visible outline in this case. Using `border` instead of `outline`
    // causes a light layout jump shift on focus, but an outline would be
    // rendered below the navbar and columns and didn't look right.
    border: var(--outline-focus-default);
    border-radius: var(--radius-2);
  }
}

.navigationWrapper {
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  z-index: 100;
  min-width: var(--multi-column-navigation-width);
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--color-bg-blend);

  @media (max-width: ($mobile-menu-breakpoint - 1)) {
    display: none;
  }
}
