@use '@/styles/mastodon/mixins';

.root {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 90px;
  padding: var(--space-sm);
  border: 0.5px solid var(--color-border-primary);
  border-radius: var(--radius-md);

  transition: background 200ms ease-in-out;

  &:has(.image) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 120px;
    column-gap: var(--space-sm);
    padding-inline-end: 0;
  }
}

// Handle cases where the root is a link
a.root {
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:focus-visible {
    border-radius: var(--radius-md);
    outline: var(--outline-focus-default);
    outline-offset: 2px;
  }
}

.title {
  @include mixins.type-label-md;

  display: flex;
  margin-bottom: var(--space-2xs);
  color: var(--color-text-secondary);

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.titleImage {
  overflow: hidden;
  display: block;

  width: var(--space-lg);
  height: var(--space-lg);
  margin-inline-end: var(--space-xs);
  border-radius: var(--radius-round);
}

.body {
  @include mixins.type-body-compact;

  flex-grow: 1;
  overflow-wrap: break-word;

  a {
    color: var(--color-text-brand);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Linked body
a.body {
  margin: calc(-1 * var(--space-sm));
  margin-top: 0;
  padding: 0 var(--space-sm) var(--space-sm);

  .root:has(&:hover) {
    background-color: var(--color-bg-highlight);
  }
}

.image {
  contain: size;
  grid-column: 2;
  grid-row: 1 / span 2;
  margin-block: calc(-1 * var(--space-sm));

  &,
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.clamp {
  @include mixins.line-clamp(2);
}

.delete {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}
