.filtersWrapper {
  padding: 16px 16px 8px;
}

.filterSelectButton {
  display: flex;
  align-items: center;

  padding: 8px 0;
  border: none;

  font-size: 15px;
  font-weight: 500;
  color: inherit;

  appearance: none;
  background: none;

  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-text-brand-soft);
  }
}

.filterSelectIcon {
  width: 16px;
  height: 16px;
}

.filterOverlay {
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 16px;
  align-items: stretch;

  min-width: 230px;
  padding: 8px 12px;
  border-radius: 12px;

  background: var(--color-bg-primary);
  box-shadow: var(--dropdown-shadow);

  > label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  [data-color-scheme='dark'] & {
    border: 1px solid var(--color-border-primary);
  }
}

.tagsWrapper,
.tagSuggestions {
  margin: 0 16px 8px;
}

.tagsWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: flex-start;
}

.tagsList {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;

  > button {
    flex-shrink: 0;
  }
}

.tagsListShowAll {
  overflow: visible;
  flex-wrap: wrap;
  max-width: none !important;
}

.statusWrapper {
  &:has(.pinnedViewAllButton) :global(.status):has(.pinnedStatusHeader) {
    border-bottom: none;
  }

  article:has(.pinnedViewAllButton) {
    border-bottom: 1px solid var(--color-border-primary);
  }
}

.pinnedViewAllButton {
  box-sizing: border-box;
  width: calc(100% - 32px);
  margin: 12px 16px;
  padding: 8px;
  border: 1px solid var(--color-border-primary);
  border-radius: 8px;

  line-height: normal;
  color: var(--color-text-primary);

  background-color: var(--color-bg-primary);

  transition: border-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    border-color: var(--color-bg-brand-base-hover);
    background-color: inherit;
  }
}

.pinnedStatusHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  gap: 4px;

  > :global(.status__relative-time) {
    grid-column: 2;
    height: auto;
  }

  > :global(.status__display-name) {
    grid-row: span 2;
  }
}

.pinnedBadge {
  // Allow "click to open post" event to pass through
  pointer-events: none;
  justify-self: end;
}
