root = true

[**]
end_of_line = lf
insert_final_newline = true

[**.rb]
indent_style = space
indent_size = 2

[**.[ch]]
indent_style = space
indent_size = 2

[**.java]
indent_style = space
indent_size = 4
