@mixin space {
  --space-3xs: 2px;
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-2xl: 28px;
  --space-3xl: 32px;
  --space-4xl: 36px;
  --space-5xl: 40px;
}

@mixin radius {
  --radius-xs: 0.5rem; // 8px
  --radius-sm: 0.75rem; // 12px
  --radius-md: 1rem; // 16px
  --radius-lg: 1.25rem; // 20px
  --radius-xl: 1.75rem; // 28px
  --radius-round: calc(1px * infinity);
}
