@mixin font-size {
  --fs-11: 0.6875rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-26: 1.625rem;
}

@mixin line-height {
  --lh-tighter: 1.3;
  --lh-tight: 1.4;
  --lh-normal: 1.6;
}

@mixin letter-spacing {
  --ls-tighter: -0.02em;
  --ls-tight: -0.01em;
  --ls-normal: 0;
  --ls-loose: 0.01em;
  --ls-looser: 0.02em;
}
