.donate_modal {
  .dialog-modal__header {
    gap: 1rem;
  }

  header {
    padding: 24px 24px 0;
    align-items: start;
  }

  form {
    min-height: 200px;
    position: relative;
  }

  .row {
    display: flex;
    gap: 1rem;
  }

  .row--select {
    gap: 0;
    width: 100%;

    button {
      background-color: var(--button-color);
      border: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 0.5rem;

      &:hover,
      &:focus {
        background-color: var(--button-hover-color);
      }
    }

    input {
      flex-grow: 1;
      background: none;
      padding: 0.5rem;
      color: var(--on-input-color);
      border: 1px solid var(--button-color);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      @media (prefers-color-scheme: dark) {
        color-scheme: dark;
      }
    }
  }

  .title {
    flex-grow: 1;
  }

  .toggle {
    border: 2px solid transparent;

    &:not(.active) {
      background-color: inherit;
      border-color: var(--button-color);
      color: var(--button-color);
    }

    &:hover,
    &:focus {
      border-color: var(--button-hover-color);
      background-color: var(--button-hover-color);
      color: white;
    }
  }

  .submit {
    padding: 0.6rem 1rem;
  }

  button > svg {
    fill: currentColor;
    height: 1em;
  }

  .footer {
    text-align: center;
    color: var(--input-placeholder-color);
    font-size: 0.9em;
  }

  .success {
    .illustration {
      max-width: 350px;
      margin: 0 auto 1rem;
    }

    h2 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.15px;
    }
  }
}
