.wrapper {
  --list-item-padding: 16px;
  --list-item-padding-block: var(--list-item-padding);
  --list-item-gap: 12px;

  position: relative;

  display: flex;
  gap: var(--list-item-gap);
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: var(--list-item-padding-block) var(--list-item-padding);

  font-size: 15px;
  color: var(--color-text-primary);
}

.main {
  min-width: 0;
  overflow-wrap: break-word;
}

.title {
  font-weight: 500;

  :any-link,
  button {
    padding: 0;
    border: none;

    font: inherit;
    color: inherit;
    text-decoration: none;

    background: none;

    &::before {
      content: '';
      position: absolute;
      inset: var(--clickable-area-spread, 0);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.subtitle {
  font-size: 13px;
  color: var(--color-text-secondary);
}

.sideContent {
  display: flex;
  gap: var(--list-item-gap);
  align-items: center;
  align-self: stretch;

  margin-inline-start: auto;

  &:has(button, a) {
    // If the sideContent has interactive children, move it
    // above the clickable area of the .title content
    position: relative;
    z-index: 1;

    // Cover up the .title content's clickable area in the
    // padding box around the sideContent
    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      inset-block: calc(-1 * var(--list-item-padding-block));
      inset-inline: calc(-1 * var(--list-item-padding));
    }
  }

  // Improve vertical alignment of slotted icons
  & > .icon {
    vertical-align: middle;
  }
}
