body {
  background: #efefef;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.4;
}

.wrap {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  background: white;
}

.greeting {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}

.footer {
  font-size: 90%;
  color: #666;
}

a {
  color: green;
  text-decoration: none;
  border-bottom: 2px solid green;
}
