.activity-stream .status.light .status__content a {
  color: $ui-secondary-color;
}

.drawer__inner {
  background: $ui-base-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-primary-color,0.4);
}

.autosuggest-textarea__suggestions {
  color: $white;
}

.autosuggest-account .display-name__account {
  color: $black;
}
