@use '@/styles/mastodon/mixins';

.galleryWrapper {
  :global(.media-gallery) {
    margin-top: 0;
    border-radius: 0;
  }

  // Overrides .media-gallery--layout-2 > .media-gallery__item:nth-child(1)
  :global(.media-gallery__item):global(.media-gallery__item),
  :global(.video-player),
  :global(.audio-player) {
    border-radius: var(--radius-4);
    outline: none;
  }

  :global(.media-gallery__alt__label--non-interactive) {
    @include mixins.type-meta;

    color: var(--color-text-inverted);
    background-color: var(--color-bg-inverted);
    border-radius: var(--radius-round);
    padding-inline: var(--space-2);
  }
}

.gallerySpoilerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-2);
}

.gallerySpoilerContent {
  @include mixins.type-body-strong;

  font-style: italic;
  flex-grow: 1;
}

.galleryHideButtons {
  :global(.media-gallery__item__badges),
  :global(.media-gallery__actions) {
    display: none;
  }
}

.cardMedia {
  > :global(.status-card) {
    margin-top: 0;
    border: var(--border-thin);
    border-radius: var(--radius-4);

    > a {
      transition: background 200ms ease-in-out;

      &:hover {
        background-color: var(--color-bg-highlight);
      }

      :global(.status-card__host) {
        @include mixins.type-meta;

        // Overrides hover styles.
        color: var(--color-text-secondary);
      }

      :global(.status-card__title) {
        @include mixins.type-label;

        // Overrides hover styles.
        color: var(--color-text-primary);
      }

      :global(.status-card__author) {
        @include mixins.type-body-compact;

        // Overrides hover styles.
        color: var(--color-text-primary);
      }
    }
  }
}

.cardAuthor {
  padding-inline-start: var(--space-2);
  gap: var(--space-1);
}
