.root {
  --col-gap: var(--space-xs);
  --avatar-size: 40px;

  display: grid;
  grid-template-columns: calc(var(--avatar-size) + var(--col-gap)) auto;
  grid-template-rows:
    minmax(calc(var(--avatar-size) + var(--col-gap)), auto)
    1fr auto;
  row-gap: var(--space-xs);
}

.header {
  grid-column: span 2;
}

.content,
.actions {
  grid-column: 2;
}

.actions {
  display: flex;

  button:not(:hover, :active) {
    opacity: 0.7;
  }
}

.actionsButtonGap {
  margin-inline-end: auto;
}

.buttonAlign {
  margin-inline-start: calc(-1 * var(--space-sm));
}
