$mobile-breakpoint: 540px;

.wrapper {
  max-width: max-content;
  margin-inline: auto;
  padding: 40px 10px;

  @media (width < $mobile-breakpoint) {
    padding-top: 0;
    padding-inline: 0;
  }
}

.footer {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  color: var(--color-text-secondary);
}

.logo {
  width: 2rem;
  opacity: 0.6;
}
