.wrapper {
  max-width: max-content;
  margin: 40px auto;
}

.footer {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  color: var(--color-text-secondary);
}

.logo {
  width: 2rem;
  opacity: 0.6;
}
