.log-entry
  .log-entry__header
    .log-entry__avatar
      = image_tag action_log.account.avatar.url(:original), alt: '', width: 40, height: 40, class: 'avatar'
    .log-entry__content
      .log-entry__title
        = action_log_description(action_log)
      .log-entry__timestamp
        %time.formatted{ datetime: action_log.created_at.iso8601 }
