@mixin search-input {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: none;
  font-family: inherit;
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-radius: 4px;
  border: 1px solid var(--color-border-on-bg-secondary);
  font-size: 17px;
  line-height: normal;
  margin: 0;
}

@mixin search-popout {
  background: var(--color-bg-primary);
  border-radius: 4px;
  padding: 10px 14px;
  padding-bottom: 14px;
  margin-top: 10px;
  color: var(--color-text-secondary);
  box-shadow: 2px 4px 15px var(--color-shadow-primary);

  h4 {
    text-transform: uppercase;
    color: var(--color-text-secondary);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  li {
    padding: 4px 0;
  }

  ul {
    margin-bottom: 10px;
  }

  em {
    font-weight: 500;
    color: var(--color-text-primary);
  }
}
