@use 'variables' as *;

.pwa-install-prompt {
  position: fixed;
  inset-inline-start: 50%;
  bottom: calc(16px + env(safe-area-inset-bottom));
  z-index: 12;
  box-sizing: border-box;
  width: min(420px, calc(100vw - 20px));
  transform: translateX(-50%);

  .dismissable-banner {
    background-color: var(--color-white);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__callout {
    margin-bottom: 15px;
    color: var(--color-text-tertiary);
    font-size: 14px;
  }

  &__list {
    margin: 0;
    padding-inline-start: 24px;
    list-style: decimal;
    list-style-position: outside;

    li + li {
      margin-top: 8px;
    }
  }

  @media (max-width: #{$mobile-menu-breakpoint - 1}) {
    bottom: calc(
      var(--mobile-bottom-nav-height) + 16px + env(safe-area-inset-bottom)
    );
  }
}
