.card {
  background-color: $base-shadow-color;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;

  &::after {
    background: rgba(darken($ui-base-color, 8%), 0.5);
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  @media screen and (max-width: 740px) {
    border-radius: 0;
    box-shadow: none;
  }

  .card__illustration {
    padding: 60px 0;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__bio {
    max-width: 260px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(darken($ui-base-color, 8%), 0.8);
    position: relative;
    z-index: 2;
  }

  &.compact {
    padding: 30px 0;
    border-radius: 4px;

    .avatar {
      margin-bottom: 0;

      img {
        object-fit: cover;
      }
    }
  }

  .name {
    display: block;
    font-size: 20px;
    line-height: 18px * 1.5;
    color: $primary-text-color;
    padding: 10px 15px;
    padding-bottom: 0;
    font-weight: 500;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;

    small {
      display: block;
      font-size: 14px;
      color: $highlight-text-color;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;

      .fa {
        margin-left: 3px;
      }
    }
  }

  .avatar {
    width: 120px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    img {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 120px;
      box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
    }
  }

  .roles {
    margin-bottom: 30px;
    padding: 0 15px;
  }

  .details-counters {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .counter {
    width: 33.3%;
    box-sizing: border-box;
    flex: 0 0 auto;
    color: $darker-text-color;
    padding: 5px 10px 0;
    margin-bottom: 10px;
    border-right: 1px solid lighten($ui-base-color, 4%);
    cursor: default;
    text-align: center;
    position: relative;

    a {
      display: block;
    }

    &:last-child {
      border-right: 0;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      border-bottom: 4px solid $ui-primary-color;
      opacity: 0.5;
      transition: all 400ms ease;
    }

    &.active {
      &::after {
        border-bottom: 4px solid $highlight-text-color;
        opacity: 1;
      }
    }

    &:hover {
      &::after {
        opacity: 1;
        transition-duration: 100ms;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .counter-label {
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
    }

    .counter-number {
      font-weight: 500;
      font-size: 18px;
      color: $primary-text-color;
      font-family: 'mastodon-font-display', sans-serif;
    }
  }

  .bio {
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px;
    color: $secondary-text-color;
  }

  @media screen and (max-width: 480px) {
    display: block;

    .card__bio {
      max-width: none;
    }

    .name,
    .roles {
      text-align: center;
      margin-bottom: 15px;
    }

    .bio {
      margin-bottom: 15px;
    }
  }
}

.card,
.account-grid-card {
  .controls {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;

    .icon-button {
      color: rgba($white, 0.8);
      text-decoration: none;
      font-size: 13px;
      line-height: 13px;
      font-weight: 500;

      .fa {
        font-weight: 400;
        margin-right: 5px;
      }

      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }
}

.account-grid-card .controls {
  left: auto;
  right: 15px;
}

.pagination {
  padding: 30px 0;
  text-align: center;
  overflow: hidden;

  a,
  .current,
  .newer,
  .older,
  .page,
  .gap {
    font-size: 14px;
    color: $primary-text-color;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
  }

  .current {
    background: $simple-background-color;
    border-radius: 100px;
    color: $inverted-text-color;
    cursor: default;
    margin: 0 10px;
  }

  .gap {
    cursor: default;
  }

  .older,
  .newer {
    text-transform: uppercase;
    color: $secondary-text-color;
  }

  .older {
    float: left;
    padding-left: 0;

    .fa {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .newer {
    float: right;
    padding-right: 0;

    .fa {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .disabled {
    cursor: default;
    color: lighten($inverted-text-color, 10%);
  }

  @media screen and (max-width: 700px) {
    padding: 30px 20px;

    .page {
      display: none;
    }

    .newer,
    .older {
      display: inline-block;
    }
  }
}

.accounts-grid {
  box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);
  background: darken($simple-background-color, 8%);
  border-radius: 0 0 4px 4px;
  padding: 20px 5px;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;

  &.empty img {
    position: absolute;
    opacity: 0.2;
    height: 200px;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 740px) {
    border-radius: 0;
    box-shadow: none;
  }

  .account-grid-card {
    box-sizing: border-box;
    width: 335px;
    background: $simple-background-color;
    border-radius: 4px;
    color: $inverted-text-color;
    margin: 0 5px 10px;
    position: relative;

    @media screen and (max-width: 740px) {
      width: calc(100% - 10px);
    }

    .account-grid-card__header {
      overflow: hidden;
      height: 100px;
      border-radius: 4px 4px 0 0;
      background-color: lighten($inverted-text-color, 4%);
      background-size: cover;
      background-position: center;
      position: relative;

      &::after {
        background: rgba(darken($ui-base-color, 8%), 0.5);
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .account-grid-card__avatar {
      box-sizing: border-box;
      padding: 15px;
      position: absolute;
      z-index: 2;
      top: 100px - (40px + 2px);
      left: -2px;
    }

    .avatar {
      width: 80px;
      height: 80px;

      img {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        border: 2px solid $simple-background-color;
        background: $simple-background-color;
      }
    }

    .name {
      padding: 15px;
      padding-top: 10px;
      padding-left: 15px + 80px + 15px;

      a {
        display: block;
        color: $inverted-text-color;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500;

        &:hover {
          .display_name {
            text-decoration: underline;
          }
        }
      }
    }

    .display_name {
      font-size: 16px;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .username {
      color: $lighter-text-color;
      font-size: 14px;
      font-weight: 400;
    }

    .account__header__content {
      padding: 10px 15px;
      padding-top: 15px;
      color: $lighter-text-color;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 5.5em;
    }
  }
}

.nothing-here {
  width: 100%;
  display: block;
  color: $light-text-color;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 130px 0;
  padding-top: 125px;
  margin: 0 auto;
  cursor: default;
}

.account-card {
  padding: 14px 10px;
  background: $simple-background-color;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 0 15px rgba($base-shadow-color, 0.2);

  .detailed-status__display-name {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    & > div {
      float: left;
      margin-right: 10px;
      width: 48px;
      height: 48px;
    }

    .avatar {
      display: block;
      border-radius: 4px;
    }

    .display-name {
      display: block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;

      strong {
        font-weight: 500;
        color: $ui-base-color;

        @each $lang in $cjk-langs {
          &:lang(#{$lang}) {
            font-weight: 700;
          }
        }
      }

      span {
        font-size: 14px;
        color: $light-text-color;
      }
    }

    &:hover {
      .display-name {
        strong {
          text-decoration: none;
        }
      }
    }
  }

  .account__header__content {
    font-size: 14px;
    color: $inverted-text-color;
  }
}

.activity-stream-tabs {
  background: $simple-background-color;
  border-bottom: 1px solid $ui-secondary-color;
  position: relative;
  z-index: 2;

  a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: $highlight-text-color;
    text-transform: uppercase;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
      color: lighten($highlight-text-color, 8%);
    }

    &.active {
      color: $inverted-text-color;
      cursor: default;
    }
  }
}

.account-role {
  display: inline-block;
  padding: 4px 6px;
  cursor: default;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: $ui-secondary-color;
  background-color: rgba($ui-secondary-color, 0.1);
  border: 1px solid rgba($ui-secondary-color, 0.5);

  &.moderator {
    color: $success-green;
    background-color: rgba($success-green, 0.1);
    border-color: rgba($success-green, 0.5);
  }

  &.admin {
    color: lighten($error-red, 12%);
    background-color: rgba(lighten($error-red, 12%), 0.1);
    border-color: rgba(lighten($error-red, 12%), 0.5);
  }
}

.account__header__fields {
  padding: 0;
  margin: 15px -15px -15px;
  border: 0 none;
  border-top: 1px solid lighten($ui-base-color, 4%);
  border-bottom: 1px solid lighten($ui-base-color, 4%);
  font-size: 14px;
  line-height: 20px;

  dl {
    display: flex;
    border-bottom: 1px solid lighten($ui-base-color, 4%);
  }

  dt,
  dd {
    box-sizing: border-box;
    padding: 14px;
    text-align: center;
    max-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  dt {
    font-weight: 500;
    width: 120px;
    flex: 0 0 auto;
    color: $secondary-text-color;
    background: rgba(darken($ui-base-color, 8%), 0.5);
  }

  dd {
    flex: 1 1 auto;
    color: $darker-text-color;
  }

  a {
    color: $highlight-text-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  dl:last-child {
    border-bottom: 0;
  }
}
