.admin-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  .sidebar-wrapper {
    flex: 1;
    height: 100%;
    background: $ui-base-color;
    display: flex;
    justify-content: flex-end;
  }

  .sidebar {
    width: 240px;
    height: 100%;
    padding: 0;
    overflow-y: auto;

    .logo {
      display: block;
      margin: 40px auto;
      width: 100px;
      height: 100px;
    }

    ul {
      list-style: none;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
      margin-bottom: 20px;

      a {
        display: block;
        padding: 15px;
        color: rgba($primary-text-color, 0.7);
        text-decoration: none;
        transition: all 200ms linear;
        border-radius: 4px 0 0 4px;

        i.fa {
          margin-right: 5px;
        }

        &:hover {
          color: $primary-text-color;
          background-color: darken($ui-base-color, 5%);
          transition: all 100ms linear;
        }

        &.selected {
          background: darken($ui-base-color, 2%);
          border-radius: 4px 0 0;
        }
      }

      ul {
        background: darken($ui-base-color, 4%);
        border-radius: 0 0 0 4px;
        margin: 0;

        a {
          border: 0;
          padding: 15px 35px;

          &.selected {
            color: $primary-text-color;
            background-color: $ui-highlight-color;
            border-bottom: 0;
            border-radius: 0;

            &:hover {
              background-color: lighten($ui-highlight-color, 5%);
            }
          }
        }
      }
    }
  }

  .content-wrapper {
    flex: 2;
    overflow: auto;
  }

  .content {
    max-width: 700px;
    padding: 20px 15px;
    padding-top: 60px;
    padding-left: 25px;

    h2 {
      color: $ui-secondary-color;
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    h3 {
      color: $ui-secondary-color;
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    h4 {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      color: $ui-primary-color;
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }

    h6 {
      font-size: 16px;
      color: $ui-secondary-color;
      line-height: 28px;
      font-weight: 400;
    }

    & > p {
      font-size: 14px;
      line-height: 18px;
      color: $ui-secondary-color;
      margin-bottom: 20px;

      strong {
        color: $primary-text-color;
        font-weight: 500;

        @each $lang in $cjk-langs {
          &:lang(#{$lang}) {
            font-weight: 700;
          }
        }
      }
    }

    hr {
      margin: 20px 0;
      border: 0;
      background: transparent;
      border-bottom: 1px solid $ui-base-color;
    }

    .muted-hint {
      color: $ui-primary-color;

      a {
        color: $ui-highlight-color;
      }
    }

    .positive-hint {
      color: $valid-value-color;
      font-weight: 500;
    }
  }

  .simple_form {
    max-width: 400px;

    &.edit_user,
    &.new_form_admin_settings,
    &.new_form_two_factor_confirmation,
    &.new_form_delete_confirmation,
    &.new_import,
    &.new_domain_block,
    &.edit_domain_block {
      max-width: none;
    }

    .form_two_factor_confirmation_code,
    .form_delete_confirmation_password {
      max-width: 400px;
    }

    .actions {
      max-width: 400px;
    }
  }

  @media screen and (max-width: 600px) {
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .sidebar-wrapper,
    .content-wrapper {
      flex: 0 0 auto;
      height: auto;
      overflow: initial;
    }

    .sidebar {
      width: 100%;
      padding: 10px 0;
      height: auto;

      .logo {
        margin: 20px auto;
      }
    }

    .content {
      padding-top: 20px;
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;

  .filter-subset {
    flex: 0 0 auto;
    margin: 0 40px 10px 0;

    &:last-child {
      margin-bottom: 20px;
    }

    ul {
      margin-top: 5px;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 5px;
      }
    }

    strong {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;

      @each $lang in $cjk-langs {
        &:lang(#{$lang}) {
          font-weight: 700;
        }
      }
    }

    a {
      display: inline-block;
      color: rgba($primary-text-color, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      border-bottom: 2px solid $ui-base-color;

      &:hover {
        color: $primary-text-color;
        border-bottom: 2px solid lighten($ui-base-color, 5%);
      }

      &.selected {
        color: $ui-highlight-color;
        border-bottom: 2px solid $ui-highlight-color;
      }
    }
  }
}

.report-accounts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.report-accounts__item {
  display: flex;
  flex: 250px;
  flex-direction: column;
  margin: 0 5px;

  & > strong {
    display: block;
    margin: 0 0 10px -5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $ui-secondary-color;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }

  .account-card {
    flex: 1 1 auto;
  }
}

.report-status,
.account-status {
  display: flex;
  margin-bottom: 10px;

  .activity-stream {
    flex: 2 0 0;
    margin-right: 20px;
    max-width: calc(100% - 60px);

    .entry {
      border-radius: 4px;
    }
  }
}

.report-status__actions,
.account-status__actions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;

  .icon-button {
    font-size: 24px;
    width: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.batch-form-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

  #form_status_batch_action {
    margin: 0 5px 5px 0;
    font-size: 14px;
  }

  input.button {
    margin: 0 5px 5px 0;
  }

  .media-spoiler-toggle-buttons {
    margin-left: auto;

    .button {
      overflow: visible;
      margin: 0 0 5px 5px;
      float: right;
    }
  }
}

.batch-checkbox,
.batch-checkbox-all {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.back-link {
  margin-bottom: 10px;
  font-size: 14px;

  a {
    color: $classic-highlight-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.log-entry {
  margin-bottom: 8px;
  line-height: 20px;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: $ui-base-color;
    color: $ui-primary-color;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
  }

  &__avatar {
    margin-right: 10px;

    .avatar {
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    max-width: calc(100% - 90px);
  }

  &__title {
    word-wrap: break-word;
  }

  &__timestamp {
    color: lighten($ui-base-color, 34%);
  }

  &__extras {
    background: lighten($ui-base-color, 6%);
    border-radius: 0 0 4px 4px;
    padding: 10px;
    color: $ui-primary-color;
    font-family: 'mastodon-font-monospace', monospace;
    font-size: 12px;
    word-wrap: break-word;
    min-height: 20px;
  }

  &__icon {
    font-size: 28px;
    margin-right: 10px;
    color: lighten($ui-base-color, 34%);
  }

  &__icon__overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.positive {
      background: $success-green;
    }

    &.negative {
      background: $error-red;
    }

    &.neutral {
      background: $ui-highlight-color;
    }
  }

  a,
  .username,
  .target {
    color: $ui-secondary-color;
    text-decoration: none;
    font-weight: 500;
  }

  .diff-old {
    color: $error-red;
  }

  .diff-neutral {
    color: $ui-secondary-color;
  }

  .diff-new {
    color: $success-green;
  }
}

.name-tag {
  display: flex;
  align-items: center;

  .avatar {
    display: block;
    margin: 0;
    margin-right: 5px;
    border-radius: 50%;
  }

  .username {
    font-weight: 500;
  }
}
