.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: $darker-text-color;

  .footer__domain {
    font-weight: 500;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .powered-by,
  .single-user-login {
    font-weight: 400;

    a {
      color: inherit;
      text-decoration: underline;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      margin: 0 4px;
      position: relative;
      bottom: -1px;
      height: 18px;
      vertical-align: top;
    }
  }
}
