body.rtl {
  direction: rtl;

  .column-header > button {
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
  }

  .landing-page__logo {
    margin-right: 0;
    margin-left: 20px;
  }

  .landing-page .features-list .features-list__row .visual {
    margin-left: 0;
    margin-right: 15px;
  }

  .column-link__icon,
  .column-header__icon {
    margin-right: 0;
    margin-left: 5px;
  }

  .compose-form .compose-form__buttons-wrapper .character-counter__wrapper {
    margin-right: 0;
    margin-left: 4px;
  }

  .navigation-bar__profile {
    margin-left: 0;
    margin-right: 8px;
  }

  .search__input {
    padding-right: 10px;
    padding-left: 30px;
  }

  .search__icon .fa {
    right: auto;
    left: 10px;
  }

  .column-header__buttons {
    left: 0;
    right: auto;
    margin-left: 0;
    margin-right: -15px;
  }

  .column-inline-form .icon-button {
    margin-left: 0;
    margin-right: 5px;
  }

  .column-header__links .text-btn {
    margin-left: 10px;
    margin-right: 0;
  }

  .account__avatar-wrapper {
    float: right;
  }

  .column-header__back-button {
    padding-left: 5px;
    padding-right: 0;
  }

  .column-header__setting-arrows {
    float: left;
  }

  .setting-toggle {
    margin-left: 0;
    margin-right: 8px;
  }

  .status__avatar {
    left: auto;
    right: 10px;
  }

  .status,
  .activity-stream .status.light {
    padding-left: 10px;
    padding-right: 68px;
  }

  .status__info .status__display-name,
  .activity-stream .status.light .status__display-name {
    padding-left: 25px;
    padding-right: 0;
  }

  .activity-stream .pre-header {
    padding-right: 68px;
    padding-left: 0;
  }

  .status__prepend {
    margin-left: 0;
    margin-right: 68px;
  }

  .status__prepend-icon-wrapper {
    left: auto;
    right: -26px;
  }

  .activity-stream .pre-header .pre-header__icon {
    left: auto;
    right: 42px;
  }

  .account__avatar-overlay-overlay {
    right: auto;
    left: 0;
  }

  .column-back-button--slim-button {
    right: auto;
    left: 0;
  }

  .status__relative-time,
  .activity-stream .status.light .status__header .status__meta {
    float: left;
  }

  .activity-stream .detailed-status.light .detailed-status__display-name > div {
    float: right;
    margin-right: 0;
    margin-left: 10px;
  }

  .activity-stream .detailed-status.light .detailed-status__meta span > span {
    margin-left: 0;
    margin-right: 6px;
  }

  .status__action-bar {

    &__counter {
      margin-right: 0;
      margin-left: 11px;

      .status__action-bar-button {
        margin-right: 0;
        margin-left: 4px;
      }
    }
  }

  .status__action-bar-button {
    float: right;
    margin-right: 0;
    margin-left: 18px;
  }

  .status__action-bar-dropdown {
    float: right;
  }

  .privacy-dropdown__dropdown {
    margin-left: 0;
    margin-right: 40px;
  }

  .privacy-dropdown__option__icon {
    margin-left: 10px;
    margin-right: 0;
  }

  .detailed-status__display-avatar {
    margin-right: 0;
    margin-left: 10px;
    float: right;
  }

  .detailed-status__favorites,
  .detailed-status__reblogs {
    margin-left: 0;
    margin-right: 6px;
  }

  .fa-ul {
    margin-left: 0;
    margin-left: 2.14285714em;
  }

  .fa-li {
    left: auto;
    right: -2.14285714em;
  }

  .admin-wrapper .sidebar ul a i.fa,
  a.table-action-link i.fa {
    margin-right: 0;
    margin-left: 5px;
  }

  .simple_form .check_boxes .checkbox label,
  .simple_form .input.with_label.boolean label.checkbox {
    padding-left: 0;
    padding-right: 25px;
  }

  .simple_form .check_boxes .checkbox input[type="checkbox"],
  .simple_form .input.boolean input[type="checkbox"] {
    left: auto;
    right: 0;
  }

  .simple_form .input-with-append .input input {
    padding-left: 142px;
    padding-right: 0;
  }

  .simple_form .input-with-append .append {
    right: auto;
    left: 0;

    &::after {
      right: auto;
      left: 0;
      background-image: linear-gradient(to left, rgba($ui-base-color, 0), $ui-base-color);
    }
  }

  .table th,
  .table td {
    text-align: right;
  }

  .filters .filter-subset {
    margin-right: 0;
    margin-left: 45px;
  }

  .landing-page .header-wrapper .mascot {
    right: 60px;
    left: auto;
  }

  .landing-page .header .hero .floats .float-1 {
    left: -120px;
    right: auto;
  }

  .landing-page .header .hero .floats .float-2 {
    left: 210px;
    right: auto;
  }

  .landing-page .header .hero .floats .float-3 {
    left: 110px;
    right: auto;
  }

  .landing-page .header .links .brand img {
    left: 0;
  }

  .landing-page .fa-external-link {
    padding-right: 5px;
    padding-left: 0 !important;
  }

  .landing-page .features #mastodon-timeline {
    margin-right: 0;
    margin-left: 30px;
  }

  @media screen and (min-width: 631px) {
    .column,
    .drawer {
      padding-left: 5px;
      padding-right: 5px;

      &:first-child {
        padding-left: 5px;
        padding-right: 10px;
      }
    }

    .columns-area > div {
      .column,
      .drawer {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .public-layout {
    .header {
      .nav-button {
        margin-left: 8px;
        margin-right: 0;
      }
    }

    .public-account-header__tabs {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}
