.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    line-height: 18px;
    vertical-align: top;
    border-top: 1px solid $ui-base-color;
    text-align: left;
    background: darken($ui-base-color, 4%);
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $ui-base-color;
    border-top: 0;
    font-weight: 500;
  }

  & > tbody > tr > th {
    font-weight: 500;
  }

  & > tbody > tr:nth-child(odd) > td,
  & > tbody > tr:nth-child(odd) > th {
    background: $ui-base-color;
  }

  a {
    color: $highlight-text-color;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  strong {
    font-weight: 500;

    @each $lang in $cjk-langs {
      &:lang(#{$lang}) {
        font-weight: 700;
      }
    }
  }

  &.inline-table {
    & > tbody > tr:nth-child(odd) {
      & > td,
      & > th {
        background: transparent;
      }
    }

    & > tbody > tr:first-child {
      & > td,
      & > th {
        border-top: 0;
      }
    }
  }
}

.table-wrapper {
  overflow: auto;
  margin-bottom: 20px;
}

samp {
  font-family: 'mastodon-font-monospace', monospace;
}

button.table-action-link {
  background: transparent;
  border: 0;
  font: inherit;
}

button.table-action-link,
a.table-action-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px;
  color: $darker-text-color;
  font-weight: 500;

  &:hover {
    color: $primary-text-color;
  }

  i.fa {
    font-weight: 400;
    margin-right: 5px;
  }

  &:first-child {
    padding-left: 0;
  }
}
