.accounts-table {
  width: 100%;

  .account {
    padding: 0;
    border: 0;
  }

  strong {
    font-weight: 700;
  }

  thead th {
    text-align: center;
    text-transform: uppercase;
    color: $darker-text-color;
    font-weight: 700;
    padding: 10px;

    &:first-child {
      text-align: start;
    }
  }

  tbody td {
    padding: 15px 0;
    vertical-align: middle;
    border-bottom: 1px solid lighten($ui-base-color, 8%);
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }

  &__count {
    width: 120px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: $primary-text-color;

    small {
      display: block;
      color: $darker-text-color;
      font-weight: 400;
      font-size: 14px;
    }
  }

  tbody td.accounts-table__extra {
    width: 120px;
    text-align: end;
    color: $darker-text-color;
    padding-inline-end: 16px;

    a {
      text-decoration: none;
      color: inherit;

      &:focus,
      &:hover,
      &:active {
        color: $highlight-text-color;
      }
    }
  }

  &__comment {
    width: 50%;
    vertical-align: initial !important;
  }

  tbody td.accounts-table__interrelationships {
    width: 21px;
    padding-inline-end: 16px;
  }

  .icon {
    &.active {
      color: $highlight-text-color;
    }

    &.passive {
      color: $passive-text-color;
    }

    &.active.passive {
      color: $active-passive-text-color;
    }
  }

  @media screen and (max-width: $no-gap-breakpoint) {
    tbody td.optional {
      display: none;
    }
  }
}
