.auto-dir
  - if status.spoiler_text?
    %p.email-status-spoiler
      = status.spoiler_text

  .email-status-prose
    = status_content_format(status)

  - if status.ordered_media_attachments.size.positive?
    %p.email-status-media
      - status.ordered_media_attachments.each do |a|
        - if status.local?
          = link_to full_asset_url(a.file.url(:original)), full_asset_url(a.file.url(:original))
        - else
          = link_to a.remote_url, a.remote_url
