.text-center {
    text-align: center;
}

.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leading-none {
    line-height: 1 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.text-4xl {
    font-size: 2.5rem !important;
}

.mt-3 {
    margin-top: 12px !important;
}

.my-12 {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.p-4 {
    padding: 14px !important;
}

.text-lg {
    font-size: 18px !important;
}

.font-medium {
    font-weight: 500 !important;
}