.media-item
  %span{style: media.image? ? "background-image: url(#{media.file.url(:original)})" : '', class: "u-#{media.video? || media.gifv? ? 'video' : 'photo'}"}
    - unless media.image?
      %video{ src: media.file.url(:original), autoplay: true, loop: true }/
