%a{:class => 'status-card', :href => card.url, :rel => 'noopener', :target => '_blank'}
  - unless card.image_file_name.nil?
    .status-card__image
      %img.status-card__image-image{:alt => card.title, :src => card.image}
  .status-card__content
    %strong.status-card__title{ title: card.title } #{card.title}
    %p.status-card__description #{card.description}
    %span.status-card__host #{hostname(card.url)}
