.landing-strip
  = t('landing_strip_html',
    name: content_tag(:span, display_name(account), class: :emojify),
    domain: site_hostname,
    link_to_root_path: link_to(content_tag(:strong, site_hostname), root_path),
    sign_up_path: new_user_registration_path)
