- if current_theme == 'system'
  = stylesheet_pack_tag 'mastodon-light', media: 'not all and (prefers-color-scheme: dark)', crossorigin: 'anonymous'
  = stylesheet_pack_tag 'default', media: '(prefers-color-scheme: dark)', crossorigin: 'anonymous'
- else
  = stylesheet_pack_tag current_theme, media: 'all', crossorigin: 'anonymous'
