- content_for :body_classes, 'app-body'
- content_for :header_tags do
  - if user_signed_in?
    %meta{ name: 'initialPath', content: request.path }

  %meta{ name: 'applicationServerKey', content: Rails.configuration.x.vapid.public_key }

  = render_initial_state
  = vite_typescript_tag 'application.ts', crossorigin: 'anonymous'

.notranslate.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_tag frontend_asset_path('images/logo.svg'), alt: 'Mastodon'

    %div
      = t('errors.noscript_html', apps_path: 'https://joinmastodon.org/apps')
