@use '@/styles/mastodon/mixins';

.page {
  min-height: 100%;
  border: 1px solid var(--color-border-primary);
  border-radius: 16px;
  background: var(--color-bg-primary);

  :global(.item-list) article:last-child :global(.status) {
    border-bottom: 0;
  }

  @media screen and (width <= 1175px) {
    border-radius: 0;
  }
}

.header {
  aspect-ratio: 40/21;
  border-radius: 16px 16px 0 0;

  @media screen and (width <= 1175px) {
    border-radius: 0;
  }
}

.banner {
  margin: 16px;
  margin-bottom: 0;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;

  color: var(--color-text-primary);

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.12px;
  }

  p {
    @include mixins.line-clamp(2);

    font-size: 16px;
    line-height: 24px;
  }
}

.block {
  padding: 16px;

  h2 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }

  :global(.account) {
    --avatar-border-radius: 50%;

    padding: 18px 16px;
    border: 1px solid var(--color-border-primary);
    border-radius: 12px;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 4px 0;

  :global(.skeleton) {
    height: 40px;
    border-radius: 12px;
    background: var(--color-bg-highlight);
  }
}

.minimalHeader {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 12px;

  @media screen and (width <= 1175px) {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }
}

.leftSide {
  max-width: 300px;
  font-size: 15px;
  font-weight: 600;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.rightSide {
  display: flex;
  flex: 1 0 0;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
}

.minimalFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  padding-top: 28px;
  padding-bottom: 54px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: var(--color-text-secondary);

  a {
    color: inherit;
    text-decoration: underline;
  }

  @media screen and (width <= 1175px) {
    justify-content: center;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }
}

.contact {
  display: flex;
  gap: 8px;
}
