.admin-wrapper {
    .sidebar-wrapper__inner { background: $bg-color }

    .sidebar {
        &__toggle {
            background: $top-bar-color;

            &__icon { color: $top-bar-icon-color }

            &__logo svg { fill: $top-bar-text-color }

            a {
                border-radius: 50%;

                &:hover { background: $icon-bg-hover-color }
            }
        }

        ul {
            a {
                padding: 16px;
                color: $ui-text-color;
                border-radius: 0;
        
                i.fa {
                    margin-right: 32px;
                    color: $icon-color;
                }
        
                &.selected {
                    background: $list-bg-active-color;
    
                    &:hover { background: $list-bg-active-hover-color }
                }
    
                &:hover {
                    color: $ui-text-color;
                    background-color: $list-bg-hover-color;
                }
            }
    
            ul {
                background: $bg-color;
                
                a { padding: 16px 36px }
            }
    
            .simple-navigation-active-leaf a {
                color: $ui-text-color;
                background-color: $list-bg-active-color;
    
                &:hover { background-color: $list-bg-active-hover-color }
            }
        }
    }

    .content {
        padding: 60px 16px 16px;

        h2,
        h3,
        h6 { color: $ui-text-color }

        h3 { margin-bottom: 28px }

        h4 {
            color: $section-text-color;
            border-bottom: none;
            padding: 12px 16px;
        }

        hr {
            border-bottom: 1px solid $border-color;
            margin: 16px 0;
        }

        .muted-hint {
            color: $ui-text-color;

            a { color: $link-text-color }
        }

        .positive-hint { color: $verified-color }

        .neutral-hint { color: $tips-text-color }

        .directory__tag h4 { color: $ui-text-color }

        &>p {
            color: $ui-text-color;
            margin-bottom: 16px;

            strong { color: $primary-text-color }
        }
    }

    .content-heading {
        border-bottom: none;
        margin: -16px -16px 40px 0;

        &>* {
            margin-top: 16px;
            margin-right: 16px;
        }
    }
}

.admin-account-bio {
    margin: 16px 0 0;

    .account__header {
        &__content {
            padding: 16px;
            color: $primary-text-color;
        }

        &__content,
        &__fields {
            @include shadow-1dp;
            background: $list-bg-color;
            border-radius: $table-radius;
    
            a { color: $link-text-color }
        }
    }

    &>div {
        padding: 0 8px;
        margin-bottom: 16px;
    }
}

.filters .filter-subset {
    padding: 0 16px;
    margin: 0 0 16px;
    border-right: 1px solid $border-color;

    strong { color: $ui-text-color }

    ul {
        margin-top: 0;

        li { margin-right: 0 }
    }

    a {
        color: $tab-item-color;
        border-bottom: 2px solid transparent;
        padding: 8px;

        &.selected {
            color: $tab-item-active-color;
            border-bottom: 2px solid $tab-item-active-color;

            &:hover {
                color: $tab-item-active-color;
                border-bottom: 2px solid $tab-item-active-color;
            }
        }

        &:hover {
            color: $tab-item-color;
            background: $tab-bg-hover-color;
            border-bottom: 2px solid transparent;
        }
    }
}

body {
    .positive-hint { color: $verified-color }
    
    .muted-hint {
        color: $ui-text-color;
    
        a { color: $link-text-color }
    }

    .neutral-hint { color: $tips-text-color }
}

.report-card {
    @include shadow-1dp;
    background: $card-bg-color;
    border-radius: $card-radius;
    margin-bottom: 16px;

    &__profile {
        padding: 16px;

        &__stats {
            color: $info-text-color;

            .red { color: $error-color }
        }
    }

    &__summary__item {
        border-top: 1px solid $border-color;

        &:hover { background: $card-bg-color }

        &__assigned,
        &__reported-by { color: $ui-text-color }

        &__content {
            a {
                padding: 16px;
                color: $primary-text-color;
            }

            &__icon {
                color: $icon-color;
                margin-right: 8px;
            }
        }
    }
}


.log-entry {
    padding: 16px 0;
    background: $list-bg-color;
    border-bottom: 1px solid $border-color;

    &:first-child { border-radius: $table-radius $table-radius 0 0 }

    &:last-child { border-radius: 0 0 $table-radius $table-radius }

    &__header {
        color: $ui-text-color;
        padding: 0 16px;
    }

    &__avatar { margin-right: 16px }

    &__timestamp { color: $info-text-color }

    .target,
    .username,
    a { color: $primary-text-color }
}

.dashboard {
    &__counters {
        margin: 0 0 16px;

        &__num,
        &__text {
            color: $secondary-text-color;
            margin-bottom: 16px;
        }

        &__label { color: $ui-text-color }

        &>div {
            padding: 0 8px;
            margin-bottom: 16px;

            &>div,
            &>a {
                @include shadow-1dp;
                padding: 16px;
                background: $card-bg-color;
                border-radius: $card-radius;

                &:active,
                &:focus,
                &:hover { background: $card-bg-hover-color }
            }
        }

        &.admin-account-counters { margin-top: 16px }
    }

    &__widgets {
        &>div {
            margin-bottom: 16px;

            &>div { padding: 0 8px }
        }

        a:not(.name-tag) { color: $ui-text-color }
    }
}

.inline-name-tag,
.name-tag,
a.inline-name-tag,
a.name-tag { color: $ui-text-color }