.admin-wrapper {
    .sidebar-wrapper__inner { background: $bg-color }

    .sidebar {
        &__toggle {
            background: $top-bar-color;

            &__icon { color: $top-bar-icon-color }

            &__logo svg { fill: $top-bar-text-color }

            a {
                border-radius: 50%;

                &:hover { background: $icon-bg-hover-color }
            }
        }

        ul {
            a {
                padding: 16px;
                color: $ui-text-color;
                border-radius: 0;
        
                i.fa {
                    margin-right: 32px;
                    color: $icon-color;
                }
        
                &.selected {
                    background: $list-bg-active-color;
    
                    &:hover { background: $list-bg-active-hover-color }
                }
    
                &:hover {
                    color: $ui-text-color;
                    background-color: $list-bg-hover-color;
                }
            }
    
            ul {
                background: $bg-color;
                
                a { padding: 16px 36px }
            }
    
            .simple-navigation-active-leaf a {
                color: $ui-text-color;
                background-color: $list-bg-active-color;
    
                &:hover { background-color: $list-bg-active-hover-color }
            }
        }
    }

    .content {
        padding: 60px 16px 16px;

        h2,
        h3,
        h6 { color: $ui-text-color }

        h3 { margin-bottom: 28px }

        h4 {
            color: $section-text-color;
            border-top: 1px solid $border-color;
            border-bottom: none;
            padding: 12px 16px;
        }

        hr {
            border-bottom: 1px solid $border-color;
            margin: 16px 0;
        }

        .muted-hint {
            color: $ui-text-color;

            a { color: $link-text-color }
        }

        .positive-hint { color: $verified-color }

        .directory__tag h4 { color: $ui-text-color }

        &>p {
            color: $ui-text-color;
            margin-bottom: 16px;

            strong { color: $primary-text-color }
        }
    }

    .content-heading {
        border-bottom: none;
        margin: -16px -16px 40px 0;

        &>* {
            margin-top: 16px;
            margin-right: 16px;
        }
    }
}

.filters .filter-subset {
    padding: 0 16px;
    margin: 0 0 16px;
    border-right: 1px solid $border-color;

    strong { color: $ui-text-color }

    ul {
        margin-top: 0;

        li { margin-right: 0 }
    }

    a {
        color: $text-tab-indicator-color;
        border-bottom: 2px solid transparent;
        padding: 8px;

        &.selected {
            color: $text-tab-indicator-active-color;
            border-bottom: 2px solid $text-tab-indicator-active-color;

            &:hover {
                color: $text-tab-indicator-active-color;
                border-bottom: 2px solid $text-tab-indicator-active-color;
            }
        }

        &:hover {
            color: $text-tab-indicator-color;
            background: $text-tab-indicator-bg-hover-color;
            border-bottom: 2px solid transparent;
        }
    }
}

body {
    .positive-hint { color: $verified-color }
    
    .muted-hint {
        color: $ui-text-color;
    
        a { color: $link-text-color }
    }
}