// Favorite icon settings
$favorite-icon: "star"; $favorite-icon-border: "star_border";  // Star
//$favorite-icon: "favorite"; $favorite-icon-border: "favorite_border";  // Heart
//$favorite-icon: "plus_one"; $favorite-icon-border: "plus_one";  // +1

$favorite-icon-color: #ffd600;  // Star
//$favorite-icon-color: #ff4081;  // Heart
//$favorite-icon-color: #db4437;  // +1
//$favorite-icon-color: #ffffff;  // inverted +1 (for plus plugin)

$boosted-icon-color: $primary-color;


// Reply icon settings
$reply-icon: "reply";
//$reply-icon: "comment";  // blooming


// Material Design Icon settings
// If you want to use self-hosting font, please place MaterialIcons-Regular.woff2 file in '../../fonts' folder and configure below.
$icon-font-source: google;  // Google Fonts
//$icon-font-source: github;  // GitHub
//$icon-font-source: self;  // Self-hosting

// Material Icon style settings
$icon-font-style: filled;
//$icon-font-style: outlined;
//$icon-font-style: round;
//$icon-font-style: sharp;
//$icon-font-style: two-tone;