.card .name small {
  color: $ui-secondary-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-secondary-color,0.4);
}

.react-toggle--checked .react-toggle-track {
  background-color: $ui-secondary-color;
}
