@charset "UTF-8";
@import '../theme/mixins';


// Navigation bar radius
$nav-bar-radius: 2px;


// Search bar radius
$search-bar-radius: 2px;


// Bar radius settings
$bar-radius: 0;


// Button radius settings
$button-radius: 2px;


// Card radius settings
$card-radius: 2px;


// Dialog radius settings
$dialog-radius: 2px;


// Menu radius settings
$menu-radius: 2px;


// Media radius settings
$media-radius: 0;


// Navigation drawer item settings
$nav-drawer-item-radius: 0;


// Avatar cropping settings
$avatar-radius: 50%;  // Rounded cropping
//$avatar-radius: 2px  // Material v1 square
//$avatar-radius: $card-radius  // Fit to card radius


// Chip settings
$chip-type: contained;  // Material v1 styled contained chip


// Button on statuses
$button-on-status: text;  // Material v1 styled text button
//$button-on-status: outlined;  // Material v2 styled outlined button


// Button shadow
$button-shadow: true;  // Material v1 styled colored button with shadow


// Floating Action Button size
$fab-size: 56px;


// CW text field border
$cw-area-border: underlined;
//$cw-area-border: none;

// Compose text field border
$compose-area-border: none;
//$compose-area-border: underlined;

// Other text field border
$other-text-area-border: underlined;
//$other-text-area-border: none;