- content_for :page_title do
  = t('settings.two_factor_authentication')

%p.hint= t('two_factor_authentication.recovery_instructions_html')

%ol.recovery-codes
  - @recovery_codes.each do |code|
    %li<
      %samp= code

- if params[:oauth]
  %hr.spacer/

  .simple_form
    = link_to t('two_factor_authentication.resume_app_authorization'), return_to_app_url, class: 'button button--block'
