$highlight-primary: #eaeaea;
$highlight-secondary: #7aa6da;
$highlight-background: #000000;
$highlight-lineno-background: #191919;
$highlight-selected: #424242;
$highlight-operator: #70c0b1;
$highlight-keyword: #c397d8;
$highlight-namespace: #e7c547;
$highlight-comment: #969896;
$highlight-scoped: #d54e53;
$highlight-numeric: #e78c45;
$highlight-string: #b9ca4a;

@import "../base"
