$highlight-primary: #ffffff;
$highlight-secondary: #bbdaff;
$highlight-background: #002451;
$highlight-lineno-background: #193962;
$highlight-selected: #003f8e;
$highlight-operator: #99ffff;
$highlight-keyword: #ebbbff;
$highlight-namespace: #ffeead;
$highlight-comment: #7285b7;
$highlight-scoped: #ff9da4;
$highlight-numeric: #ffc58f;
$highlight-string: #d1f1a9;

@import "../base"
