$highlight-primary: #c5c8c6;
$highlight-secondary: #81a2be;
$highlight-background: #1d1f21;
$highlight-lineno-background: #333537;
$highlight-selected: #373b41;
$highlight-operator: #8abeb7;
$highlight-keyword: #b294bb;
$highlight-namespace: #f0c674;
$highlight-comment: #969896;
$highlight-scoped: #cc6666;
$highlight-numeric: #de935f;
$highlight-string: #b5bd68;

@import "../base"
