$highlight-primary: #4d4d4c;
$highlight-secondary: #4271ae;
$highlight-background: #ffffff;
$highlight-lineno-background: #e5e5e5; /* or ffffff */
$highlight-selected: #d6d6d6;
$highlight-operator: #3e999f;
$highlight-keyword: #8959a8;
$highlight-namespace: #eab700;
$highlight-comment: #8e908c;
$highlight-scoped: #c82829;
$highlight-numeric: #f5871f;
$highlight-string: #718c00;

@import "../base"