.item {
  touch-action: manipulation;
}

.handle {
  cursor: grab;
}

.active {
  cursor: grabbing;
}

.defaultHandle {
  border: none;
  vertical-align: middle;
  appearance: none;
  background: none;
}
