- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(render(file: 'home/initial_state', formats: :json))

  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'

.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_tag asset_pack_path('logo.png')
    %div
      = t('errors.noscript')
