.activity-stream.activity-stream-headless
  - @statuses.each do |status|
    = render partial: 'stream_entries/status', locals: { status: status, include_threads: false, is_successor: false, is_predecessor: false }
