- content_for :header_tags do
  %meta{name: 'initial-state', content: render(file: 'home/initial_state', formats: :json)}
  :javascript
    window.INITIAL_STATE = JSON.parse(document.querySelector('meta[name=initial-state]').content);

  = javascript_include_tag 'application'

= react_component 'Mastodon', default_props, class: 'app-holder', prerender: false
