= simple_form_for Status.new, url: statuses_path, method: :post do |f|
  = f.input :text, required: true, autofocus: true, label: false, placeholder: 'What are you up to?'

  .form-actions
    = f.button :submit, 'Post update'

%hr/

%h3 OAuth2
%p All API methods require a valid access token.

%h3 Statuses
%ul.api-descriptions
  %li
    .address
      %samp.method GET
      %samp /api/statuses/home
    .description
      Returns user's home timeline
  %li
    .address
      %samp.method GET
      %samp /api/statuses/mentions
    .description
      Returns user's mentions timeline
  %li
    .address
      %samp.method POST
      %samp /api/statuses
    .options
      Options:
      = succeed ',' do
        %samp status
      %samp in_reply_to_id
    .description
      Creates a new status, optionally as a response to another, from user's account. Returns the new status.
  %li
    .address
      %samp.method GET
      %samp /api/statuses/:id
    .description
      Returns a single status
  %li
    .address
      %samp.method POST
      %samp /api/statuses/:id/reblog
    .description
      Reblogs a status from user's account. Returns the target status.
  %li
    .address
      %samp.method POST
      %samp /api/statuses/:id/favourite
    .description
      Favourites a status from user's account. Returns the target status.

%h3 Accounts
%ul.api-descriptions
  %li
    .address
      %samp.method GET
      %samp /api/accounts/:id
    .description
      Returns a single account
  %li
    .address
      %samp.method GET
      %samp /api/accounts/:id/statuses
    .description
      Returns an account's statuses
  %li
    .address
      %samp.method GET
      %samp /api/accounts/:id/followers
    .description
      Returns accounts following an account
  %li
    .address
      %samp.method GET
      %samp /api/accounts/:id/following
    .description
      Returns the accounts the target account follows
  %li
    .address
      %samp.method POST
      %samp /api/accounts/:id/follow
    .description
      Follows target account from the user's account. Returns the target account.
  %li
    .address
      %samp.method POST
      %samp /api/accounts/:id/unfollow
    .description
      Unfollows target account from the user's account. Returns the target account.
  %li
    .address
      %samp.method GET
      %samp /api/accounts/lookup
    .options
      Options:
      %samp usernames
    .description
      Returns accounts for a comma-separated list of usernames

%h3 Follows
%ul.api-descriptions
  %li
    .address
      %samp.method POST
      %samp /api/follows
    .options
      Options:
      %samp uri
    .description
      Follows a user, regardless of where they are, from user's account. URI assumed to be of username@domain form. Returns the target account.
