{
    debug
}

:8080

@local {
	file
	not path /
}

@local_media {
	path_regexp /system/(.*)
}

@cache_control {
	path_regexp ^/(assets|avatars|emoji|headers|packs|shortcuts|sounds|system)
}

root * /opt/mastodon/public

encode zstd gzip

handle_errors {
	rewrite 500.html
	file_server
}

header {
	Strict-Transport-Security "max-age=63072000; includeSubDomains"
}
header /sw.js Cache-Control "public, max-age=604800, must-revalidate"
header @cache_control Cache-Control "public, max-age=2419200, must-revalidate"

handle @local {
	file_server
}

redir @local_media https://assets.toot.pizza/{http.regexp.1} permanent

reverse_proxy / :3000 {
	trusted_proxies private_ranges

	health_uri /health
	health_interval 10s
	health_timeout 2s

	transport http {
		keepalive 5s
		keepalive_idle_conns 10
    }
}

reverse_proxy /api/v1/streaming :4000 {
	trusted_proxies private_ranges

	transport http {
		keepalive 5s
		keepalive_idle_conns 10
    }
}
