= f.input :name, placeholder: 'name', hint: t('activerecord.attributes.doorkeeper/application.name')
= f.input :website, placeholder: 'website', hint: t('activerecord.attributes.doorkeeper/application.website')
= f.input :redirect_uri, placeholder: 'redirect url', hint: t('activerecord.attributes.doorkeeper/application.redirect_uri')
= f.input :scopes, placeholder: 'scopes', hint: t('activerecord.attributes.doorkeeper/application.scopes')
