= f.input :name, hint: t('activerecord.attributes.doorkeeper/application.name')
= f.input :website, hint: t('activerecord.attributes.doorkeeper/application.website')
= f.input :redirect_uri, hint: t('activerecord.attributes.doorkeeper/application.redirect_uri')
= f.input :scopes, hint: t('activerecord.attributes.doorkeeper/application.scopes')
