- content_for :page_title do
  = t('doorkeeper.applications.new.title')
  
.form-container
  = simple_form_for @application, url: settings_applications_path do |f|
    = render 'fields', f:f
    
    .actions
      = f.button :button, t('.create'), type: :submit
