- content_for :page_title do
  = t('remote_unfollow.title', acct: @account.acct)

.form-container
  .follow-prompt
    %h2= t('remote_unfollow.unfollowed')

    = render 'card', account: @account

  = render 'post_follow_actions'
