.text-icon-button,
.icon-button.inverted,
.privacy-dropdown__option,
.privacy-dropdown__option__content strong,
.autosuggest-textarea__textarea,
.spoiler-input__input,
.search-popout em,
.activity-stream-tabs a.active,
.activity-stream .status.light .status__content,
.activity-stream .status.light .display-name strong,
.announcements li,
.announcements__body a,
.status__content__spoiler-link {
  color: $primary-text-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-secondary-color,0.4);
}

.favourite-tags a {
  color: $ui-primary-color;
}

.button {
  color: $white;
}
