.drawer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 300px;
  flex: none;
  contain: strict;

  &:first-child {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 10px;
  }

  @include single-column('screen and (max-width: 630px)') { flex: auto }

  @include limited-single-column('screen and (max-width: 630px)') {
    &, &:first-child, &:last-child { padding: 0 }
  }

  .wide & {
    min-width: 300px;
    max-width: 400px;
    flex: 1 1 200px;
  }

  @include single-column('screen and (max-width: 630px)') {
    :root & {  //  Overrides `.wide` for single-column view
      flex: auto;
      width: 100%;
      min-width: 0;
      max-width: none;
      padding: 0;
    }
  }

  .react-swipeable-view-container & { height: 100% }

  & > .contents {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    background: lighten($ui-base-color, 13%);
    overflow-x: hidden;
    overflow-y: auto;
    contain: strict;
  }

  .drawer--inner {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    .mastodon {
      flex: 1;
      border: none;
      cursor: inherit;
    }
  }

  @for $i from 0 through 3 {
    .drawer--inner.mbstobon-#{$i} {
      @if $i == 3 {
        background: lighten($ui-base-color, 13%) url('~flavours/glitch/images/wave-drawer.png') no-repeat bottom / 100% auto;
      } @else {
        background: lighten($ui-base-color, 13%) url('~flavours/glitch/images/wave-drawer-glitched.png') no-repeat bottom / 100% auto;
      }

      .mastodon {
        background: url("~flavours/glitch/images/mbstobon-ui-#{$i}.png") no-repeat left bottom / contain;

        @if $i != 3 {
          filter: contrast(50%) brightness(50%);
        }
      }
    }
  }
}

.drawer--header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex: none;
  background: lighten($ui-base-color, 8%);
  font-size: 16px;

  & > * {
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    padding: 15px 5px 13px;
    height: 48px;
    flex: 1 1 auto;
    color: $ui-primary-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  a {
    transition: background 100ms ease-in;

    &:focus,
    &:hover {
      outline: none;
      background: lighten($ui-base-color, 3%);
      transition: background 200ms ease-out;
    }
  }
}

.drawer--search {
  position: relative;
  margin-bottom: 10px;
  flex: none;

  @include limited-single-column('screen and (max-width: 360px)') { margin-bottom: 0 }
  @include single-column('screen and (max-width: 630px)') { font-size: 16px }

  input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 10px 30px 10px 10px;
    width: 100%;
    height: 36px;
    outline: 0;
    color: $ui-primary-color;
    background: $ui-base-color;
    font-size: 14px;
    font-family: inherit;
    line-height: 16px;

    &:focus {
      outline: 0;
      background: lighten($ui-base-color, 4%);
    }
  }

  & > .icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    color: $ui-secondary-color;
    font-size: 18px;
    line-height: 18px;
    z-index: 2;

    .fa {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: default;
      pointer-events: none;
      transition: all 100ms linear;
    }

    .fa-search {
      opacity: 0.3;
      transform: rotate(0deg);
    }

    .fa-times-circle {
      transform: rotate(-90deg);
      cursor: pointer;

      &:hover { color: $primary-text-color }
    }
  }

  &.active {
    & > .icon {
      .fa-search {
        opacity: 0;
        transform: rotate(90deg);
      }

      .fa-times-circle {
        opacity: 0.3;
        pointer-events: auto;
        transform: rotate(0deg);
      }
    }
  }
}

.drawer--search--popout {
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 14px 14px 14px;
  box-shadow: 2px 4px 15px rgba($base-shadow-color, 0.4);
  color: $ui-primary-color;
  background: $simple-background-color;

  h4 {
    margin-bottom: 10px;
    color: $ui-primary-color;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  ul { margin-bottom: 10px }
  li { padding: 4px 0 }

  em {
    color: $ui-base-color;
    font-weight: 500;
  }
}

.drawer--account {
  padding: 10px;
  color: $ui-primary-color;

  & > a {
    color: inherit;
    text-decoration: none;
  }

  & > .avatar {
    float: left;
    margin-right: 10px;
  }

  & > .acct {
    display: block;
    color: $primary-text-color;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.drawer--results {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: $ui-base-color;
  overflow-x: hidden;
  overflow-y: auto;
  contain: strict;

  & > header {
    border-bottom: 1px solid darken($ui-base-color, 4%);
    padding: 15px 10px;
    color: $ui-base-lighter-color;
    background: lighten($ui-base-color, 2%);
    font-size: 14px;
    font-weight: 500;
  }

  & > section {
    background: $ui-base-color;

    & > .hashtag {
      display: block;
      padding: 10px;
      color: $ui-secondary-color;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: lighten($ui-secondary-color, 4%);
        text-decoration: underline;
      }
    }
  }
}

.drawer__pager {
  box-sizing: border-box;
  padding: 0;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  display: flex;
}

.drawer__inner {
  position: absolute;
  top: 0;
  left: 0;
  background: lighten($ui-base-color, 13%) url('~images/wave-drawer.png') no-repeat bottom / 100% auto;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &.darker {
    background: $ui-base-color;
  }

  > .mastodon {
    background: url('~images/mastodon-ui.png') no-repeat left bottom / contain;
    flex: 1;
  }
}

.pseudo-drawer {
  background: lighten($ui-base-color, 13%);
  font-size: 13px;
  text-align: left;
}

.drawer__backdrop {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($base-overlay-background, 0.5);
}
