.app-body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.button {
  background-color: darken($ui-highlight-color, 3%);
  border: 10px none;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 100ms ease-in;
  white-space: nowrap;
  width: auto;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 7%);
    transition: all 200ms ease-out;
  }

  &:disabled {
    background-color: $ui-primary-color;
    cursor: default;
  }

  &.button-alternative {
    font-size: 16px;
    line-height: 36px;
    height: auto;
    color: $ui-base-color;
    background: $ui-primary-color;
    text-transform: none;
    padding: 4px 16px;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-primary-color, 4%);
    }
  }

  &.button-secondary {
    font-size: 16px;
    line-height: 36px;
    height: auto;
    color: $ui-primary-color;
    text-transform: none;
    background: transparent;
    padding: 3px 15px;
    border-radius: 4px;
    border: 1px solid $ui-primary-color;

    &:active,
    &:focus,
    &:hover {
      border-color: lighten($ui-primary-color, 4%);
      color: lighten($ui-primary-color, 4%);
    }
  }

  &.button--block {
    display: block;
    width: 100%;
  }
}

.column__wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.column-icon {
  background: lighten($ui-base-color, 4%);
  color: $ui-primary-color;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: -48px;
  z-index: 3;

  &:hover {
    color: lighten($ui-primary-color, 7%);
  }
}

.icon-button {
  display: inline-block;
  padding: 0;
  color: $ui-base-lighter-color;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 100ms ease-in;

  &:hover,
  &:active,
  &:focus {
    color: lighten($ui-base-color, 33%);
    transition: color 200ms ease-out;
  }

  &.disabled {
    color: lighten($ui-base-color, 13%);
    cursor: default;
  }

  &.active {
    color: $ui-highlight-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }

  &.inverted {
    color: lighten($ui-base-color, 33%);

    &:hover,
    &:active,
    &:focus {
      color: $ui-base-lighter-color;
    }

    &.disabled {
      color: $ui-primary-color;
    }

    &.active {
      color: $ui-highlight-color;

      &.disabled {
        color: lighten($ui-highlight-color, 13%);
      }
    }
  }

  &.overlayed {
    box-sizing: content-box;
    background: rgba($base-overlay-background, 0.6);
    color: rgba($primary-text-color, 0.7);
    border-radius: 4px;
    padding: 2px;

    &:hover {
      background: rgba($base-overlay-background, 0.9);
    }
  }
}

.text-icon-button {
  color: lighten($ui-base-color, 33%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  padding: 0 3px;
  line-height: 27px;
  outline: 0;
  transition: color 100ms ease-in;

  &:hover,
  &:active,
  &:focus {
    color: $ui-base-lighter-color;
    transition: color 200ms ease-out;
  }

  &.disabled {
    color: lighten($ui-base-color, 13%);
    cursor: default;
  }

  &.active {
    color: $ui-highlight-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }
}

.dropdown-menu {
  position: absolute;
  transform-origin: 50% 0;
}

.dropdown--active .icon-button {
  color: $ui-highlight-color;
}

.dropdown--active::after {
  @media screen and (min-width: 631px) {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 7.8px;
    border-color: transparent transparent $ui-secondary-color;
    bottom: 8px;
    right: 104px;
  }
}

.invisible {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;

  img,
  svg {
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }
}

.ellipsis {
  &::after {
    content: "…";
  }
}

.lightbox .icon-button {
  color: $ui-base-color;
}

.emojione {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  object-fit: contain;
  margin: -.2ex .15em .2ex;
  width: 16px;
  height: 16px;

  img {
    width: auto;
  }
}

.notification__favourite-icon-wrapper {
  left: -26px;
  position: absolute;

  .star-icon {
    color: $gold-star;
  }
}

.star-icon.active {
  color: $gold-star;
}

.notification__display-name {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $primary-text-color;
    text-decoration: underline;
  }
}

.display-name {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-name__html {
  font-weight: 500;
}

.display-name__account {
  font-size: 14px;
}

.image-loader {
  position: relative;

  &.image-loader--loading {
    .image-loader__preview-canvas {
      filter: blur(2px);
    }
  }

  .image-loader__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    background-image: none;
  }

  &.image-loader--amorphous {
    position: static;

    .image-loader__preview-canvas {
      display: none;
    }

    .image-loader__img {
      position: static;
      width: auto;
      height: auto;
    }
  }
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown-menu__separator {
  border-bottom: 1px solid darken($ui-secondary-color, 8%);
  margin: 5px 7px 6px;
  height: 0;
}

.dropdown-menu {
  background: $ui-secondary-color;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 2px 4px 15px rgba($base-shadow-color, 0.4);

  ul {
    list-style: none;
  }
}

.dropdown-menu__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;

  &.left {
    right: -5px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: $ui-secondary-color;
  }

  &.top {
    bottom: -5px;
    margin-left: -13px;
    border-width: 5px 7px 0;
    border-top-color: $ui-secondary-color;
  }

  &.bottom {
    top: -5px;
    margin-left: -13px;
    border-width: 0 7px 5px;
    border-bottom-color: $ui-secondary-color;
  }

  &.right {
    left: -5px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: $ui-secondary-color;
  }
}

.dropdown-menu__item {
  a {
    font-size: 13px;
    line-height: 18px;
    display: block;
    padding: 4px 14px;
    box-sizing: border-box;
    text-decoration: none;
    background: $ui-secondary-color;
    color: $ui-base-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus,
    &:hover,
    &:active {
      background: $ui-highlight-color;
      color: $ui-secondary-color;
      outline: 0;
    }
  }
}

.dropdown--active .dropdown__content {
  display: block;
  line-height: 18px;
  max-width: 311px;
  right: 0;
  text-align: left;
  z-index: 9999;

  & > ul {
    list-style: none;
    background: $ui-secondary-color;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba($base-shadow-color, 0.4);
    min-width: 140px;
    position: relative;
  }

  &.dropdown__right {
    right: 0;
  }

  &.dropdown__left {
    & > ul {
      left: -98px;
    }
  }

  & > ul > li > a {
    font-size: 13px;
    line-height: 18px;
    display: block;
    padding: 4px 14px;
    box-sizing: border-box;
    text-decoration: none;
    background: $ui-secondary-color;
    color: $ui-base-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      outline: 0;
    }

    &:hover {
      background: $ui-highlight-color;
      color: $ui-secondary-color;
    }
  }
}

.dropdown__icon {
  vertical-align: middle;
}

.static-content {
  padding: 10px;
  padding-top: 20px;
  color: $ui-base-lighter-color;

  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
  }

  p {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.columns-area {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  position: relative;
}

@include limited-single-column('screen and (max-width: 360px)', $parent: null) {
  .columns-area {
    padding: 10px;
  }

  .react-swipeable-view-container .columns-area {
    height: calc(100% - 20px) !important;
  }
}

.react-swipeable-view-container {
  &,
  .columns-area,
  .drawer,
  .column {
    height: 100%;
  }
}

.react-swipeable-view-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.column {
  width: 330px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > .scrollable {
    background: $ui-base-color;
  }
}

.ui {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: darken($ui-base-color, 7%);
}

.column {
  overflow: hidden;
}

@include limited-single-column('screen and (max-width: 360px)', $parent: null) {
  .tabs-bar {
    margin: 0;
  }
}

:root {  //  Overrides .wide stylings for mobile view
  @include single-column('screen and (max-width: 630px)', $parent: null) {
    .column {
      flex: auto;
      width: 100%;
      min-width: 0;
      max-width: none;
      padding: 0;
    }

    .columns-area {
      flex-direction: column;
    }

    .search__input,
    .autosuggest-textarea__textarea {
      font-size: 16px;
    }
  }
}

@include multi-columns('screen and (min-width: 631px)', $parent: null) {
  .columns-area {
    padding: 0;
  }

  .column {
    flex: 0 0 auto;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  .columns-area > div {
    .column {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.drawer__pager {
  box-sizing: border-box;
  padding: 0;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  display: flex;
}

.drawer__inner {
  position: absolute;
  top: 0;
  left: 0;
  background: lighten($ui-base-color, 13%) url('~images/wave-drawer.png') no-repeat bottom / 100% auto;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &.darker {
    background: $ui-base-color;
  }

  > .mastodon {
    background: url('~images/mastodon-ui.png') no-repeat left bottom / contain;
    flex: 1;
  }
}

.pseudo-drawer {
  background: lighten($ui-base-color, 13%);
  font-size: 13px;
  text-align: left;
}

.tabs-bar {
  display: flex;
  background: lighten($ui-base-color, 8%);
  flex: 0 0 auto;
  overflow-y: auto;
}

.tabs-bar__link {
  display: block;
  flex: 1 1 auto;
  padding: 15px 10px;
  color: $primary-text-color;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid lighten($ui-base-color, 8%);
  transition: all 200ms linear;

  .fa {
    font-weight: 400;
    font-size: 16px;
  }

  &.active {
    border-bottom: 2px solid $ui-highlight-color;
    color: $ui-highlight-color;
  }

  &:hover,
  &:focus,
  &:active {
    @include multi-columns('screen and (min-width: 631px)') {
      background: lighten($ui-base-color, 14%);
      transition: all 100ms linear;
    }
  }

  span {
    margin-left: 5px;
    display: none;
  }
}

@include limited-single-column('screen and (max-width: 600px)', $parent: null) {
  .tabs-bar__link {
    span {
      display: inline;
    }
  }
}

@include multi-columns('screen and (min-width: 631px)', $parent: null) {
  .tabs-bar {
    display: none;
  }
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform; // improves perf in mobile Chrome

  &.optionally-scrollable {
    overflow-y: auto;
  }

  @supports(display: grid) { // hack to fix Chrome <57
    contain: strict;
  }
}

.scrollable.fullscreen {
  @supports(display: grid) { // hack to fix Chrome <57
    contain: none;
  }
}

.column-back-button {
  background: lighten($ui-base-color, 4%);
  color: $ui-highlight-color;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 16px;
  border: 0;
  text-align: unset;
  padding: 15px;
  margin: 0;
  z-index: 3;

  &:hover {
    text-decoration: underline;
  }
}

.column-header__back-button {
  background: lighten($ui-base-color, 4%);
  border: 0;
  font-family: inherit;
  color: $ui-highlight-color;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 16px;
  padding: 0 5px 0 0;
  z-index: 3;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    padding: 0 15px 0 0;
  }
}

.column-back-button__icon {
  display: inline-block;
  margin-right: 5px;
}

.column-back-button--slim {
  position: relative;
}

.column-back-button--slim-button {
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 16px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: -48px;
}

.react-toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba($base-overlay-background, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: $ui-base-color;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: darken($ui-base-color, 10%);
}

.react-toggle--checked .react-toggle-track {
  background-color: $ui-highlight-color;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: lighten($ui-highlight-color, 10%);
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid $ui-base-color;
  border-radius: 50%;
  background-color: darken($simple-background-color, 2%);
  box-sizing: border-box;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: $ui-highlight-color;
}

.column-link {
  background: lighten($ui-base-color, 8%);
  color: $primary-text-color;
  display: block;
  font-size: 16px;
  padding: 15px;
  text-decoration: none;

  &:hover {
    background: lighten($ui-base-color, 11%);
  }
}

.column-link__icon {
  display: inline-block;
  margin-right: 5px;
}

.column-subheading {
  background: $ui-base-color;
  color: $ui-base-lighter-color;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
}

.getting-started__wrapper,
.getting_started {
  background: $ui-base-color;
}

.getting-started__wrapper {
  position: relative;
  overflow-y: auto;
}

.getting-started {
  background: $ui-base-color;
  flex: 1 0 auto;

  p {
    color: $ui-secondary-color;
  }

  a {
    color: $ui-base-lighter-color;
  }
}

.keyboard-shortcuts {
  padding: 8px 0 0;
  overflow: hidden;

  thead {
    position: absolute;
    left: -9999px;
  }

  td {
    padding: 0 10px 8px;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    background-color: lighten($ui-base-color, 8%);
    border: 1px solid darken($ui-base-color, 4%);
  }
}

.setting-text {
  color: $ui-primary-color;
  background: transparent;
  border: none;
  border-bottom: 2px solid $ui-primary-color;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  margin-bottom: 10px;
  padding: 7px 0;
  width: 100%;

  &:focus,
  &:active {
    color: $primary-text-color;
    border-bottom-color: $ui-highlight-color;
  }

  @include limited-single-column('screen and (max-width: 600px)') {
    font-size: 16px;
  }

  &.light {
    color: $ui-base-color;
    border-bottom: 2px solid lighten($ui-base-color, 27%);

    &:focus,
    &:active {
      color: $ui-base-color;
      border-bottom-color: $ui-highlight-color;
    }
  }
}

@import 'boost';

.no-reduce-motion button.icon-button i.fa-retweet {
  background-position: 0 0;
  height: 19px;
  transition: background-position 0.9s steps(10);
  transition-duration: 0s;
  vertical-align: middle;
  width: 22px;

  &::before {
    display: none !important;
  }
}

.no-reduce-motion button.icon-button.active i.fa-retweet {
  transition-duration: 0.9s;
  background-position: 0 100%;
}

.reduce-motion button.icon-button i.fa-retweet {
  color: $ui-base-lighter-color;
  transition: color 100ms ease-in;
}

.reduce-motion button.icon-button.active i.fa-retweet {
  color: $ui-highlight-color;
}

.load-more {
  display: block;
  color: $ui-base-lighter-color;
  background-color: transparent;
  border: 0;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  margin: 0;
  padding: 15px;
  width: 100%;
  clear: both;

  &:hover {
    background: lighten($ui-base-color, 2%);
  }
}

.missing-indicator {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: lighten($ui-base-color, 16%);
  background: $ui-base-color;
  cursor: default;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  & > div {
    background: url('~images/mastodon-not-found.png') no-repeat center -50px;
    padding-top: 210px;
    width: 100%;
  }
}

.column-header__wrapper {
  position: relative;
  flex: 0 0 auto;

  &.active {
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 60%;
      pointer-events: none;
      height: 28px;
      z-index: 1;
      background: radial-gradient(ellipse, rgba($ui-highlight-color, 0.23) 0%, rgba($ui-highlight-color, 0) 60%);
    }
  }
}

.column-header {
  display: flex;
  padding: 15px;
  font-size: 16px;
  background: lighten($ui-base-color, 4%);
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 2;
  outline: 0;

  &.active {
    box-shadow: 0 1px 0 rgba($ui-highlight-color, 0.3);

    .column-header__icon {
      color: $ui-highlight-color;
      text-shadow: 0 0 10px rgba($ui-highlight-color, 0.4);
    }
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

.column-header__buttons {
  height: 48px;
  display: flex;
  margin: -15px;
  margin-left: 0;
}

.column-header__links .text-btn {
  margin-right: 10px;
}

.column-header__button {
  background: lighten($ui-base-color, 4%);
  border: 0;
  color: $ui-primary-color;
  cursor: pointer;
  font-size: 16px;
  padding: 0 15px;

  &:hover {
    color: lighten($ui-primary-color, 7%);
  }

  &.active {
    color: $primary-text-color;
    background: lighten($ui-base-color, 8%);

    &:hover {
      color: $primary-text-color;
      background: lighten($ui-base-color, 8%);
    }
  }
}

.column-header__collapsible {
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  color: $ui-primary-color;
  transition: max-height 150ms ease-in-out, opacity 300ms linear;
  opacity: 1;

  &.collapsed {
    max-height: 0;
    opacity: 0.5;
  }

  &.animating {
    overflow-y: hidden;
  }

  hr {
    height: 0;
    background: transparent;
    border: 0;
    border-top: 1px solid lighten($ui-base-color, 12%);
    margin: 10px 0;
  }
}

.column-header__collapsible-inner {
  background: lighten($ui-base-color, 8%);
  padding: 15px;
}

.column-header__setting-btn {
  &:hover {
    color: lighten($ui-primary-color, 4%);
    text-decoration: underline;
  }
}

.column-header__setting-arrows {
  float: right;

  .column-header__setting-btn {
    padding: 0 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.column-header__title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.text-btn {
  display: inline-block;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.column-header__icon {
  display: inline-block;
  margin-right: 5px;
}

.loading-indicator {
  color: lighten($ui-base-color, 26%);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    display: block;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    margin: 82px 0 0 50%;
    white-space: nowrap;
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
}

.loading-indicator__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 0 solid lighten($ui-base-color, 26%);
  border-radius: 50%;
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes loader-figure {
  0% {
    width: 0;
    height: 0;
    background-color: lighten($ui-base-color, 26%);
  }

  29% {
    background-color: lighten($ui-base-color, 26%);
  }

  30% {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border-width: 21px;
    opacity: 1;
  }

  100% {
    width: 42px;
    height: 42px;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes loader-label {
  0% { opacity: 0.25; }
  30% { opacity: 1; }
  100% { opacity: 0.25; }
}

.spoiler-button {
  display: none;
  left: 4px;
  position: absolute;
  text-shadow: 0 1px 1px $base-shadow-color, 1px 0 1px $base-shadow-color;
  top: 4px;
  z-index: 100;

  &.spoiler-button--visible {
    display: block;
  }
}

.setting-toggle {
  display: block;
  line-height: 24px;
}

.setting-toggle__label,
.setting-meta__label {
  color: $ui-primary-color;
  display: inline-block;
  margin-bottom: 14px;
  margin-left: 8px;
  vertical-align: middle;
}

.setting-meta__label {
  color: $ui-primary-color;
  float: right;
}

.empty-column-indicator,
.error-column {
  color: lighten($ui-base-color, 20%);
  background: $ui-base-color;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  cursor: default;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  @supports(display: grid) { // hack to fix Chrome <57
    contain: strict;
  }

  a {
    color: $ui-highlight-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error-column {
  flex-direction: column;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.pulse-loading {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.emoji-picker-dropdown__menu {
  background: $simple-background-color;
  position: absolute;
  box-shadow: 4px 4px 6px rgba($base-shadow-color, 0.4);
  border-radius: 4px;
  margin-top: 5px;

  .emoji-mart-scroll {
    transition: opacity 200ms ease;
  }

  &.selecting .emoji-mart-scroll {
    opacity: 0.5;
  }
}

.emoji-picker-dropdown__modifiers {
  position: absolute;
  top: 60px;
  right: 11px;
  cursor: pointer;
}

.emoji-picker-dropdown__modifiers__menu {
  position: absolute;
  z-index: 4;
  top: -4px;
  left: -8px;
  background: $simple-background-color;
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba($base-shadow-color, 0.2);
  overflow: hidden;

  button {
    display: block;
    cursor: pointer;
    border: 0;
    padding: 4px 8px;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: rgba($ui-secondary-color, 0.4);
    }
  }

  .emoji-mart-emoji {
    height: 22px;
  }
}

.emoji-mart-emoji {
  span {
    background-repeat: no-repeat;
  }
}

.upload-area {
  align-items: center;
  background: rgba($base-overlay-background, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2000;

  * {
    pointer-events: none;
  }
}

.upload-area__drop {
  width: 320px;
  height: 160px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 8px;
}

.upload-area__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 4px;
  background: $ui-base-color;
  box-shadow: 0 0 5px rgba($base-shadow-color, 0.2);
}

.upload-area__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ui-secondary-color;
  font-size: 18px;
  font-weight: 500;
  border: 2px dashed $ui-base-lighter-color;
  border-radius: 4px;
}

.emoji-button {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin-left: 2px;
  width: 24px;
  outline: 0;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 0 !important;
  }

  img {
    filter: grayscale(100%);
    opacity: 0.8;
    display: block;
    margin: 0;
    width: 22px;
    height: 22px;
    margin-top: 2px;
  }

  &:hover,
  &:active,
  &:focus {
    img {
      opacity: 1;
      filter: none;
    }
  }
}

.dropdown--active .emoji-button img {
  opacity: 1;
  filter: none;
}

.search {
  position: relative;
}

.search__input {
  outline: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  padding: 10px;
  padding-right: 30px;
  font-family: inherit;
  background: $ui-base-color;
  color: $ui-primary-color;
  font-size: 14px;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    outline: 0 !important;
  }

  &:focus {
    background: lighten($ui-base-color, 4%);
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.search__icon {
  .fa {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    transition: all 100ms linear;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: $ui-secondary-color;
    cursor: default;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 0.3;
    }
  }

  .fa-search {
    transform: rotate(90deg);

    &.active {
      pointer-events: none;
      transform: rotate(0deg);
    }
  }

  .fa-times-circle {
    top: 11px;
    transform: rotate(0deg);
    cursor: pointer;

    &.active {
      transform: rotate(90deg);
    }

    &:hover {
      color: $primary-text-color;
    }
  }
}

.search-results__header {
  color: $ui-base-lighter-color;
  background: lighten($ui-base-color, 2%);
  border-bottom: 1px solid darken($ui-base-color, 4%);
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 500;
}

.search-results__hashtag {
  display: block;
  padding: 10px;
  color: $ui-secondary-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: lighten($ui-secondary-color, 4%);
    text-decoration: underline;
  }
}

.loading-bar {
  background-color: $ui-highlight-color;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

noscript {
  text-align: center;

  img {
    width: 200px;
    opacity: 0.5;
    animation: flicker 4s infinite;
  }

  div {
    font-size: 14px;
    margin: 30px auto;
    color: $ui-secondary-color;
    max-width: 400px;

    a {
      color: $ui-highlight-color;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@keyframes flicker {
  0% { opacity: 1; }
  30% { opacity: 0.75; }
  100% { opacity: 1; }
}

// more fixes for the navbar-under mode
@mixin fix-margins-for-navbar-under {
  .tabs-bar {
    margin-top: 0 !important;
    margin-bottom: -6px !important;
  }
}

.single-column.navbar-under {
  @include fix-margins-for-navbar-under;
}

.auto-columns.navbar-under {
  @media screen and (max-width: 360px) {
    @include fix-margins-for-navbar-under;
  }
}

.auto-columns.navbar-under .react-swipeable-view-container .columns-area,
.single-column.navbar-under .react-swipeable-view-container .columns-area {
  @media screen and (max-width: 360px) {
    height: 100% !important;
  }
}

.column-inline-form {
  padding: 7px 15px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: lighten($ui-base-color, 4%);

  label {
    flex: 1 1 auto;

    input {
      width: 100%;
      margin-bottom: 6px;

      &:focus {
        outline: 0;
      }
    }
  }

  .icon-button {
    flex: 0 0 auto;
    margin-left: 5px;
  }
}

.drawer__backdrop {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($base-overlay-background, 0.5);
}

@import 'account';
@import 'status';
@import 'modal';
@import 'metadata';
@import 'composer';
@import 'doodle';
@import 'drawer';
@import 'media';
@import 'sensitive';
@import 'list';
@import 'emoji_picker';
@import 'local_settings';
@import 'glitch';
