.account__header .account__header__fields {
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  margin: 20px -10px -20px;
  border-bottom: 0;
  border-top: 0;

  dl {
    background: $ui-base-color;
    border-top: 1px solid lighten($ui-base-color, 4%);
    border-bottom: 0;
    display: flex;
  }

  dt,
  dd {
    box-sizing: border-box;
    padding: 14px 5px;
    text-align: center;
    max-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  dt {
    color: $darker-text-color;
    background: lighten($ui-base-color, 13%);
    width: 120px;
    flex: 0 0 auto;
    font-weight: 500;
  }

  dd {
    flex: 1 1 auto;
    color: $primary-text-color;
    background: $ui-base-color;

    &.verified {
      border: 1px solid rgba($valid-value-color, 0.5);
      background: rgba($valid-value-color, 0.25);
    }
  }
}
