.bigger-publish {
  .compose-form__publish {
    display: contents;
  }
  .compose-form__publish-button-wrapper {
      height: 2em;
      width: 100%;
      font-size: 3rem;
  }
  
  .compose-form__publish-button-wrapper > button {
      height: 100%;
      width: 100%;
      font-size: 80%;
  }
}