.public-layout .public-account-header__image,
.hero-widget__img {
  height: auto !important;
  min-height: 100px;
  max-height: 1000px;
}

.public-layout .public-account-header__image img[src="/headers/original/missing.png"] {
  height: 360px;
}
