* {
	border: 0;
	box-sizing: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	}

html {
	box-sizing: border-box;
	font-size: 10px;
	}

@-webkit-keyframes warn {
	0% { background-color: #EEEEEE; }
	1% { background-color: #FFFF00; }
	100% { background-color: #EEEEEE; }
	}

@keyframes warn {
	0% { background-color: #EEEEEE; }
	1% { background-color: #FFFF00; }
	100% { background-color: #EEEEEE; }
	}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 60%, 90% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  45%, 75% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 60%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }

  45%, 75% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate {
	-webkit-animation: tada 800ms linear both, warn 1000ms linear both;
	animation: tada 800ms linear both, warn 1000ms linear both;
	}

#data {
	margin: 0 auto;
	max-width: 35rem;
	}

#ciphertext, #key, #plaintext {
	margin-top: 1rem;
	background-color: #EEEEEE;
	color: #212121;
    border-radius: 5px / 5px;
	}

#ciphertext, #plaintext {
	font-size: 1.5rem;
	height: 2.5rem;
	width: 100%;
	background-color: #EEEEEE;
	color: #212121;
	}

#ciphertext {
	background-color: #212121;
	color: #20C20E;
	font-family: sans-serif;
	font-size: 1.5rem;
    text-align: center;
	}

#key {
	font-family: sans-serif;
	font-size: 1.5rem;
	width: 100%;
	background-color: #EEEEEE;
	color: #212121;
    text-align: center;
	}

#plaintext {
	font-family: sans-serif;
	font-size: 1.5rem;
	background-color: #EEEEEE;
	color: #212121;
    text-align: center;
	}