@import 'application';

/* Index 
    1. Main elements
    2. Left Column
    3. Column Headers
    4. Main Columns
    5. Notification Column
    6. Right column
    7. Simple view
    8. Mobile view
    9. External view
    10. Mastodon Social
    11. im-in.space
*/

/* 1. Main elements*/
html {
    scrollbar-color: #8EABAD transparent !important;
}
.ui {
    background: #000b1e;
}
body {
    color: #8EABAD;
}

/* 1.1. Selection */
::selection {
  background: #711c91; /* WebKit/Blink Browsers */
  color: #8EABAD;
}
::-moz-selection {
  background: #711c91; /* Gecko Browsers */
  color: #8EABAD;
}
.note-3kmerW textarea::-moz-selection {
    background:#711c91;
    color:#8EABAD
}
.note-3kmerW  textarea::selection {
    background:#711c91;
    color:#8EABAD
}

/* 2. Left colum */

/* 2.1. Left header */
.drawer__header {
    background: #133e7c;
}
.drawer__header a:hover {
    background: #091833;
    color: #BD82B9;
}
.drawer__tab {
    color: #8EABAD;
}

/* 2.2. Search bar */
.search__input {
    background: #091833;
    color: #8EABAD;
    font-size: 14px;
    margin: 0;
}
.search__input:focus {
    background: #133e7c;
}
.search__icon .fa {
    color: #8EABAD;
}

/* 2.2.1. Search results */
.search-results__header {
    color: #8EABAD;
    background: #133e7c;
}
.search-results__section h5 {
    background: #091833;
    border-bottom: 1px solid #133e7c;
    color: #8EABAD;
}
.search-results__info {
    color: #8EABAD;
}
.trends__item__current {
    color: #BD82B9;
}

/* 2.3. Profile */
.drawer__inner {
    background: #091833;
}
.navigation-bar {
    color: #BD82B9;
}
.navigation-bar strong {
    color: #BD82B9;
}
.icon-button {
    color: #8EABAD;
}
.icon-button:active , .icon-button:focus, .icon-button:hover {
    color: #BD82B9;
}

/* 2.4. Dropdown Menu */
.dropdown-menu {
    background: #000b1e;
}
.dropdown-menu__arrow.bottom {
    border-bottom-color: #000b1e;
}
.dropdown-menu__item a {
    background: #000b1e;
    color: #8EABAD;
}
.dropdown-menu__separator {
    border-bottom: 1px solid #091833;
}
.dropdown-menu__item a:active, .dropdown-menu__item a:focus, .dropdown-menu__item a:hover {
    background: rgba(19, 62, 124, .6);
    color: #8EABAD;
}

/* 2.5. Text Area */
.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input {
    color: #8EABAD;
    background: #133e7c;
}
.compose-form .compose-form__modifiers {
    color: #8EABAD;
    background: #133e7c;
}
.compose-form .compose-form__buttons-wrapper {
    background: #133e7c;
}
.icon-button.inverted {
    color: #8EABAD;
}
.icon-button.inverted:hover {
    color: #BD82B9;
}
.text-icon-button {
    color: #8EABAD;
}
.text-icon-button:hover {
    color: #BD82B9;
}
.compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter {
    color: #8EABAD;
}
.reply-indicator {
    background: #133e7c;
}
.reply-indicator__display-name {
    color: #BD82B9;
}

/* 2.5.1. Polls */
.poll__text input[type="text"] {
    color: #8EABAD;
    background: #133e7c;
    border: 1px solid #8EABAD;
}
.poll__text input[type="text"]:hover {
    border: 1px solid #BD82B9;
}
.poll__input {
    border: 1px solid #8EABAD;
}
.compose-form__poll-wrapper .icon-button.disabled {
    color: #d7d7d5;
}
.compose-form__poll-wrapper {
    border-top: 1px solid #8EABAD;
}
.compose-form__poll-wrapper .poll__footer {
    border-top: 1px solid #8EABAD;
}
.compose-form__poll-wrapper .button.button-secondary {
    color: #BD82B9;
    border-color: #BD82B9;
}
.compose-form__poll-wrapper select {
    color: #8EABAD;
    background: #133e7c url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%230abdc6'/></svg>") no-repeat right 8px center/auto 16px;
    border: 1px solid #8EABAD;
}

/* 2.5.2. Emoji Picker */
.emoji-picker-dropdown__menu {
    background: #091833;
}
.emoji-mart-bar:first-child {
    background: #091833;
}
.emoji-mart-bar {
    border: 0 solid #000b1e;
}
.emoji-mart-anchors {
    color: #8EABAD;
}
.emoji-mart-anchor:hover {
    color: #BD82B9;
}
.emoji-mart-anchor-selected {
    color: #BD82B9;
}
.emoji-mart-search {
    background: #091833;
}
.emoji-mart-search input {
    background: #133e7c;
    color: #8EABAD;
    border: 1px solid #8EABAD;
}
.emoji-mart-scroll {
    background: #091833;
}
.emoji-mart {
    color: #BD82B9;
}
.emoji-mart-category-label span {
    background: #091833
}
.emoji-mart-category .emoji-mart-emoji:hover::before {
    background-color: #8EABAD;
}

/* 2.6. Other */
.button {
    background-color: #133e7c;
    color: #8EABAD;
}
.button:hover {
    background-color: #711c91;
    color: #8EABAD;
}
.drawer__inner__mastodon {
    background: #091833 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="%23bd82b9"/></svg>') no-repeat bottom/100% auto;
}

/* 3. Column Headers */
.column-header {
    background: #091833;   
}
.column-header__button {
    background: #091833;
    color: #8EABAD;
}
.column-header__button:hover {
    background: #133e7c;
    color: #BD82B9;
}
.column-header__button.active {
    background: #133e7c;
    color: #8EABAD;
}
.column-header__button.active:hover {
    background: #133e7c;
    color: #BD82B9;
}
.column-header.active .column-header__icon {
    color: #BD82B9;
    text-shadow: 0 0 10px rgba(95, 129, 154, .4);
}
.column-header__collapsible {
    color: #8EABAD;
}
.column-header__collapsible-inner {
    background: #133e7c;
}
.setting-toggle__label {
    color: #8EABAD;
}
.react-toggle-track {
    background-color: #000b1e;
}
.column-settings__section {
    color: #8EABAD;
}
.column-header__setting-btn:hover {
    color: #BD82B9;
}

/* 3.1. Announcements */

.announcements {
    background: #133e7c;
}
.announcements__item__unread {
    background: #BD82B9;
}
.reactions-bar .emoji-button, .reactions-bar .emoji-button, .reactions-bar .emoji-button {
    color: #8EABAD;
}
.reactions-bar .emoji-button:active, .reactions-bar .emoji-button:focus, .reactions-bar .emoji-button:hover {
    color: #BD82B9;
}
.reactions-bar__item.active {
    background-color: rgba(113, 28, 145, .7);
}

/* 4. Main Columns */
.column > .scrollable {
    background: #091833;
}
.status {
    border-bottom: 1px solid #000b1e;
}
.notification__relative_time, .status__relative-time {
    color: rgba(190, 141, 187, .6);
}
.status__display-name {
    color: rgba(190, 141, 187, .6);
}
.account__display-name strong, .status__display-name strong {
    color: #BD82B9;
}
.reply-indicator__content, .status__content {
    color: #8EABAD;
}
.reply-indicator__content a, .status__content a {
    color: #BD82B9;
}
.status__content a.unhandled-link {
    color: #BD82B9;
}
.icon-button.disabled {
    color: #711c91;
}
.star-icon.active {
    color: #D1D17B;
}
.status__content__read-more-button {
    color: #BD82B9;
}
.status__action-bar__counter__label {
    color: #8EABAD;
}
.attachment-list.compact .fa {
    color: #711c91;
}
.attachment-list__list a {
    color: #711c91;
}
.status__prepend {
    color: rgba(76, 111, 113, .6);
}
.status__prepend .status__display-name strong {
    color: rgba(190, 141, 187, .6);
}
.status-card.compact {
    border-color: #133e7c;
}
.status-card {
    border: 1px solid #133e7c;
        border-top-color: rgb(57, 63, 79);
        border-right-color: rgb(57, 63, 79);
        border-bottom-color: rgb(57, 63, 79);
        border-left-color: rgb(57, 63, 79);
    color: #8EABAD;
}
.status-card__image {
    background: #133e7c;
}
.status-card__title {
    color: #BD82B9;
}
.status-card__content:hover {
    background: #133e7c;
}
.reply-indicator__content .status__content__spoiler-:hover, .status__content .status__content__spoiler-link:hover {
    background: #711c91;
}
.status__content__spoiler-link {
    color: #8EABAD;
}
.reply-indicator__content .status__content__spoiler-link, .status__content .status__content__spoiler-link {
    background: #133e7c;
}
.account {
    padding: 10px;
    border-bottom: 1px solid #000b1e;
}
.poll__chart.leading {
    background: #133e7c;
}
.poll__chart {
    background: rgba(19, 62, 124, .6);
}
.poll__footer {
    color: rgba(120, 175, 178, .6);
}
.poll__link {
    color: rgba(190, 141, 187, .6);
}
.focusable:focus {
    background: rgba(216, 170, 213, .2);
}
.icon-button:active, .icon-button:focus, .icon-button:hover {
    background: none;
}
a.status-card.compact:hover {
    background-color: rgba(19, 62, 124, .6);
}

/* 5. Notification Column */
.status.status-direct:not(.read) {
    background: #133e7c;
    border-bottom-color: #000b1e;
}
.account__section-headline, .notification__filter-bar {
    background: #000b1e;
    border-bottom: 1px solid #8EABAD;
}
.account__section-headline button, .notification__filter-bar button {
    background: #000b1e;
}
.account__section-headline a.active, .account__section-headline button.active, .notification__filter-bar a.active, .notification__filter-bar button.active {
    color: #8EABAD;
}
.account__section-headline a, .account__section-headline button, .notification__filter-bar a, .notification__filter-bar button {
    color: #8EABADba;
}
.account__section-headline a.active::after, .account__section-headline a.active::before, .account__section-headline button.active::after, .account__section-headline button.active::before, .notification__filter-bar a.active::after, .notification__filter-bar a.active::before, .notification__filter-bar button.active::after, .notification__filter-bar button.active::before {
    border-color: transparent transparent #8EABAD;
}
.notification-favourite .status.status-direct {
    background: transparent;
}
.notification__message .fa {
    color: #79C679;
}
.notification__favourite-icon-wrapper .star-icon, .star-icon.active {
    color: #D1D17B;
}
.notification__message {
    color: rgba(100, 132, 134, .8);
}
.notification__display-name:hover {
    color: #BD82B9;
}
.muted .status__content a, .muted .status__content p {
    color: rgba(120, 175, 178, .6);
}
.notification__display-name {
    color: rgba(190, 141, 187, .8)
}
.muted .status__display-name strong {
    color: #BD82B9;
}
.account .account__display-name {
    color: rgba(190, 141, 187, .6);
}
.notification-favourite .status.status-direct .icon-button.disabled {
    color: #711c91;
}
.muted .poll__chart.leading {
    background: rgba(43,144,217,.3);
}
.muted .poll__chart {
    background: rgba(43,144,217,.1);
}
.muted .poll {
    color: rgba(120, 175, 178, .6);
}

/* 6. Right bar */

/* 6.1. Detailed views */
.detailed-status {
    background: #000b1e;
}
.detailed-status:hold {
    background: #000b1e;
    padding: 14px 10px;
}
.detailed-status__display-name {
    color: rgba(234, 0, 217, .6);
}
.detailed-status__display-name strong {
    color: #BD82B9;
}
.focusable:focus .detailed-status, .focusable:focus .detailed-status__action-bar {
    background: rgba(113, 28, 145, .2);
}
.detailed-status__action-bar {
    background: #000b1e;
    border-top: 1px solid #091833;
    border-bottom: 1px solid #091833;
}
.detailed-status__wrapper {
    background: #000b1e;
}
.column-header > .column-header__back-button {
    color: #BD82B9;
}
.detailed-status__meta {
    color: rgba(190, 141, 187, .6);
}
.column-subheading {
    color: #8EABADba;
}
.column-link__badge, .column-subheading {
    background: #000b1e;
}
.column-link {
    background: #091833;
    color: #BD82B9;
}
.column-link:hover {
    background: #133e7c;
}
.getting-started {
    color: #091833;
}
.flex-spacer, .getting-started, .getting-started__wrapper {
    background: #091833;
}
.getting-started__footer a {
    color: #BD82B9b8;
}
.getting-started__footer p {
    color: rgba(190, 141, 187, .5);
}
.getting-started__footer p a {
    color: rgba(190, 141, 187, .5);
}
.column-header__back-button {
    background: #091833;
    color: #BD82B9;
}
.account--panel {
    background: #133e7c;
    border-top: 1px solid #133e7c;
    border-bottom: 1px solid #133e7c;
}

/* 6.2. Detailed profile view */

.column-back-button {
    background: #091833;
    color: #BD82B9;
}
.account__header__image {
    overflow: hidden;
    height: 145px;
    position: relative;
    background: #000b1e;
}
.account__header__bar {
    background: #091833;
    border-bottom: 1px solid #8EABAD;
}
.account__header__tabs__name h1 {
    color: #BD82B9;
}
.account__header__tabs__name h1 small {
    color: #BD82B9;
}
.account__header__fields dt {
    background: #000b1e;
}
.account__header__fields dt {
    color: #8EABAD;
    background: #000b1e;
}
.account__header__fields dd {
    color: #8EABAD;
}
.account__header__fields dl {
    border-bottom: 1px solid #133e7c;
}
.account__header__bio .account__header__fields {
    border-top: 1px solid #133e7c;
}
.account__header__fields {
    border-color: #133e7c currentcolor;
        border-top-color: #133e7c;
}
.account__header__fields .verified {
    border: 1px solid rgba(150, 202, 150, .5);
    background: rgba(150, 202, 150, .25);
}
.account__header__fields .verified__mark {
    color: #79C679;
}
.account__header__bio .account__header__fields .verified a {
    color: #79C679;
}
.account__header__bio .account__header__content {
    color: #8EABAD;
}
.account__header__extra__links {
    color: #8EABAD;
}
.account__header__extra__links a strong {
    color: #8EABAD;
}
.account__header__extra__links a {
    color: #8EABADba;
}
.account-role, .simple_form .recommended {
    color: #8EABAD;
    background-color: #133e7c;
    border: 1px solid #8EABAD;
}
.relationship-tag {
    color: #8EABAD;
    background-color: #000b1e;
}
.empty-column-indicator, .error-column {
    color: #8EABAD;
    background: #091833;
}

/* 6.3. Hastags */
.trends__item__name {
    color: rgba(190, 141, 187, .6);
}
.trends__item__name a {
    color: #BD82B9;
}
.getting-started__trends .trends__item__current {
    color: #BD82B9;
}
.getting-started__trends h4 {
    color: #8EABAD;
    border-bottom: 1px solid rgba(10, 189, 198, .3);
}

/* 7. Simple View */
.tabs-bar__wrapper {
    background: #000b1e;
}
.navigation-panel hr {
    border-top: 1px solid #133e7c;
}

/* 8. Mobile View */
.tabs-bar {
    background: #091833;
}
.tabs-bar__link {
    color: #8EABAD;
    border-bottom: 2px solid #091833;
}
.tabs-bar__link:active, .tabs-bar__link:focus, .tabs-bar__link:hover {
    background: #133e7c;
    border-bottom-color: #133e7c;
}
.tabs-bar__link.active {
    border-bottom: 2px solid #BD82B9;
        border-bottom-color: #BD82B9;
    color: #BD82B9;
}
.drawer__inner.darker {
    background: #091833;
}
.trends__header {
    color: #8EABADba;
    background: #091833;
    border-bottom: 1px solid #000b1e;
}

/* 9. External View */
body {
    background-color: #000b1e;
    color: #8EABAD;
}
html {
    background-color: #000b1e !important;
}
.public-layout .header {
    background-color: #091833;
}
.public-layout .header .brand svg {
    fill: #8EABAD;
}
.public-layout .header .brand:active, .public-layout .header .brand:focus, .public-layout .header .brand:hover {
    background-color: #133e7c;
}
.public-layout .header .nav-link:active, .public-layout .header .nav-link:focus, .public-layout .header .nav-link:hover {
    color: #BD82B9;
}
.public-layout .header .nav-link {
    color: #8EABAD;
}
.public-layout .header .nav-button:active, .public-layout .header .nav-button:focus, .public-layout .header .nav-button {
    background-color: #133e7c;
}
.public-layout .header .nav-button:active, .public-layout .header .nav-button:focus, .public-layout .header .nav-button:hover {
    background-color: #133e7c;
}
.public-layout .public-account-header__tabs__name h1 {
    color: #BD82B9;
    text-shadow: #000b1e 1px 1px 1px;
}
.public-layout .public-account-header__tabs__name h1 small {
    color: #BD82B9;
}
.public-layout .public-account-header__bar .avatar img {
    border-color: #8EABAD;
    background-color: #000b1e;
}
.public-layout .public-account-header__tabs__tabs .counter .counter-number {
    color: #8EABAD;
}
.public-layout .public-account-header__tabs__tabs .counter .counter-label {
    color: #8EABAD;
}
.public-layout .public-account-header__tabs__tabs .counter {
    border-right-color: #133e7c;
}
.public-layout .public-account-header__tabs__tabs .counter.active::after {
    border-bottom-color: #BD82B9;
}
.activity-stream .entry {
    background-color: #091833;
}
.load-more {
    color: #8EABAD;
    background-color: #133e7c;
}
.load-more:hover {
    background-color: #711c91;
}
.public-layout .public-account-bio .account__header__fields .verified a {
    color: #79C679;
}

/* 9.1. Profile */
.public-layout .public-account-bio .account__header__fields a {
    color: #BD82B9;
}
.public-layout .public-account-bio .account__header__content {
    color: #8EABAD;
}
.public-layout .public-account-bio .roles, .public-layout .public-account-bio__extra {
    color: #8EABAD;
}
.public-layout .public-account-bio {
    background-color: #091833;
}
.hero-widget__text {
    background-color: #091833;
    color: #8EABAD;
}
.button.logo-button:active, .button.logo-button:focus, .button.logo-button:hover {
    background-color: #133e7c;
    color: #BD82B9;
}
.button.logo-button:active, .button.logo-button:focus, .button.logo-button {
    background-color: #133e7c;
    color: #8EABAD;
}
.button.logo-button svg {
    fill: #8EABAD;
}

/* 9.1.1. Followers */
.card__img {
    background-color: rgba(113, 28, 145, .3);
}
.card__bar {
    background-color: #091833;
}
a:hover .card__bar {
    background-color: rgba(19, 62, 124, .6);
}
.card > a:active .card__bar, .card > a:focus .card__bar, .card > a:hover .card__bar {
    background: rgba(19, 62, 124, .6);
        background-color: rgba(19, 62, 124, .6);
        background-image: none;
}
.card__bar .display-name strong {
    color: #BD82B9;
}
.card__bar .display-name span {
    color: rgba(234, 0, 217, .6);
}
.pagination .current {
    background-color: #133e7c;
    color: #8EABAD;
}
.pagination .current, .pagination .gap, .pagination .newer, .pagination .older, .pagination .page, .pagination a {
    color: #8EABAD;
}

/* 9.2. Footer */
.public-layout .footer h4 {
    color: #8EABAD;
}
.public-layout .footer ul a {
    color: #BD82B9;
}
.public-layout .footer .grid .column-2 h4 a {
    color: #8EABAD;
}
.public-layout .footer .brand svg {
    fill: #8EABAD;
}
.public-layout .footer .brand svg:hover {
    fill: #BD82B9;
}
.public-layout .footer {
    color: #BD82B9
}
.public-layout .footer {
    background: #000b1e;
}

/* 9.3. About/more page */
.landing-page__call-to-action {
    background-color: #091833;
}
.information-board__section {
    color: #8EABAD;
}
.information-board__section span:last-child {
    color: #8EABAD;
}
.contact-widget h4 {
    color: #8EABAD;
}
.contact-widget > a {
    color: #BD82B9;
}
.table-of-contents {
    background: #091833;
}
.table-of-contents li a {
    color: #BD82B9;
    border-bottom-color: rgba(19, 62, 124, .6);
}
.rich-formatting h1, .rich-formatting h2, .rich-formatting h3, .rich-formatting h4, .rich-formatting h5, .rich-formatting h6 {
    color: #BD82B9;
}
.rich-formatting strong {
    color: #d7d7d5;
}
.rich-formatting li, .rich-formatting p {
    color: #8EABAD;
}
.rich-formatting li a, .rich-formatting p a {
    color: #BD82B9;
}

/* 9.4. Directory */
.page-header {
    background-color: #091833;
}
.page-header h1 {
    color: #8EABAD;
}
.page-header p {
    color: #8EABAD;
}
.directory__card__bar {
    background-color: #091833;
}
.directory__card__bar .display-name strong {
    color: #BD82B9;
}
.directory__card__bar .display-name span {
    color: rgba(190, 141, 187, .6);
}
.directory__card__extra {
    background-color: #091833;
}
.account__header__content {
    color: #8EABAD;
}
.directory__card__extra .account__header__content {
    border-bottom-color: rgba(19, 62, 124, .6);
}
.accounts-table__count {
    color: #8EABAD;
}
.accounts-table__count small {
    color: #8EABAD;
}

/* 9.5. About page */
.landing .simple_form .user_agreement .label_input > label, .landing .simple_form p.lead {
    color: #8EABAD;
}
.landing__brand svg {
    fill: #8EABAD;
}
.simple_form .input.boolean label a {
    color: #BD82B9;
}
.simple_form .hint a {
    color: #BD82B9;
}
.hero-widget__text a {
    color: #BD82B9;
}
[data-darkreader-inline-fill] {
    fill: #BD82B9 !important;
}
.brand__tagline {
    color: #8EABAD;
}
.simple_form input[type="email"], .simple_form input[type="number"], .simple_form input[type="password"], .simple_form input[type="text"], .simple_form textarea {
    color: #8EABAD;
    background-color: #133e7c;
    border-color: rgba(120, 175, 178, .6);
}
.simple_form input[type="email"]:hover, .simple_form input[type="number"]:hover, .simple_form input[type="password"]:hover, .simple_form input[type="text"]:hover, .simple_form textarea:hover {
    border-color: #8EABAD;
}
.simple_form input[type="email"]:active, .simple_form input[type="email"]:focus, .simple_form input[type="number"]:active, .simple_form input[type="number"]:focus, .simple_form input[type="password"]:active, .simple_form input[type="password"]:focus, .simple_form input[type="text"]:active, .simple_form input[type="text"]:focus, .simple_form textarea:active, .simple_form textarea:focus {
    border-color: #8EABAD;
    background-color: #000b1e
}
.simple_form .label_input__append {
    color: #BD82B9;
}
::placeholder {
    color: #8EABAD !important;
}
.directory__tag > a, .directory__tag > div {
    background-color: #091833;
    box-shadow: rgba(19, 62, 124, 0.2) 0px 0px 15px;
}
.directory__tag > a:active, .directory__tag > a:focus, .directory__tag > a:hover {
    background-color: rgba(19, 62, 124, .6);
}
.directory__tag h4 {
    color: #8EABAD;
}
.directory__tag h4 .fa {
    color: #8EABAD;
}
.directory__tag h4 small {
    color: #8EABAD;
}
.avatar-stack .account__avatar {
    background-color: #000b1e;
    border-color: #133e7c;
}
.landing .hero-widget__footer {
    background-color: #091833;
}
.landing .hero-widget h4 {
    color: #8EABAD;
}
.landing .hero-widget__counter span {
    color: #8EABAD;
}

/* 10. im-in.space */
.public-layout .public-account-bio, .public-layout .public-account-header__bar::before, .hero-widget__text, .public-layout .header {
    background: #091833 !important;
}

.button.logo-button, .simple_form button, .simple_form .button, .simple_form .block-button, .public-layout .header .nav-button {
    background-color: #133e7c !important;
    color: #8EABAD !important;
}
.button.logo-button:active, .button.logo-button:focus, .button.logo-button:hover, .simple_form button:hover, .simple_form button:focus, .simple_form button:active, .simple_form .button:hover, .simple_form .button:focus, .simple_form .button:active, .simple_form .block-button:hover, .simple_form .block-button:focus, .simple_form .block-button:active, .public-layout .header .nav-button:hover, .public-layout .header .nav-button:focus, .public-layout .header .nav-button:active {
    background-color: #711c91 !important;
    color: #8EABAD !important;
}
.endorsements-widget {
    background: #091833;
}
.endorsements-widget h4 {
    color: #8EABAD;
}
.landing-page__information, .landing-page__forms, .landing-page #mastodon-timeline, .box-widget, .contact-widget, .landing-page__information.contact-widget, .landing-page__call-to-action {
    background-color: #091833 !important;
}
.rich-formatting a {
    color: #BD82B9;
}
.notice-widget {
    color: #8EABAD;
}

/* 10.1. About/more */
.rich-formatting table thead tr {
    color: rgba(120, 175, 178, .6) !important;
}
.rich-formatting table tbody tr, .rich-formatting table thead tr {
    border-bottom: 1px solid rgba(19, 62, 124, .6);
    color: #8EABAD;
}

/* 11. Settings */


