// http://pokepalettes.com/#jigglypuff
$ui-base-color: #8f8571; // darkest #1
$ui-highlight-color: #cde0df; // vibrant #3
$ui-secondary-color: #413931; // lightest #7
$ui-primary-color: #d4e9cf; // lighter #0
$ui-primary-color-alt: #cddecd; // darker, for external pages #2

$about-page-text: lighten($ui-base-color, 50%);

@import 'application';

