// http://pokepalettes.com/#jigglypuff
$ui-base-color: #6a5262; // darkest #1
$ui-highlight-color: #ffcdc5; // vibrant #3
$ui-secondary-color: #ffffff; // lightest #7
$ui-primary-color: #ffaca4; // lighter #0
$ui-primary-color-alt: #a41020; // darker, for external pages #2

$about-page-text: lighten($ui-base-color, 50%);

@import 'application';
.button:hover {
  background-color: #e54252;
}

.confirmation-modal .button {
  background-color: $ui-highlight-color;
}


