$classic-base-color: #322a4f;
$ui-base-color: $classic-base-color;
$ui-base-lighter-color: #885b8c;
$ui-primary-color: #9bcbed;
$ui-secondary-color: #ba8d98;
$ui-highlight-color: #CC7AFF;


@import 'application';