@use '@/styles/mastodon/mixins';

.card {
  @include mixins.elevation-1;

  z-index: calc(infinity);

  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: var(--_max-card-width, 100vw);
  padding: var(--space-2xs);
  border-radius: var(--radius-md);

  background: var(--color-bg-primary);

  &[data-elevation='2'] {
    @include mixins.elevation-2;
  }
}

.popoverCard {
  width: 100%;
}

.itemGroupLabel {
  @include mixins.type-label-sm;

  padding: var(--space-xs) var(--space-sm) 0;
  color: var(--color-text-tertiary);
}

.itemDivider {
  height: 1px;
  margin: var(--space-2xs) var(--space-sm);
  border: none;
  background-color: var(--color-border-primary);
}

.item {
  @include mixins.type-body-compact;

  --cursor: pointer;

  cursor: var(--cursor);

  display: flex;
  gap: var(--space-xs);
  align-items: center;

  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);

  color: var(--color-text-primary);
  text-decoration: none;

  transition:
    background 200ms,
    color 200ms;

  &:where(button) {
    width: 100%;
    border: none;

    text-align: start;

    appearance: none;
    background: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:not([aria-disabled='true']) {
    background-color: var(--color-bg-highlight);
  }

  &:focus {
    // Override overeager global styles
    border-radius: var(--radius-sm);
  }

  &:focus-visible {
    outline: var(--outline-focus-default);
    outline-offset: -2px;
  }

  &:active:not([aria-disabled='true']),
  .itemActive {
    color: var(--color-text-inverted);
    background-color: var(--color-bg-inverted);

    label {
      color: var(--color-text-inverted);
    }
  }

  &:has(:disabled),
  &[aria-disabled='true'] {
    --cursor: not-allowed;

    opacity: 0.5;
  }
}

.itemIcon {
  width: var(--space-lg);
  height: var(--space-lg);
}

.itemTrailingContent {
  margin-inline-start: auto;
}
