@use '@/styles/mastodon/mixins';

.menuCard {
  @include mixins.elevation-1;

  display: flex;
  flex-direction: column;
  padding: var(--space-2xs);
  border-radius: var(--radius-md);
  background: var(--color-bg-primary);
  overflow: hidden;
  z-index: calc(infinity);

  &[data-elevation='2'] {
    @include mixins.elevation-2;
  }

  > hr {
    height: 1px;
    background-color: var(--color-border-primary);
    margin: var(--space-2xs) var(--space-sm);
    border: none;
  }
}

.popoverMenuCard {
  width: 100%;
}

.menuItem {
  @include mixins.type-body-compact;

  --cursor: pointer;

  display: flex;
  align-items: center;
  border-radius: var(--radius-sm);
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  cursor: var(--cursor);
  transition:
    background 200ms,
    color 200ms;

  &:where(button) {
    appearance: none;
    background: none;
    border: none;
    width: 100%;
  }

  label {
    cursor: inherit;
    font-weight: inherit;
    font-size: var(--fs-sm);
  }

  &:hover:not([aria-disabled='true']) {
    background-color: var(--color-bg-highlight);
  }

  &:active:not([aria-disabled='true']),
  .menuItemActive {
    background-color: var(--color-bg-inverted);
    color: var(--color-text-inverted);

    label {
      color: var(--color-text-inverted);
    }
  }

  &:has(:disabled),
  [aria-disabled='true'] {
    --cursor: not-allowed;

    opacity: 0.5;
  }
}

.menuItemIcon {
  width: var(--space-lg);
  height: var(--space-lg);
}

.menu > hr {
  height: 1px;
  background-color: var(--color-border-primary);
  margin: var(--space-2xs) var(--space-sm);
  border: none;
  width: calc(100% - (2 * var(--space-sm)));
}
