@font-face {
    font-family: 'is-this-vaporwave';
    src: local('PressStart2P'),
      url('../fonts/pressstart2p/PressStart2P-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  