.card .name small {
  color: $ui-secondary-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-secondary-color,0.4);
}

.autosuggest-account .display-name__account {
  color: $ui-base-color;
}
