.wrapper {
  --list-item-padding: 0px;
}

.avatarGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 2px;

  &.avatarGridSensitive {
    .avatar {
      filter: blur(4px);
    }
  }
}

.avatar {
  background: var(--color-bg-brand-softest);
}

.avatarSensitiveBadge {
  position: absolute;
  inset: 0;

  width: 18px;
  height: 18px;
  margin: auto;
  padding: 3px;
  border-radius: 8px;

  background: var(--color-bg-warning-softest);

  fill: var(--color-text-primary);
}
