@use '../mastodon/theme_utils' as utils;

:root {
  --color-black: #000;
  --color-grey-950: #181821;
  --color-grey-800: #292938;
  --color-grey-700: #444664;
  --color-grey-600: #545778;
  --color-grey-500: #696d91;
  --color-grey-400: #8b8dac;
  --color-grey-300: #b4b6cb;
  --color-grey-200: #d8d9e3;
  --color-grey-100: #f0f0f5;
  --color-grey-50: #f0f1ff;
  --color-white: #fff;
  --color-indigo-600: #6147e6;
  --color-indigo-400: #8886ff;
  --color-indigo-300: #a5abfd;
  --color-indigo-200: #c8cdfe;
  --color-indigo-100: #e0e3ff;
  --color-indigo-50: #f0f1ff;
  --color-red-500: #ff637e;
  --color-red-600: #ec003f;
  --color-yellow-400: #ffb900;
  --color-yellow-600: #e17100;
  --color-green-400: #05df72;
  --color-green-600: #00a63e;

  /* TEXT TOKENS */

  --color-text-primary: var(--color-grey-950);
  --color-text-secondary: var(--color-grey-600);
  --color-text-tertiary: var(--color-grey-500);
  --color-text-on-inverted: var(--color-white);
  --color-text-accent: var(--color-indigo-600);
  --color-text-accent-subtle: color-mix(
    in oklab,
    var(--color-text-primary),
    var(--color-text-accent)
  );
  --color-text-on-accent-strong: var(--color-white);
  --color-text-error: var(--color-red-600);
  --color-text-on-error-strong: var(--color-white);
  --color-text-warning: var(--color-yellow-600);
  --color-text-on-warning-strong: var(--color-white);
  --color-text-success: var(--color-green-600);
  --color-text-on-success-strong: var(--color-white);
  --color-text-disabled: var(--color-grey-300);
  --color-text-on-disabled: var(--color-grey-200);
  --color-text-bookmark-highlight: var(--color-text-error);
  --color-text-favourite-highlight: var(--color-text-warning);
  --color-text-on-media: var(--color-white);
  --color-text-status-links: var(--color-text-accent);

  /* BACKGROUND TOKENS */

  --color-bg-primary: var(--color-white);
  --color-bg-secondary-base: var(--color-grey-600);
  --color-bg-secondary-strength: 5%;
  --color-bg-secondary: #{color-mix(
      in oklab,
      var(--color-bg-primary),
      var(--color-bg-secondary-base) var(--color-bg-secondary-strength)
    )};
  --color-bg-secondary-solid: #{color-mix(
      in srgb,
      var(--color-bg-primary),
      var(--color-bg-secondary-base) var(--color-bg-secondary-strength)
    )};
  --color-bg-tertiary: #{color-mix(
      in oklab,
      var(--color-bg-primary),
      var(--color-bg-secondary-base)
        calc(2 * var(--color-bg-secondary-strength))
    )};
  --color-bg-ambient: var(--color-bg-primary);
  --color-bg-elevated: var(--color-bg-primary);
  --color-bg-inverted: var(--color-grey-950);
  --color-bg-media-base: var(--color-black);
  --color-bg-media-strength: 65%;
  --color-bg-media: #{utils.css-alpha(
      var(--color-bg-media-base),
      var(--color-bg-media-strength)
    )};
  --color-bg-overlay: var(--color-bg-primary);
  --color-bg-disabled: var(--color-grey-400);

  // Accent
  --color-bg-accent-strong: var(--color-indigo-600);
  --color-bg-accent-subtle-strength: 8%;
  --color-bg-accent-subtle: #{utils.css-alpha(
      var(--color-bg-accent-strong),
      var(--color-bg-accent-subtle-strength)
    )};
  --color-bg-accent-subtle-highlighted: #{utils.css-alpha(
      var(--color-bg-accent-strong),
      calc(var(--color-bg-accent-subtle-strength) * 1.5)
    )};
  --color-bg-accent-strong-highlighted: color-mix(
    in oklab,
    var(--color-bg-accent-strong),
    black var(--color-bg-accent-subtle-strength)
  );

  // Error
  --color-bg-error-strong: var(--color-red-600);
  --color-bg-error-layer-strength: 12%;
  --color-bg-error-subtle: #{utils.css-alpha(
      var(--color-bg-error-strong),
      var(--color-bg-error-layer-strength)
    )};
  --color-bg-error-strong-highlighted: color-mix(
    in oklab,
    var(--color-bg-error-strong),
    black var(--color-bg-error-layer-strength)
  );

  // Warning
  --color-bg-warning-strong: var(--color-yellow-600);
  --color-bg-warning-subtle-strength: 10%;
  --color-bg-warning-subtle: #{utils.css-alpha(
      var(--color-bg-warning-strong),
      var(--color-bg-warning-subtle-strength)
    )};
  --color-bg-warning-strong-highlighted: color-mix(
    in oklab,
    var(--color-bg-warning-strong),
    black var(--color-bg-warning-subtle-strength)
  );

  // Success
  --color-bg-success-strong: var(--color-green-600);
  --color-bg-success-subtle-strength: 15%;
  --color-bg-success-subtle: #{utils.css-alpha(
      var(--color-bg-success-strong),
      var(--color-bg-success-subtle-strength)
    )};
  --color-bg-success-strong-highlighted: color-mix(
    in oklab,
    var(--color-bg-success-strong),
    black var(--color-bg-success-subtle-strength)
  );

  /* BORDER TOKENS */

  --color-border-primary-strength: 15%;
  --color-border-primary: color-mix(
    in oklab,
    var(--color-bg-primary),
    var(--color-grey-950) var(--color-border-primary-strength)
  );
  --color-border-media: rgb(252 248 255 / 15%);
  --color-border-on-bg-secondary: var(--color-grey-200);
  --color-border-on-bg-accent-subtle: var(--color-indigo-200);
  --color-border-on-bg-error-subtle: #{utils.css-alpha(
      var(--color-text-error),
      50%
    )};
  --color-border-on-bg-warning-subtle: #{utils.css-alpha(
      var(--color-text-warning),
      50%
    )};
  --color-border-on-bg-success-subtle: #{utils.css-alpha(
      var(--color-text-success),
      50%
    )};

  /* SHADOW TOKENS */

  --color-shadow-primary-base: var(--color-black);
  --color-shadow-primary-strength: 30%;
  --color-shadow-primary: #{utils.css-alpha(
      var(--color-shadow-primary-base),
      var(--color-shadow-primary-strength)
    )};
  --dropdown-shadow:
    0 20px 25px -5px var(--color-shadow-primary),
    0 8px 10px -6px var(--color-shadow-primary);
  --overlay-icon-shadow: drop-shadow(0 0 8px var(--color-shadow-primary));

  /* GRAPHS/CHARTS TOKENS */

  --color-graph-primary-stroke: var(--color-text-accent);
  --color-graph-primary-fill: var(--color-bg-accent-subtle);
  --color-graph-warning-stroke: var(--color-text-warning);
  --color-graph-warning-fill: var(--color-bg-warning-subtle);
  --color-graph-disabled-stroke: var(--color-text-disabled);
  --color-graph-disabled-fill: var(--color-bg-disabled);

  /* LEGACY TOKENS */

  --rich-text-container-color: rgb(255 216 231 / 100%);
  --rich-text-text-color: rgb(114 47 83 / 100%);
  --rich-text-decorations-color: rgb(255 175 212 / 100%);

  /* MISCELLANEOUS */

  --outline-focus-default: 2px solid var(--color-text-accent);
  --avatar-border-radius: 8px;
}
