.navigation-bar__profile-edit,
.dropdown-menu__item a,
.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
.dropdown-menu__item a:active,
.status.light .status__content a {
  color: $primary-text-color;
}

.account__header > div,
.card::after {
  background: rgba($ui-secondary-color,0.4);
}

.card .name small,
.text-icon-button,
.icon-button.inverted,
.favourite-tags a {
  color: $ui-primary-color;
}
