- content_for :page_title do
  = "##{@tag.name}"

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex' }/
  %link{ rel: 'alternate', type: 'application/rss+xml', href: tag_url(@tag, format: 'rss') }/
  = render 'og'

= render 'shared/web_app'
