- if @statuses.empty?
  .accounts-grid
    = render partial: 'accounts/nothing_here'
- else
  .activity-stream
    = render partial: 'stream_entries/status', collection: @statuses, as: :status, cached: true

= id_paginate tag_path, 20, @statuses
