div.quote {
  padding: 10px 10px;
  border-left: 5px solid #393f4f;
}

pre {
  display: block;
  padding: 9px;
  line-height: 1.42857143;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #393f4f;
  border: 1px solid #2a3040;
  border-radius: 4px;
}
