@import 'application';
body {
    font-family: "mastodon-font-sans-serif",sans-serif;
    background: #000000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #c9d1d9;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.search__input {
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    box-shadow: none;
    font-family: inherit;
    background: #000000;
    color: #dde3ec;
    font-size: 14px;
    margin: 0;
    display: block;
    padding: 15px 30px 15px 15px;
    line-height: 18px;
    font-size: 16px;
}
.tabs-bar__wrapper {
    background: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 0;
}
.column-header__button {
    background: #000000;
    border: 0;
    color: #dde3ec;
    cursor: pointer;
    font-size: 16px;
    padding: 0 15px;
}
.column-header>button {
    margin: 0;
    border: 0;
    padding: 15px 0 15px 15px;
    color: inherit;
    background: #000000;
    font: inherit;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}
.account__section-headline button, .notification__filter-bar button {
    background: #000000;
    border: 0;
    margin: 0;
}
.column>.scrollable {
    background: #000000;
}
.drawer__inner__mastodon {
    background: #000000;
    flex: 1;
    min-height: 47px;
    display: none;
}
.column-link {
    background: #000000;
    color: #c9d1d9;
    display: block;
    font-size: 16px;
    padding: 15px;
    text-decoration: none;
}
.column-link__badge, .column-subheading {
    font-size: 12px;
    font-weight: 500;
    background: #000000;
}
.drawer__inner {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.reply-indicator__content, .status__content {
    position: relative;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    color: #c9d1d9;
}
.account__display-name strong, .status__display-name strong {
    color: #c9d1d9;
}
.drawer__header {
    flex: 0 0 auto;
    font-size: 16px;
    background: #000000;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar-track {
    border: 0 #c9d1d9;
    border-radius: 0;
    background: rgb(0 0 0);
}
body.admin {
    background: #000000;
    padding: 0;
}
::-webkit-scrollbar-corner {
    background: #000000;
}
.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    color: #c9d1d9;
    background: #000000;
    padding: 10px;
    font-family: inherit;
    font-size: 14px;
    resize: vertical;
    border: 0;
    outline: 0;
}
.text-icon-button {
    color: #c9d1d9;
    border: 0;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    padding: 0 3px;
    line-height: 27px;
    outline: 0;
    transition: all .1s ease-in;
    transition-property: background-color,color;
}
.character-counter {
    cursor: default;
    font-family: "mastodon-font-sans-serif",sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #c9d1d9;
}
.compose-form .compose-form__buttons-wrapper {
    padding: 10px;
    background: #000000;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}
.icon-button.inverted {
    color: #c9d1d9;
}
.compose-form .compose-form__modifiers .compose-form__uploads-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0.1px;
    flex-wrap: wrap;
}
.reply-indicator {
    border-radius: 4px;
    margin-bottom: 10px;
    background: #000000;
    padding: 10px;
    min-height: 23px;
    overflow-y: auto;
    flex: 0 2 auto;
}
.compose-form .compose-form__buttons-wrapper {
    padding: 10px;
    background: #000000;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}
.detailed-status {
    background: #000000;
    padding: 14px 10px;
}
.detailed-status__action-bar {
    background: #000000;
    border-top: 1px solid #393f4f;
    border-bottom: 1px solid #393f4f;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.tabs-bar__link {
    display: block;
    flex: 1 1 auto;
    padding: 15px 10px 13px;
    color: #c9d1d9;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid #c9d1d9;
    transition: all 50ms linear;
    transition-property: border-bottom,background,color;
}
.tabs-bar {
    background: #000000;
    border: 1px solid #c9d1d9;
    border-bottom: 0;
}
.flex-spacer, .getting-started, .getting-started__wrapper {
    background: #000000;
}
.admin-wrapper .sidebar-wrapper__inner {
    display: flex;
    justify-content: flex-end;
    background: #000000;
    height: 100%;
}
.tabs-bar__link {
    display: block;
    flex: 1 1 auto;
    padding: 15px 10px 13px;
    color: #c9d1d9;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-bottom: 0.3px solid #c9d1d9;
    transition: all 50ms linear;
    transition-property: border-bottom,background,color;
}
.admin-wrapper .sidebar ul a, .admin-wrapper .sidebar ul ul a {
    border-radius: 0;
    border-bottom: 1px solid #000000;
    transition: none;
}
.admin-wrapper .sidebar__toggle {
    height: 48px;
}
.account__header__bar {
    position: relative;
    background: #000000;
    padding: 5px;
    border-bottom: 1px solid #000000;
}
.account__section-headline, .notification__filter-bar {
    background: #000000;
    border-bottom: 1px solid #000000;
    cursor: default;
    display: flex;
    flex-shrink: 0;
}
.column-back-button {
    box-sizing: border-box;
    width: 100%;
    background: #000000;
    color: #2b90d9;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 16px;
    line-height: inherit;
    border: 0;
    text-align: unset;
    padding: 15px;
    margin: 0;
    z-index: 3;
    outline: 0;
}
.landing-page__call-to-action {
    background: #000000;
    border-radius: 4px;
    padding: 25px 40px;
    overflow: hidden;
    box-sizing: border-box;
}
.box-widget {
    padding: 20px;
    border-radius: 4px;
    background: #000000;
    box-shadow: 0 0 15px rgb(0 0 0 / 0%);
}
.rules-list {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.5em 2.5em!important;
    margin-top: 1.85em!important;
}
.table-of-contents {
    background: #000000;
    min-height: 100%;
    font-size: 14px;
    border-radius: 4px;
}
.page-header {
    background: #000000;
    padding: 60px 15px;
    text-align: center;
    margin: 10px 0;
}
.directory__card__bar {
    display: flex;
    align-items: center;
    background: #000000;
    padding: 10px;
}
.directory__card__extra {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-widget__text {
    background: #000000;
    padding: 20px;
    border-radius: 0 0 4px 4px;
    font-size: 15px;
    color: #9baec8;
    line-height: 20px;
    word-wrap: break-word;
    font-weight: 400;
}
.box-widget {
    padding: 20px;
    border-radius: 4px;
    background: #000000;
    box-shadow: 0 0 15px rgb(0 0 0 / 0%);
}
.column-header__collapsible-inner {
    background: #000000;
    padding: 15px;
}
.announcements {
    background: #000000;
    font-size: 13px;
    display: flex;
    align-items: flex-end;
}
.dropdown-menu__item a {
    font-size: 13px;
    line-height: 18px;
    display: block;
    padding: 4px 14px;
    box-sizing: border-box;
    text-decoration: none;
    background: #000000;
    color: #c9d1d9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-menu {
    background: #000000;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 2px 4px 15px rgb(0 0 0 / 40%);
    z-index: 9999;
}
.filter-form {
    background: #000000;
}
.column-header__back-button {
    background: #000000;
    border: 0;
    font-family: inherit;
    color: #2b90d9;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    padding: 0 5px 0 0;
    z-index: 3;
}