$action-button-color: rgb(96, 105, 132);
$highlight-text-color: #F2D16D;
$ui-base-color: rgba(70,94,140);
$secondary-text-color: rgba(242,238,225,0.95);
$ui-base-lighter-color: #606984;
@import 'application';

@import 'mfc/0-palette';
@import 'mfc/1-foreground';
@import 'mfc/2-background';
@import 'mfc/3-highlights';
@import 'mfc/5-material';
@import 'black-cat/palette';
@import 'black-cat/overrides';

/*@import 'mods/display_breakname';*/
/*@import 'mods/display_fullname';*/
/*@import 'mods/display_browserfont';*/
/*@import 'mods/display_circleavatar';*/
/*@import 'mods/display_collapsedinteractions';*/
@import 'mods/display_fadedinteractions';
/*@import 'mods/display_transparentmedia';*/
/*@import 'mods/layout_1600px';*/
@import 'mods/layout_elefriend';
/*@import 'mods/layout_widercolumns';*/
/*@import 'mods/layout_mobile_bottombar';*/
