.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin: 0;
  }
}

.logo-container {
  margin: 100px auto;
  margin-bottom: 50px;

  @media screen and (max-width: 360px) {
    margin: 30px auto;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 42px;
      margin-right: 10px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-text-color;
      text-decoration: none;
      outline: 0;
      padding: 12px 16px;
      line-height: 32px;
      font-family: 'mastodon-font-display', sans-serif;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
