
.button {
  &:disabled {
    background-color: #bca498;
  }
}

.text-icon-button {
  &.active {
    color: #ffffff;
    background-color: #FF5500;
    border-radius: 4px;
  }
}

.column {
  flex-grow: 1 !important;
}

.status__content__spoiler-link {
  font-weight: 800;
}
