@import 'application';

@include multi-columns('screen and (min-width: 1300px)', $parent: null) {
  .column {
    flex-grow: 1 !important;
    max-width: 400px;
  }

  .drawer {
    flex-grow: 1 !important;
    flex-basis: 200px !important;
    min-width: 268px;
    max-width: 400px;
  }
}

.muted {
  .status__content p, .status__content a {
    color: lighten($ui-base-color, 35%);
  }

  .status__display-name strong {
    color: lighten($ui-base-color, 35%);
  }
}

.status time:after,
.detailed-status__datetime span:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\00a0\00a0\f08e";
}

.compose-form__buttons button.active:last-child {
  color:$ui-secondary-color;
  background-color: $ui-highlight-color;
  border-radius:3px;
}

.about-body .mascot {
  display:none;
}

.screenshot-with-signup {
  min-height:300px;
}

.screenshot-with-signup .closed-registrations-message,
.screenshot-with-signup form {
  background-color: rgba(0,0,0,0.7);
  margin:auto;
}

.screenshot-with-signup .closed-registrations-message .clock {
  font-size:150%;
}

.drawer .drawer__inner {
  overflow: visible;
}

.drawer__pager {
  overflow-y:auto;
}

.column {
  // trying to fix @mdhughes safari problem
  max-height:100vh;
}



.media-gallery {
  height:auto !important;
  max-height:250px;
  position:relative;
  margin-top:20px;
  margin-left:-68px;
  width: calc(100% + 80px);
}

.media-gallery:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.media-gallery__item,
.media-gallery .media-spoiler{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0 !important;
  position:absolute;
}

.media-spoiler-video:before {
  content:"";
  display:block;
  padding-top:100%;
}

.media-spoiler-video,
.status__video-player,
.detailed-status > .media-spoiler,
.status > .media-spoiler {
  height:auto !important;
  max-height:250px;
  position:relative;
  margin-top:20px;
  margin-left:-68px;
  width: calc(100% + 80px) !important;
}

.status__video-player-video {
  transform:unset;
}

.detailed-status > .media-spoiler,
.status > .media-spoiler {
  height:250px !important;
  vertical-align:middle;
}
