

$offwhite: #f3f3ee;          // Offwhite
$graphite: #312f2cl;         // Graphite
$darkgraphite: #0f0e0d;      // Dark Graphite 
$success-green: #79bd9a !default;    // Padua
$error-red: #df405a !default;        // Cerise
$warning-red: #ff5050 !default;      // Sunset Orange
$gold-star: #ca8f04 !default;        // Dark Goldenrod

// CHANGED default dark
$classic-base-color: #d0c9bd;         // Manila Folder
$classic-primary-color: #9bae5a;      // Ecosteader Green
$classic-secondary-color: #ae5e33;    // Brisk Embers
$classic-highlight-color: #938f89;    // Storm Coming


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);

@import 'application';

html {
  font-family:'Source Code Pro', sans-serif;
  overflow-y: scroll;
  padding:0;
  margin:0;
  height: 100%;
  background: #D5D1D3;
  }

body {
  font-family: 'Source Sans Pro', sans;
  height: 100%;
  padding-top: 3px;
}
