// Variables
$foresdon-ui-base-color: $classic-base-color;
$foresdon-ui-primary-alpha: 0.6;
$foresdon-ui-secondary-alpha: 0.7;
$foresdon-ui-primary-color: lighten($classic-primary-color, 10%);
$foresdon-ui-secondary-color: lighten($foresdon-ui-primary-color, 20%);
$foresdon-ui-accent-overlay: rgba(16, 0, 8, 0.2);
$foresdon-primary-text-color: $primary-text-color;
$foresdon-primary-border-radius: 6px;
$foresdon-default-margin-bottom: 3px;
