.landing-strip {
  background: $ui-base-color--l093-a080;
  color: $ui-primary-color;
  font-weight: 400;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 20px;

  strong,
  a {
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
