.landing-strip {
  background: rgba(darken($color1, 7%), 0.8);
  color: $color3;
  font-weight: 400;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 20px;

  strong,
  a {
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
