// Dependent colors
$black: #000000;

$classic-base-color: #18121e;
$classic-primary-color: #eabd7a;
$classic-secondary-color: #d3b379;
$classic-highlight-color: #233237;

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;

// Differences
$ui-highlight-color: #c79f72;

$darker-text-color: lighten($ui-primary-color, 20%) !default;
$dark-text-color: lighten($ui-primary-color, 12%) !default;
$secondary-text-color: lighten($ui-secondary-color, 6%) !default;
$highlight-text-color: $classic-highlight-color !default;
$action-button-color: #b0a6bb;

$inverted-text-color: $black !default;
$lighter-text-color: darken($ui-base-color, 6%) !default;
$light-text-color: darken($ui-primary-color, 40%) !default;

@import 'application';

.status__content {
  color: lighten($ui-primary-color, 6%) !important;
}

.status__display-name strong {
  color: lighten($ui-primary-color, 15%) !important;
}