/* https://github.com/AstroProfundis/mastodon/blob/lynx/app/javascript/styles/new-year.scss */

// Colors
$ui-base-color: #52221c;
$ui-base-lighter-color: #eba458;
$ui-primary-color: #f5d5d3;
$ui-secondary-color: #f37343;
$ui-highlight-color: #dfc657;

// Import defaults
@import 'application';

// Based on Witches Town
// Columns width
.column {
  flex-grow: 1;
}

.detailed-status__link .fa-star {
  font-size: 11px;
}

.detailed-status__link .fa-retweet {
  font-size: 12px;
}

// Hide followers count
.account__action-bar__tab:nth-child(3) > strong > span,
.counter:nth-child(3) > a > .counter-number {
  visibility: hidden;
  white-space: nowrap;
}

// Boost icon
@function hex-color($color) {
  @if type-of($color) == 'color' {
    $color: str-slice(ie-hex-str($color), 4);
  }
  @return '%23' + unquote($color)
}