$action-button-color: rgb(86,22,12);
$highlight-text-color: rgb(61, 192,140);
$ui-base-color: rgba(255,210,132,0.9);
$secondary-text-color: #4b2d2c;

@import 'application';

@import 'mfc/mastodonFlat';
@import 'stardew-valley/palette';
@import 'stardew-valley/overrides';

/*@import 'mods/display_breakname';
@import 'mods/display_fullname';
@import 'mods/display_browserfont';
@import 'mods/display_circleavatar';
@import 'mods/display_collapsedinteractions';*/
@import 'mods/display_fadedinteractions';
/*@import 'mods/display_transparentmedia';
@import 'mods/layout_1600px';*/
@import 'mods/layout_elefriend';
/*@import 'mods/layout_widercolumns';
@import 'mods/layout_mobile_bottombar';*/
