/* https://github.com/AstroProfundis/mastodon/edit/lynx/app/javascript/styles/dark-green.scss */

// Colors
$ui-base-color: #519d9e;
$ui-base-lighter-color: #9dc8c8;
$ui-primary-color: #77af9c;
$ui-secondary-color: #d7fff1;
$ui-highlight-color: #8cd790;

// Import defaults
@import 'application';

// Based on Witches Town
// Columns width
.column {
  flex-grow: 1;
}

.detailed-status__link .fa-star {
  font-size: 11px;
}

.detailed-status__link .fa-retweet {
  font-size: 12px;
}

// Hide followers count
/* .account__action-bar__tab:nth-child(3) > strong > span,
.counter:nth-child(3) > a > .counter-number {
  visibility: hidden;
  white-space: nowrap;
} */

.status__content {
  color: lighten($ui-primary-color, 32%) !important;
}

.status__display-name strong {
  color: lighten($ui-primary-color, 20%) !important;
}

// Boost icon
@function hex-color($color) {
  @if type-of($color) == 'color' {
    $color: str-slice(ie-hex-str($color), 4);
  }
  @return '%23' + unquote($color)
}