@import '../../../node_modules/highlight.js/styles/arta';

// Dark theme colors

$text-color: #ddd;
$sub-text-color: #555;
$sub-text-color-strong: #aaa;
$border-color: #444;
$base-background-color: #111;
$background-color: #111;
$sub-background-color: #222;
$primary-accent-color: #2bd000;
$secondary-accent-color: #ff2e88;
$caret-color: #c62db7;
$star-color: #dddc01;
$retweet-color: #00efff;
$accent-background-color: #111;
$accent-text-color: #ddd;
$accent-sub-text-color: #555;
$accent-border-color: #444;

%box-styles {
  background-color: $background-color;
  border: 1px solid $border-color;
}

%accent-box-styles {
  background-color: $accent-background-color;
  border: 1px solid $border-color;
  color: $accent-text-color;
}

%text-area-styles {
  background-color: $sub-background-color;
  border: 1px solid $border-color;
  caret-color: $caret-color;
  color: $text-color;
}

// Override original styles

.ui {
  background-color: $base-background-color;
  color: $text-color;
}

.drawer__header {
  @extend %accent-box-styles;
  border-radius: 2px;
}

.drawer__tab {
  color: $accent-text-color;
}

.drawer__header a:hover {
  background-color: lighten($accent-background-color, 5%);
}

.search__input {
  @extend %text-area-styles;
  border-radius: 2px;
}

.search__input:focus {
  background-color: lighten($sub-background-color, 3%);
}

.search__input::placeholder,
.search__icon .fa {
  color: $text-color;
}

.drawer__inner {
  @extend %box-styles;
  border-radius: 2px;
}

.drawer__inner.darker,
.search-results__header {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-radius: 2px;
  color: $text-color;
}

.navigation-bar strong {
  color: $text-color;
  font-size: 15px;
}

.navigation-bar__profile-edit {
  color: $sub-text-color;
}

.autosuggest-textarea__textarea {
  @extend %text-area-styles;
  border-radius: 2px;
  border-bottom-right-radius: 2px;
}

.autosuggest-textarea__textarea::placeholder {
  color: $sub-text-color;
}

.compose-form__buttons {
  @extend %box-styles;
  border-top: 0;
  box-shadow: none;
}

.compose-form__uploads-wrapper {
  padding: 0;
}

.button {
  background-color: $primary-accent-color;

  &:disabled {
    background-color: desaturate($primary-accent-color, 80%);
  }
}

.button:hover,
.button:focus,
.button:active {
  background-color: darken($primary-accent-color, 10%);
}

.icon-button.inverted,
.text-icon-button {
  color: $sub-text-color;
}

.icon-button.inverted:hover,
.icon-button.inverted:focus {
  color: $text-color;
}

.icon-button.inverted.active {
  color: $primary-accent-color;
}

.text-icon-button:hover,
.text-icon-button:focus {
  color: $text-color;
}

.text-icon-button.active {
  color: $primary-accent-color;
}

.column-header {
  @extend %accent-box-styles;
  border-bottom: 0;
  color: $accent-text-color;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.column-header__button,
.column-header__button.active:hover {
  @extend %accent-box-styles;
  border: 0;
}

.column-header__back-button {
  @extend %accent-box-styles;
  border: 0;
}

.collapsable-collapsed,
.column-icon {
  background-color: transparent;
  color: $accent-sub-text-color;
  border-top-right-radius: 2px;
}

.column-collapsable .column-collapsable__button {
  @extend %accent-box-styles;
  border: 0;
}

.collapsable:hover {
  background-color: transparent;
}

.column-back-button {
  @extend %accent-box-styles;
  border-bottom: 0;
  color: $accent-sub-text-color;
}

.column-back-button--slim-button {
  background-color: transparent;
  border: 0;
}

.column-back-button:hover {
  color: $accent-text-color;
}

.column>.scrollable {
  @extend %box-styles;
}

.column-icon:hover {
  color: $accent-text-color;
}

.getting-started__wrapper {
  border: 1px solid $border-color;
  border-bottom: 0;
}

.column-subheading {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $sub-text-color;
}

.getting-started__wrapper .column-subheading:first-child {
  border-top: 0;
}

.getting-started p {
  color: $text-color;
}

.column-link {
  background-color: $background-color;
  color: $text-color;
}

.column-link:hover {
  background-color: $sub-background-color;
}

.column-header__collapsible > div {
  @extend %box-styles;
  border-bottom: 0;
}

.column-header__setting-btn {
  color: $text-color;
}

.column-settings__section {
  color: $sub-text-color;
}

.setting-toggle__label {
  color: $text-color;
}

.react-toggle--checked .react-toggle-track {
  background-color: $primary-accent-color;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: $primary-accent-color;
}

.setting-text {
  color: $text-color;
  border-bottom-color: $border-color;
}

.status {
  background-color: $background-color;
  border-color: $border-color;
  color: $text-color;
}

.icon-button {
  color: $sub-text-color;
}

.icon-button:hover {
  color: $text-color;
}

.star-icon.active,
.star-icon:hover {
  color: $star-color;
}

.status__display-name,
.status__relative-time {
  color: $sub-text-color;
}

.status__display-name strong,
.account__display-name strong {
  color: $text-color;
}

.status__content__spoiler-link {
  background-color: lighten($sub-background-color, 5%) !important;
  color: $sub-text-color-strong !important;
}

.status__prepend {
  color: $sub-text-color;

  & .status__display-name strong {
    color: $sub-text-color-strong;
  }
}

.spoiler-input__input {
  @extend %text-area-styles;
}

.muted .status__display-name strong {
  color: $sub-text-color;
}

.muted .status__content p,
.muted .status__content a {
  color: $sub-text-color;
}

.detailed-status {
  background-color: $background-color;
}

.detailed-status__meta {
  color: $sub-text-color;
}

.detailed-status__action-bar {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.detailed-status__display-name strong {
  color: $text-color;
}

.detailed-status__display-name span {
  color: $sub-text-color;
}

.notification {
  background-color: $background-color;
}

.notification__message {
  background-color: $background-color;
  color: $sub-text-color-strong;
}

.notification__display-name:hover {
  color: $sub-text-color-strong;
}

::-webkit-scrollbar-thumb {
  background-color: $sub-background-color;
  border: 0 none $sub-background-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($sub-background-color, 10%);
}

::-webkit-scrollbar-thumb:active {
  background-color: darken($sub-background-color, 10%);
}

::-webkit-scrollbar-track {
  background-color: $background-color;
}

::-webkit-scrollbar-track:hover {
  background-color: $background-color;
}

::-webkit-scrollbar-track:active {
  background-color: $background-color;
}

.account .account__display-name {
  color: $sub-text-color;
}

.active .fa-user-times {
  color: $primary-accent-color !important;
}

.notification__message .fa {
  color: $primary-accent-color;
}

.active .fa-star,
.notification__message .fa-star {
  color: $star-color !important;
}

.active .fa-retweet,
.notification__message .fa-retweet {
  color: $retweet-color !important;
}

.load-more {
  background-color: $background-color;
  color: $text-color;

  &:hover {
    background-color: $sub-background-color;
  }
}

.account {
  border-color: $border-color;
}

.account__header .account__header__content {
  color: darken($text-color, 10%);
}

.account__header .account__header__username {
  color: $text-color;
}

.account__header__display-name {
  color: $text-color;
}

.account__header__username {
  color: $text-color;
}

.account__header>div {
  background-color: rgba($background-color, 0.8);
}

.account__action-bar {
  border-color: $border-color;

  &__tab {
    border-color: $border-color;

    strong {
      color: $text-color;
    }
  }
}

.account__action-bar__tab>span {
  color: darken($text-color, 10%);
}

.account-section-headline {
  background-color: $background-color;
  border-bottom-color: $border-color;
  color: $text-color;
}

.account-section-headline:after,
.account-section-headline:before {
  border-color: transparent transparent $border-color;
}

.status__content a,
.reply-indicator__content a,
.empty-column-indicator a,
.getting-started a {
  color: $secondary-accent-color;
}

.missing-indicator {
  background-color: $background-color;
  border: 1px solid $border-color;
  padding-bottom: 30px;
  color: $text-color;
}

.missing-indicator > div {
  background-size: 50%;
}

.reply-indicator {
  @extend %box-styles;
  color: $text-color;
}

.reply-indicator .display-name {
  color: $sub-text-color-strong;
}

.reply-indicator__content {
  color: $sub-text-color-strong;
}

.empty-column-indicator {
  @extend %box-styles;
  color: $sub-text-color;
}

.dropdown--active .dropdown__content > ul {
  background-color: $sub-background-color;
}

.dropdown--active .dropdown__content:before {
  border-bottom-color: $sub-background-color;
}

.dropdown--active .dropdown__content > ul > li > a {
  background-color: $sub-background-color;
  color: $text-color;
}

.dropdown--active .dropdown__content > ul > li > a:hover {
  background-color: $primary-accent-color;
}

.dropdown__sep {
  border-color: $border-color;
}

.privacy-dropdown.active .privacy-dropdown__value {
  background-color: $sub-background-color;
}

.privacy-dropdown.active .privacy-dropdown__dropdown {
  background-color: $sub-background-color;
}

.privacy-dropdown__option:hover, .privacy-dropdown__option.active {
  background-color: $primary-accent-color;
}

.privacy-dropdown__option.active:hover {
  background-color: $primary-accent-color;
}

.privacy-dropdown__option {
  color: $text-color;
}

.privacy-dropdown__option__content {
  color: $sub-text-color;
}

.privacy-dropdown__option__content strong {
  color: $text-color;
}

.tabs-bar {
  background-color: $accent-background-color;
}

.tabs-bar__link {
  border-color: darken($accent-background-color, 10%);
}

.tabs-bar__link.active {
  border-color: $accent-text-color;
  color: $accent-text-color;
}

.tabs-bar__link:hover,
.tabs-bar__link:focus,
.tabs-bar__link:active {
  background-color: lighten($accent-background-color, 5%);
}

.status-card {
  border-color: $border-color;
  color: $sub-text-color;
}

.status-card:hover {
  background-color: $base-background-color;
}

.status-card__image {
  background-color: transparent;
}

.status-card__title {
  font-weight: bold;
  color: $text-color;
}

.status-card__description {
  color: $text-color;
}

.boost-modal, .confirmation-modal {
  @extend %box-styles;
  color: $text-color;
}

.confirmation-modal__action-bar {
  background-color: $sub-background-color;
}

.confirmation-modal__cancel-button,
.confirmation-modal__cancel-button:hover {
  background-color: transparent;
  color: $sub-text-color-strong;
}

.report__target {
  border-bottom-color: $border-color;
  color: $sub-text-color;
}

.report__target strong {
  color: $text-color;
}

.report__textarea {
  border-bottom-color: $border-color;
  color: $text-color;
}

.report__textarea:active,
.report__textarea:focus {
  background-color: $sub-background-color;
}

.status-check-box {
  border-bottom-color: $border-color;
}

.status-check-box .status__content {
  background-color: $background-color;
  color: $sub-text-color;
}

// Customize retweet button

button.icon-button i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%22209%22%3E%3Cpath%20d%3D%22M4.97%203.16c-.1.03-.17.1-.22.18L.8%208.24c-.2.3.03.78.4.8H3.6v2.68c0%204.26-.55%203.62%203.66%203.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44%200-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5%203.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32%202.85.03.06h5.25c.42%200%20.72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.26-.28%200-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z%22%20fill%3D%22%23555%22%20stroke-width%3D%220%22%2F%3E%3Cpath%20d%3D%22M7.78%2019.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08%200-1.86-.03-2.4-.03-1.64%200-1.25.43-1.25%203.65v4.47c0%204.26-.56%203.62%203.65%203.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44%200-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0%20.38.54.63.82.38l4.9-3.93c.25-.18.25-.6%200-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34%202.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3%201.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33%201.1h1.28c.42%200%20.72.28.72.72v4.47c0%20.42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07%200-.14.05-.2.1l-4.9%203.93c-.26.18-.26.6%200%20.78l4.9%203.92c.27.25.82%200%20.8-.38v-2.5h.1c4.27%200%203.65.67%203.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34%2038.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08%200-1.86-.04-2.4-.04-1.64%200-1.25.43-1.25%203.65v4.47c0%203.66-.23%203.7%202.34%203.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3%200-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0%20.36.5.6.8.38l4.93-3.93c.24-.18.24-.6%200-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63%202.93l1.34%201.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96%201.6c.02.07.06.13.06.22v4.47c0%20.42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94%203.93c-.24.18-.24.6%200%20.78l4.94%203.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27%200%203.65.67%203.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06%2057.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08%200-1.86-.04-2.4-.04-1.64%200-1.25.43-1.25%203.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0%20.36.5.6.78.38l4.94-3.93c.24-.18.24-.6%200-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3%206.15l-2.92%202.4v2.52c0%20.42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6%2070.52c-.25.18-.25.6%200%20.78l4.93%203.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27%200%203.65.67%203.65-3.62v-4.47-.44zM19.25%2078.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08%200-1.86-.03-2.4-.03-1.64%200-1.25.43-1.25%203.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2%200%20.37.08.5.2l-1.8%201.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2%206.1c-.2.07-.36.3-.33.54l.7%206.25c.02.36.58.55.83.27l.8-.8c.02%200%20.04-.02.04%200%20.46.24%201.37.17%203.18.17h7.44c4.27%200%203.65.67%203.65-3.62v-.75l-2.93-.3v1.05c0%20.42-.3.72-.72.72H7.28c-.15%200-.3-.03-.4-.1L8.8%2086.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88%2098.6c-1.33%200-1.34.48-1.3%202.3l1.14-1.37c.08-.1.22-.17.34-.2.16%200%20.34.08.44.2l1.66%202.03c.04%200%20.07-.03.12-.03h7.44c.34%200%20.57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92%204.95c.18.24.6.24.78%200l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08%200-1.86-.04-2.4-.04zm.15%202.46c-.1.03-.2.1-.28.2l-3.94%204.9c-.2.28.03.77.4.78H3.6c-.02%203.94-.45%203.4%203.66%203.4h7.44c3.65%200%203.74.3%203.7-2.25l-1.1%201.34c-.1.1-.2.17-.32.2-.16%200-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35%200-.57-.2-.66-.5h2.44c.37%200%20.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88%20117.6c-1.16%200-1.3.3-1.3%201.56l1.14-1.38c.08-.1.22-.14.34-.16.16%200%20.34.04.44.16l2.22%202.75h7c.42%200%20.72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08%200-1.86-.03-2.4-.03zm.1%201.74c-.1.03-.17.1-.23.16L.8%20124.44c-.2.28.03.77.4.78H3.6v.5c0%204.26-.55%203.62%203.66%203.62h7.44c1.03%200%201.74.02%202.28%200-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44%200-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5%20119.5c-.12-.15-.34-.22-.53-.16zm12.02%2010c1.2-.02%201.4-.25%201.4-1.53l-1.1%201.36c-.07.1-.17.17-.3.18zM5.94%20136.6l2.37%202.93h6.42c.42%200%20.72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6%200-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12%200-.24.08-.3.18l-3.95%204.9c-.24.3%200%20.83.4.82H3.6v1.22c0%204.26-.55%203.62%203.66%203.62h7.44c.63%200%20.97.02%201.4.03l-2.37-2.93H7.28c-.44%200-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28%2010.03l-.56.7c.36-.07.5-.3.56-.7zM17.13%20155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38%202.9h5.82c.42%200%20.72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94%204.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94%204.9c-.2.3.03.78.4.8H3.6v1.96c0%204.26-.55%203.62%203.66%203.62h8.24l-2.36-2.9H7.28c-.44%200-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13%20174.5c-.15%200-.3.07-.38.2L.8%20179.6c-.24.27%200%20.82.4.8H3.6v2.32c0%204.26-.55%203.62%203.66%203.62h7.94l-2.35-2.9h-5.6c-.43%200-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12%20.1c-.55-.02-1.32.03-2.4.03H6.83l2.35%202.9h5.52c.42%200%20.72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92%204.9c.18.24.6.24.78%200l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97%20193.16c-.1.03-.17.1-.22.18l-3.94%204.9c-.2.3.03.78.4.8H3.6v2.68c0%204.26-.55%203.62%203.66%203.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44%200-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32%202.84.03.06h5.25c.42%200%20.72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.26-.28%200-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z%22%20fill%3D%22%2300efff%22%20stroke-width%3D%220%22%2F%3E%3C%2Fsvg%3E%0A");
  transition: background-position 0 steps(10), background-image 100ms ease-in;
}

button.icon-button.active i.fa-retweet {
  transition-duration: 0.9s, 100ms;
}

button.icon-button:hover i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%22209%22%3E%3Cpath%20d%3D%22M4.97%203.16c-.1.03-.17.1-.22.18L.8%208.24c-.2.3.03.78.4.8H3.6v2.68c0%204.26-.55%203.62%203.66%203.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44%200-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5%203.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32%202.85.03.06h5.25c.42%200%20.72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.26-.28%200-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z%22%20fill%3D%22%2300efff%22%20stroke-width%3D%220%22%2F%3E%3Cpath%20d%3D%22M7.78%2019.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08%200-1.86-.03-2.4-.03-1.64%200-1.25.43-1.25%203.65v4.47c0%204.26-.56%203.62%203.65%203.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44%200-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0%20.38.54.63.82.38l4.9-3.93c.25-.18.25-.6%200-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34%202.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3%201.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33%201.1h1.28c.42%200%20.72.28.72.72v4.47c0%20.42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07%200-.14.05-.2.1l-4.9%203.93c-.26.18-.26.6%200%20.78l4.9%203.92c.27.25.82%200%20.8-.38v-2.5h.1c4.27%200%203.65.67%203.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34%2038.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08%200-1.86-.04-2.4-.04-1.64%200-1.25.43-1.25%203.65v4.47c0%203.66-.23%203.7%202.34%203.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3%200-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0%20.36.5.6.8.38l4.93-3.93c.24-.18.24-.6%200-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63%202.93l1.34%201.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96%201.6c.02.07.06.13.06.22v4.47c0%20.42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94%203.93c-.24.18-.24.6%200%20.78l4.94%203.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27%200%203.65.67%203.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06%2057.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08%200-1.86-.04-2.4-.04-1.64%200-1.25.43-1.25%203.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0%20.36.5.6.78.38l4.94-3.93c.24-.18.24-.6%200-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3%206.15l-2.92%202.4v2.52c0%20.42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6%2070.52c-.25.18-.25.6%200%20.78l4.93%203.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27%200%203.65.67%203.65-3.62v-4.47-.44zM19.25%2078.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08%200-1.86-.03-2.4-.03-1.64%200-1.25.43-1.25%203.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2%200%20.37.08.5.2l-1.8%201.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2%206.1c-.2.07-.36.3-.33.54l.7%206.25c.02.36.58.55.83.27l.8-.8c.02%200%20.04-.02.04%200%20.46.24%201.37.17%203.18.17h7.44c4.27%200%203.65.67%203.65-3.62v-.75l-2.93-.3v1.05c0%20.42-.3.72-.72.72H7.28c-.15%200-.3-.03-.4-.1L8.8%2086.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88%2098.6c-1.33%200-1.34.48-1.3%202.3l1.14-1.37c.08-.1.22-.17.34-.2.16%200%20.34.08.44.2l1.66%202.03c.04%200%20.07-.03.12-.03h7.44c.34%200%20.57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92%204.95c.18.24.6.24.78%200l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08%200-1.86-.04-2.4-.04zm.15%202.46c-.1.03-.2.1-.28.2l-3.94%204.9c-.2.28.03.77.4.78H3.6c-.02%203.94-.45%203.4%203.66%203.4h7.44c3.65%200%203.74.3%203.7-2.25l-1.1%201.34c-.1.1-.2.17-.32.2-.16%200-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35%200-.57-.2-.66-.5h2.44c.37%200%20.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88%20117.6c-1.16%200-1.3.3-1.3%201.56l1.14-1.38c.08-.1.22-.14.34-.16.16%200%20.34.04.44.16l2.22%202.75h7c.42%200%20.72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08%200-1.86-.03-2.4-.03zm.1%201.74c-.1.03-.17.1-.23.16L.8%20124.44c-.2.28.03.77.4.78H3.6v.5c0%204.26-.55%203.62%203.66%203.62h7.44c1.03%200%201.74.02%202.28%200-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44%200-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5%20119.5c-.12-.15-.34-.22-.53-.16zm12.02%2010c1.2-.02%201.4-.25%201.4-1.53l-1.1%201.36c-.07.1-.17.17-.3.18zM5.94%20136.6l2.37%202.93h6.42c.42%200%20.72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6%200-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12%200-.24.08-.3.18l-3.95%204.9c-.24.3%200%20.83.4.82H3.6v1.22c0%204.26-.55%203.62%203.66%203.62h7.44c.63%200%20.97.02%201.4.03l-2.37-2.93H7.28c-.44%200-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28%2010.03l-.56.7c.36-.07.5-.3.56-.7zM17.13%20155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38%202.9h5.82c.42%200%20.72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94%204.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94%204.9c-.2.3.03.78.4.8H3.6v1.96c0%204.26-.55%203.62%203.66%203.62h8.24l-2.36-2.9H7.28c-.44%200-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13%20174.5c-.15%200-.3.07-.38.2L.8%20179.6c-.24.27%200%20.82.4.8H3.6v2.32c0%204.26-.55%203.62%203.66%203.62h7.94l-2.35-2.9h-5.6c-.43%200-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12%20.1c-.55-.02-1.32.03-2.4.03H6.83l2.35%202.9h5.52c.42%200%20.72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92%204.9c.18.24.6.24.78%200l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97%20193.16c-.1.03-.17.1-.22.18l-3.94%204.9c-.2.3.03.78.4.8H3.6v2.68c0%204.26-.55%203.62%203.66%203.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44%200-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32%202.84.03.06h5.25c.42%200%20.72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92%204.9c.18.25.6.25.78%200l3.94-4.9c.26-.28%200-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z%22%20fill%3D%22%2300efff%22%20stroke-width%3D%220%22%2F%3E%3C%2Fsvg%3E%0A");
}
