$action-button-color: rgb(96, 105, 132);
$highlight-text-color: rgb(242,197,167);
$ui-base-color: rgba(27,47,73,0.9);
$secondary-text-color: rgba(242,233,216,0.95);

@import 'application';

@import 'mfc/mastodonFlat';
@import 'to-the-moon/palette';
@import 'to-the-moon/overrides';

/*@import 'mods/display_breakname';*/
/*@import 'mods/display_fullname';*/
/*@import 'mods/display_browserfont';*/
/* @import 'mods/display_circleavatar'; */
/*@import 'mods/display_collapsedinteractions';*/
@import 'mods/display_fadedinteractions';
/*@import 'mods/display_transparentmedia';*/
/*@import 'mods/layout_1600px';*/
@import 'mods/layout_elefriend';
/*@import 'mods/layout_widercolumns';*/
/*@import 'mods/layout_mobile_bottombar';*/
