// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #282c37;         // Midnight Express
$classic-primary-color: #9baec8;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;             // Darkest
$ui-primary-color: $classic-primary-color !default;       // Lighter
$ui-secondary-color: $classic-secondary-color !default;   // Lightest
$ui-highlight-color: $classic-highlight-color !default;   // Vibrant

// Color variations
$base-overlay-background--l100-a000: rgba($base-overlay-background, 0) !default;
$base-overlay-background--l100-a010: rgba($base-overlay-background, 0.1) !default;
$base-overlay-background--l100-a040: rgba($base-overlay-background, 0.4) !default;
$base-overlay-background--l100-a050: rgba($base-overlay-background, 0.5) !default;
$base-overlay-background--l100-a060: rgba($base-overlay-background, 0.6) !default;
$base-overlay-background--l100-a070: rgba($base-overlay-background, 0.7) !default;
$base-overlay-background--l100-a080: rgba($base-overlay-background, 0.8) !default;
$base-overlay-background--l100-a090: rgba($base-overlay-background, 0.9) !default;
$base-shadow-color--l100-a005: rgba($base-shadow-color, 0.05) !default;
$base-shadow-color--l100-a010: rgba($base-shadow-color, 0.1) !default;
$base-shadow-color--l100-a020: rgba($base-shadow-color, 0.2) !default;
$base-shadow-color--l100-a030: rgba($base-shadow-color, 0.3) !default;
$base-shadow-color--l100-a040: rgba($base-shadow-color, 0.4) !default;
$base-shadow-color--l100-a050: rgba($base-shadow-color, 0.5) !default;
$base-shadow-color--l100-a080: rgba($base-shadow-color, 0.8) !default;
$error-value-color--l095-a100: darken($error-value-color, 5%) !default;
$error-value-color--l100-a050: rgba($error-value-color, 0.5) !default;
$error-value-color--l105-a100: lighten($error-value-color, 5%) !default;
$primary-text-color--l100-a070: rgba($primary-text-color, 0.7) !default;
$primary-text-color--l100-a080: rgba($primary-text-color, 0.8) !default;
$simple-background-color--l092-a100: darken($simple-background-color, 8%) !default;
$simple-background-color--l098-a100: darken($simple-background-color, 2%) !default;
$ui-base-color--l090-a100: darken($ui-base-color, 10%) !default;
$ui-base-color--l092-a100: darken($ui-base-color, 8%) !default;
$ui-base-color--l093-a050: rgba(darken($ui-base-color, 7%), 0.5) !default;
$ui-base-color--l093-a080: rgba(darken($ui-base-color, 7%), 0.8) !default;
$ui-base-color--l093-a100: darken($ui-base-color, 7%) !default;
$ui-base-color--l095-a100: darken($ui-base-color, 5%) !default;
$ui-base-color--l096-a100: darken($ui-base-color, 4%) !default;
$ui-base-color--l098-a100: darken($ui-base-color, 2%) !default;
$ui-base-color--l102-a100: lighten($ui-base-color, 2%) !default;
$ui-base-color--l103-a100: lighten($ui-base-color, 3%) !default;
$ui-base-color--l104-a090: rgba(lighten($ui-base-color, 4%), 0.9) !default;
$ui-base-color--l104-a100: lighten($ui-base-color, 4%) !default;
$ui-base-color--l105-a100: lighten($ui-base-color, 5%) !default;
$ui-base-color--l106-a100: lighten($ui-base-color, 6%) !default;
$ui-base-color--l108-a100: lighten($ui-base-color, 8%) !default;
$ui-base-color--l110-a100: lighten($ui-base-color, 10%) !default;
$ui-base-color--l111-a100: lighten($ui-base-color, 11%) !default;
$ui-base-color--l113-a100: lighten($ui-base-color, 13%) !default;
$ui-base-color--l114-a100: lighten($ui-base-color, 14%) !default;
$ui-base-color--l116-a100: lighten($ui-base-color, 16%) !default;
$ui-base-color--l120-a100: lighten($ui-base-color, 20%) !default;
$ui-base-color--l126-a100: lighten($ui-base-color, 26%) !default;
$ui-base-color--l129-a100: lighten($ui-base-color, 29%) !default;
$ui-base-color--l130-a100: lighten($ui-base-color, 30%) !default;
$ui-base-color--l133-a100: lighten($ui-base-color, 33%) !default;
$ui-base-color--l140-a100: lighten($ui-base-color, 40%) !default;
$ui-highlight-color--l095-a100: darken($ui-highlight-color, 5%) !default;
$ui-highlight-color--l097-a100: darken($ui-highlight-color, 3%) !default;
$ui-highlight-color--l100-a000: rgba($ui-highlight-color, 0) !default;
$ui-highlight-color--l100-a023: rgba($ui-highlight-color, 0.23) !default;
$ui-highlight-color--l100-a030: rgba($ui-highlight-color, 0.3) !default;
$ui-highlight-color--l100-a040: rgba($ui-highlight-color, 0.4) !default;
$ui-highlight-color--l104-a100: lighten($ui-highlight-color, 4%) !default;
$ui-highlight-color--l105-a100: lighten($ui-highlight-color, 5%) !default;
$ui-highlight-color--l107-a100: lighten($ui-highlight-color, 7%) !default;
$ui-highlight-color--l110-a100: lighten($ui-highlight-color, 10%) !default;
$ui-primary-color--l067-a100: darken($ui-primary-color, 33%) !default;
$ui-primary-color--l076-a100: darken($ui-primary-color, 24%) !default;
$ui-primary-color--l095-a100: darken($ui-primary-color, 5%) !default;
$ui-primary-color--l107-a100: lighten($ui-primary-color, 7%) !default;
$ui-primary-color--l108-a100: lighten($ui-primary-color, 8%) !default;
$ui-secondary-color--l035-a100: darken($ui-secondary-color, 65%) !default;
$ui-secondary-color--l062-a100: darken($ui-secondary-color, 38%) !default;
$ui-secondary-color--l066-a100: darken($ui-secondary-color, 34%) !default;
$ui-secondary-color--l075-a100: darken($ui-secondary-color, 25%) !default;
$ui-secondary-color--l076-a100: darken($ui-secondary-color, 24%) !default;
$ui-secondary-color--l082-a100: darken($ui-secondary-color, 18%) !default;
$ui-secondary-color--l084-a100: darken($ui-secondary-color, 16%) !default;
$ui-secondary-color--l090-a100: darken($ui-secondary-color, 10%) !default;
$ui-secondary-color--l092-a100: darken($ui-secondary-color, 8%) !default;
$ui-secondary-color--l100-a030: rgba($ui-secondary-color, 0.3) !default;
$ui-secondary-color--l103-a100: lighten($ui-secondary-color, 3%) !default;
$ui-secondary-color--l104-a100: lighten($ui-secondary-color, 4%) !default;
$ui-secondary-color--l108-a100: lighten($ui-secondary-color, 8%) !default;
