- accounts = hashtag.statuses.public_visibility.joins(:account).merge(Account.without_suspended.without_silenced).includes(:account).limit(3).map(&:account)

%table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-mini-wrapper-td
      %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          %td.email-mini-td
            %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
              %tr
                %td.email-mini-hashtag-td{ height: 40 }
                  %h3 ##{hashtag.display_name}
                  %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
                    %tr
                      %td.email-mini-hashtag-img-td
                        - accounts.each do |account|
                          %span.email-mini-hashtag-img-span
                            = image_tag full_asset_url(account.avatar.url), alt: '', width: 16, height: 16
                      %td
                        - people = hashtag.history.aggregate(2.days.ago.to_date..Time.zone.today).accounts
                        %p= t('user_mailer.welcome.hashtags_recent_count', people: number_with_delimiter(people), count: people)
