%table.email-w-full.email-header-heading-table{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
  %tr
    %td.email-header-heading-td
      %table.email-w-full{ cellspacing: 0, cellpadding: 0, border: 0, role: 'presentation' }
        %tr
          - if defined?(image_url)
            %td.email-header-heading-img-td
              = image_tag image_url, alt: '', width: 56, height: 56
          %td.email-header-heading-txt-td
            - if defined?(title)
              %h1= title
            - if defined?(subtitle)
              %p= subtitle
