*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
Gemfile.local
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
Vagrantfile
.vagrant
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
.ruby-version
.ruby-gemset
vendor/bundle
tags

# silly macs
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
