.topLinks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
  margin: var(--space-4) var(--space-4) var(--space-2);

  > * {
    --lockup-padding-block: var(--space-3);

    min-width: 250px;
    flex: 1 1 0;
  }
}

.markAsReadButtonWrapper {
  padding: var(--space-2);
  text-align: end;
}
