@use '@/styles/mastodon/mixins';

.root {
  position: relative;

  display: grid;

  // Ensure title is centered regardless of side-content
  grid-template-columns:
    minmax(min-content, 1fr)
    minmax(0, auto)
    minmax(min-content, 1fr);
  align-items: center;

  min-height: 40px;
  padding: var(--space-sm);
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);

  color: var(--color-text-primary);
  text-align: center;

  background: linear-gradient(
    to bottom,
    var(--color-bg-primary) var(--column-header-gradient-start, 55%),
    transparent
  );
}

.title {
  @include mixins.type-heading-sm;

  overflow: hidden;
  grid-column: 2;

  min-width: 0;

  text-overflow: ellipsis;
  white-space: nowrap;

  > button {
    overflow: hidden;

    width: 100%;
    padding: 0;
    border: none;

    font: inherit;

    background: transparent;
  }
}

.leftButton {
  justify-self: start;
}

.rightButtons {
  display: flex;
  align-items: center;
  justify-self: end;
}
