.header {
  padding: 16px;
  border-bottom: 1px solid var(--color-border-primary);
}

.titleWithMenu {
  display: flex;
  align-items: start;
  gap: 10px;
}

.titleWrapper {
  flex-grow: 1;
  min-width: 0;
}

.tag {
  margin-bottom: 4px;
  margin-inline-start: -8px;
}

.name {
  font-size: 28px;
  line-height: 1.2;
  overflow-wrap: anywhere;
}

.description {
  font-size: 15px;
  margin-top: 8px;
}

.headerButtonWrapper {
  display: flex;
  gap: 8px;
}

.iconButton {
  box-sizing: content-box;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--color-border-primary);
}

.authorNote {
  margin-top: 8px;
  font-size: 13px;
  color: var(--color-text-secondary);
}

.metaData {
  margin-top: 16px;
  font-size: 15px;
}

.displayNameWithAvatar {
  display: inline-flex;
  gap: 4px;
  align-items: baseline;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  > :global(.account__avatar) {
    align-self: center;
  }
}

.shareModalHeading {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 16px;
}

.sharePreview {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  color: var(--color-text-primary);
  background: linear-gradient(
    145deg,
    var(--color-bg-brand-soft),
    var(--color-bg-primary)
  );
  border: 1px solid var(--color-bg-brand-base);
}

.sharePreviewTitle {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 4px;
}

.sharePreviewAuthorNote {
  font-size: 13px;
}

.shareModalButtonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

$bottomsheet-breakpoint: 630px;

.primaryButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: 100%;

  & > button {
    flex: 1;
    min-width: 220px;
    white-space: normal;

    @media (width > $bottomsheet-breakpoint) {
      max-width: 50%;
    }
  }
}

.shareModalCloseButtonDesktop {
  position: absolute;
  top: 4px;
  inset-inline-end: 4px;
  padding: 8px;

  @media (width <= $bottomsheet-breakpoint) {
    display: none;
  }
}

.shareModalCloseButtonMobile {
  margin-top: 16px;
  margin-bottom: -18px;

  @media (width > $bottomsheet-breakpoint) {
    display: none;
  }
}
