%tr{ id: dom_id(webauthn_credential) }
  %td
    = webauthn_credential.nickname
  %td
    = t('webauthn_credentials.registered_on', date: l(webauthn_credential.created_at.to_date, format: :with_month_name))
  %td
    = table_link_to 'delete',
                    t('webauthn_credentials.delete'),
                    settings_webauthn_credential_path(webauthn_credential.id),
                    data: { confirm: t('webauthn_credentials.delete_confirmation') },
                    method: :delete
