- content_for :page_title do
  = t('settings.webauthn_authentication')

.table-wrapper
  %table.table
    %tbody
      = render partial: 'webauthn_credential', collection: current_user.webauthn_credentials

%hr.spacer/

.simple_form
  = link_to t('webauthn_credentials.add'), new_settings_webauthn_credential_path, class: 'button button--block'
