.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 24px;
  padding-inline: 16px;
}

.heading {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  overflow-wrap: break-word;
}
