.getting-started {
  box-sizing: border-box;
  background: url('../images/mastodon-ui.png') no-repeat 0 100%;
  background-size: contain;
  height: 100%;

  .getting-started__footer{ 
    background-color: rgba($ui-base-color, 0.9);
  }
}

.column-link {
  padding: 12px 15px;
}
