.getting-started__footer {
  display: flex;
  flex-direction: column;
}

.getting-started {
  box-sizing: border-box;
  padding-bottom: 235px;
  background: url('../images/mastodon-ui.png') no-repeat 0 100%;
  background-size: contain;
}

.column-link {
  padding: 12px 15px;
}
