.modal-layout__mastodon {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;

  > * {
    flex: 1;
    max-height: 235px;
    background: url('../images/mastodon-ui.png') no-repeat left bottom / contain;
  }
}
