$tutorial_back_color : #D9E1E8;
$tutorial_text_color : #282C37;
$tutorial_border_radius : 5px;

.clearfix {
  clear: both;
}

.tutorial_modal_back {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.tutorial {
  transition: 0.5s;
}

.tutorial-balloon {
  position: absolute;
}

.tutorial-nicoru {
  width: 20px;
  position: relative;
  top: 5px;
  padding: 0 3px;
}

.page-one {
  color: $tutorial_text_color;

  .tutorial-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tutorial-paragraph {
    font-size: 15px;
    margin: 5px 0;

    .fa {
      padding: 0 3px;
    }
  }

  .tutorial-footer  {
    font-size: 0.6rem;
  }

  .tutorial-image.imastodon-logo {
    background: url('../images/elephant-fren.png') no-repeat center center / contain;
    width: 155px;
    height: 193px;
    margin: 0 auto;
  }
}

.tutorial-bottombtn {
  background-color: #C0CDD9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  color: $tutorial_text_color;
  border-bottom-left-radius: $tutorial_border_radius;
  border-bottom-right-radius: $tutorial_border_radius;
  -webkit-border-bottom-left-radius: $tutorial_border_radius;
  -webkit-border-bottom-right-radius: $tutorial_border_radius;
  -moz-border-radius-bottomleft: $tutorial_border_radius;
  -moz-border-radius-bottomright: $tutorial_border_radius;

  span {
    font-size: 15px;
    position: absolute;
  }

  .tutorial-btn {
    position: absolute;
    transition: 0.3s;
    bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    height: 27px;
    padding-top: 13px;
    color: blue;
    cursor: pointer;

  &:hover {
    background-color: #aab9c7;
    }
  }

  .tutorial-navcenter {
    left: 190px;
    bottom: 10px;
    }

  .tutorial-navright {
    right: 0;
    text-align: right;
    border-bottom-right-radius: $tutorial_border_radius;
    -webkit-border-bottom-right-radius: $tutorial_border_radius;
    -moz-border-radius-bottomright: $tutorial_border_radius;
  }

  .tutorial-navleft {
    left: 0;
    border-bottom-left-radius: $tutorial_border_radius;
    -webkit-border-bottom-left-radius: $tutorial_border_radius;
    -moz-border-radius-bottomleft: $tutorial_border_radius;
  }
}

.tutorial-back {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.tutorial-contents {
  width: 400px;
  position: fixed;
  transition: 0.8s;
  &.none {
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
  }
}

.tutorial-back-none + .tutorial-nav {
  .tutorial-bottombtn {
    display: none;
  }
}

.tutorial-back-exist + .tutorial-nav {
  .tutorial-startbtn {
    display: none;
  }
}

.tutorial-back-none {
  transition: 0.8s;
  text-align: center;

  .tutorial-title {
    color: white;
  }

  .tutorial-paragraph {
    color: white;
    font-size: 15px;
    font-weight: 100;
  }

  .tutorial-footer {
    padding-top: 5px;
    color: white;
    a {
      color: white;
    }
  }
}

.tutorial-startbtn {
  margin-top: 30px;
  p {
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #2588d0;
    color: white;
    font-size: 15px;
    width: 60px;
    text-align: center;
    border-radius: 3px;
    transition: 0.3s;

    &:hover {
      background-color: #49a0de;
    }
  }
}

.tutorial-back-exist {
  text-align: left;
  transition: 0.8s;
  background-color: $tutorial_back_color;
  border-radius: $tutorial_border_radius;
  padding: 25px 30px 55px 30px;
}
