.wrapper {
  --max-width: 20rem;
  --col-count: 6;

  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2rem minmax(10rem, calc(var(--max-width) - 4rem));
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  max-width: var(--max-width);
  max-height: 50vh;
  box-sizing: border-box;

  :global(.emojione) {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  grid-area: 1 / 1 / 1 / 3;

  svg {
    color: gray;
  }
}

.search {
  flex-grow: 1;
  appearance: none;
  border: 1px solid gray;
  border-radius: 0.25rem;
  height: 100%;
  padding: 0.25rem 0.5rem;
}

.main,
.settings {
  border-radius: 0.25rem;
  background-color: whitesmoke;
  overflow: hidden auto;
  scrollbar-width: thin;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
}

.groupHeader {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  transition: opacity 0.1s ease;

  &:not(.isMinimized):hover {
    opacity: 0.7;
  }

  button {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.groupHeader.isMinimized {
  opacity: 0.5;
}

.groupHeaderArrow {
  transition: transform 0.1s ease;
  width: 1rem;
  height: 1rem;
}

.isMinimized .groupHeaderArrow {
  transform: rotate(-90deg);
}

.emojiGrid {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  gap: 0.5rem;
}

.listButton,
.groupButton {
  aspect-ratio: 1;
  padding: 0;
  appearance: none;
  display: block;

  > * {
    pointer-events: none;
  }
}

.listButton {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: gray;
  }

  > img {
    padding: 5px;
  }

  > * {
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: 2 / 1 / 3 / 1;
  overflow: hidden scroll;
  scrollbar-width: none;
}

.groupButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid gray;
}

.separator {
  height: 1px;
  background-color: gray;
  flex-shrink: 0;
}

.settings {
  grid-area: 2 / 1 / 3 / 3;

  legend {
    margin-bottom: 0.5rem;
  }
}

.headerTitle {
  flex-grow: 1;
  color: gray;
  font-size: 1.25em;
}

.skinTonesWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 1.5rem;

  input {
    appearance: none;
    background: none;
    margin: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    line-height: 100%;
    cursor: pointer;
    min-width: 2.5em;
  }

  input:checked {
    border-color: black;
    background-color: lightgray;
  }

  input::before {
    content: attr(data-emoji);
    display: block;
    font-size: 1.5em;
    line-height: 1;
  }
}
