
%tr
  %td{ style: 'font-size: 16px; text-align: center; vertical-align: middle' }
    - provider_pic_url = proof.remote_profile_pic_url || default_provider_pic_url(proof.provider)
    .avatar= image_tag provider_pic_url, width: 50
  %td{ style: 'font-size: 16px; text-align: center; vertical-align: middle' }
    %strong="#{proof.provider_username} "
    ="on #{proof.provider}"
  %td{style: 'vertical-align: middle'}
    %div
      %center
        -if proof.keybase?
          =I18n.t('account_identity_proofs.keybase.proof_status', path: proof.remote_url).html_safe
          =image_tag proof.status_img_url
