- content_for :page_title do
  = t('accounts.people_who_follow', name: display_name(@account))

- content_for :header_tags do
  = render 'accounts/og', account: @account

= render 'accounts/header', account: @account

= render 'accounts/follow_grid', accounts: @accounts
