- if @instance_presenter.open_registrations
  = render 'registration'

  .separator-or
    %span= t('auth.or')

= link_to t('auth.login'), new_user_session_path, class: 'button button-alternative-2 webapp-btn'
