.simple_form
  %p.lead= t('about.logged_in_as_html', username: content_tag(:strong, current_account.username))

  .actions
    = link_to t('about.continue_to_web'), root_url, class: 'button button-primary'

.form-footer
  %ul.no-list
    %li= link_to t('about.get_apps'), 'https://joinmastodon.org/apps', target: '_blank', rel: 'noopener noreferrer'
    %li= link_to t('auth.logout'), destroy_user_session_path, data: { method: :delete }
