.wrapper
  %h1
    = image_tag 'logo.png'
    Mastodon

  %p
    Mastodon is a
    %em free, open-source
    social network server. A
    %em decentralized
    alternative to commercial platforms, it avoids the risks of a single company monopolizing your communication. Anyone can run Mastodon and participate in the
    %em social network
    seamlessly.
  %p
    %em= Rails.configuration.x.local_domain
    is a Mastodon instance.

  .actions
    = link_to 'Get started', new_user_session_path, class: 'button'
