@import 'styles/mastodon/variables';

.glitch.local-settings {
  position: relative;
  display: flex;
  flex-direction: row;
  background: $ui-secondary-color;
  color: $ui-base-color;
  border-radius: 8px;
  height: 80vh;
  width: 80vw;
  max-width: 740px;
  max-height: 450px;
  overflow: hidden;

  label {
    display: block;
  }

  h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
