@use '@/styles/mastodon/mixins';

.mirror {
  pointer-events: none;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  height: 1lh;

  visibility: hidden;
}

.textAreaMirror {
  white-space: pre-wrap; // This makes the formatting match the text area.
}

.debug.mirror {
  color: white;
  visibility: visible;
  opacity: 0.2;
  background-color: red;
}

.menuWidth {
  width: 100%;
  max-width: var(--_max-card-width);
}

.item {
  display: flex;
  gap: var(--space-xs);
  min-height: var(--space-3xl);
}

.itemIcon {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--space-3xl);
  height: var(--space-3xl);
  border-radius: var(--radius-round);

  background-color: var(--color-bg-highlight);
}

.itemHashUses {
  margin-inline-start: auto;
  font-size: var(--fs-xs);
  color: var(--color-text-tertiary);
}

.itemAccountName {
  @include mixins.type-label-lg;
}

.itemAccountHandle {
  @include mixins.type-label-sm;

  color: var(--color-text-tertiary);
}
