@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Judson);

.about-body {
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #9baec8;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1 {
    font: 46px/52px 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2b90d9;
    padding: 20px 0;

    img {
      margin-bottom: -5px;
      margin-right: 5px;
      width: 46px;
      height: 46px;
    }
  }

  h2 {
    font: 24px/28px 'Judson', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
  }

  h3 {
    font: 20px/28px 'Judson', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #d9e1e8;
  }

  ul, ol {
    list-style: inherit;
    margin-left: 20px;

    &[type='a'] {
      list-style-type: lower-alpha;
    }

    &[type='i'] {
      list-style-type: lower-roman;
    }
  }

  li > ol, li > ul {
    margin-top: 20px;
  }

  p, li {
    font: 20px/28px 'Judson', sans-serif;
    font-weight: 300;
    margin-bottom: 26px;

    a {
      color: #2b90d9;
      text-decoration: underline;
    }
  }

  em {
    display: inline-block;
    padding: 7px 7px 5px 7px;
    background: #9baec8;
    color: #282c37;
    font: 16px/16px 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .screenshot {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 26px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .actions {
    overflow: hidden;

    .info {
      float: right;
      text-align: right;
      line-height: 36px;

      a {
        color: #9baec8;
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .wrapper {
      padding: 20px;
    }
  }
}
