@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Judson);

.about-body {
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #9baec8;
    padding-top: 200px;
  }

  h1 {
    font: 46px/52px 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2b90d9;
    padding: 20px 0;

    img {
      margin-bottom: -5px;
      margin-right: 5px;
      width: 46px;
      height: 46px;
    }
  }

  p {
    font: 20px/28px 'Judson', sans-serif;
    font-weight: 300;
    margin-bottom: 26px;
  }

  em {
    display: inline-block;
    padding: 7px 7px 5px 7px;
    background: #9baec8;
    color: #282c37;
    font: 16px/16px 'Montserrat', sans-serif;
    font-weight: 300;
  }

  @media screen and (max-width: 360px) {
    .wrapper {
      padding: 20px;
    }
  }
}
