.card {
  background: #282c37;
  background-size: cover;
  padding: 60px 0;
  padding-bottom: 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 700px) {
    border-radius: 0;
    box-shadow: none;
  }

  &:after {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .name {
    display: block;
    font-size: 20px;
    line-height: 18px * 1.5;
    color: #fff;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 2;

    small {
      display: block;
      font-size: 14px;
      color: #2b90d9;
      font-weight: 400;
    }
  }

  .avatar {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;

    img {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 120px;
    }
  }

  .controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }

  .details {
    display: flex;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    flex-direction: row;
  }

  .details-counters {
    display: flex;
    flex-direction: row;
    order: 0;
  }

  .counter {
    width: 80px;
    color: #9baec8;
    padding: 0 10px;
    margin-bottom: 10px;
    border-right: 1px solid #9baec8;
    cursor: default;
    position: relative;

    a {
      display: block;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      border-bottom: 4px solid #9baec8;
      opacity: 0.5;
      transition: all 0.8s ease;
    }

    &.active {
      &:after {
        border-bottom: 4px solid #2b90d9;
        opacity: 1;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .counter-label {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
    }

    .counter-number {
      font-weight: 500;
      font-size: 18px;
      color: #fff;
    }
  }

  .bio {
    flex: 1;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    color: #d9e1e8;
    order: 1;
  }

  @media screen and (max-width: 360px) {
    .details {
      display: block;
    }

    .bio {
      text-align: center;
      margin-bottom: 20px;
    }

    .counter {
      flex: 1 1 auto;
    }

    .counter:last-child {
      border-right: none;
    }
  }
}

.pagination {
  padding: 30px 0;
  text-align: center;
  overflow: hidden;

  a, .current, .next_page, .previous_page, .gap {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
  }

  .current {
    background: #fff;
    border-radius: 100px;
    color: #282c37;
    cursor: default;
  }

  .gap {
    cursor: default;
  }

  .previous_page, .next_page {
    text-transform: uppercase;
    color: #d9e1e8;
  }

  .previous_page {
    float: left;
    padding-left: 0;

    .fa {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .next_page {
    float: right;
    padding-right: 0;

    .fa {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .disabled {
    cursor: default;
    color: lighten(#282c37, 10%);
  }

  @media screen and (max-width: 360px) {
    padding: 30px 20px;

    a, .current, .next_page, .previous_page, .gap {
      display: none;
    }

    .next_page, .previous_page {
      display: inline-block;
    }
  }
}

.accounts-grid {
  clear: both;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 20px 10px;
  padding-bottom: 10px;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    border-radius: 0;
    box-shadow: none;
  }

  .account-grid-card {
    box-sizing: border-box;
    width: 335px;
    float: left;
    border: 1px solid #d9e1e8;
    border-radius: 4px;
    color: #282c37;
    height: 160px;
    margin-bottom: 10px;

    &:nth-child(odd) {
      margin-right: 10px;
    }

    .account-grid-card__header {
      overflow: hidden;
      padding: 10px;
      border-bottom: 1px solid #d9e1e8;
    }

    .avatar {
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 15px;

      img {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 60px;
      }
    }

    .name {
      padding-top: 10px;

      a {
        display: block;
        color: #282c37;
        text-decoration: none;

        &:hover {
          .display_name {
            text-decoration: underline;
          }
        }
      }
    }

    .display_name {
      font-size: 14px;
      display: block;
    }

    .username {
      color: #2b90d9;
    }

    .note {
      padding: 10px;
      padding-top: 15px;
      color: #9baec8;
    }
  }
}

.nothing-here {
  color: #9baec8;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  padding-bottom: 25px;
  cursor: default;
}
