.card {
  background: $primary-color image-url('background-photo.jpeg');
  background-size: cover;
  padding: 80px 0;
  padding-bottom: 30px;
  border-radius: 4px 4px 0 0;

  .bio {

  }

  .name {
    display: block;
    font-size: 20px;
    line-height: 18px * 1.5;
    color: #fff;
    font-weight: 500;
    text-align: center;

    small {
      display: block;
      font-size: 14px;
      color: #2b90d9;
      font-weight: 400;
    }
  }

  .avatar {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 15px;

    img {
      width: 120px;
      height: 120px;
      display: block;
      border-radius: 120px;
    }
  }
}
