.admin-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: darken($color1, 2%);
  overflow-y: scroll;

  .sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    height: 100%;
    background: $color1;

    .logo {
      display: block;
      margin: 40px auto;
      width: 100px;
      height: 100px;
    }

    ul {
      list-style: none;

      a {
        display: block;
        padding: 15px 25px;
        color: rgba($color5, 0.7);
        text-decoration: none;
        transition: all 200ms linear;

        i.fa {
          margin-right: 5px;
        }

        &:hover {
          color: $color5;
          background-color: darken($color1, 5%);
          transition: all 100ms linear;
        }

        &.selected {
          color: $color5;
          background-color: $color4;

          &:hover {
            background-color: lighten($color4, 5%);
          }
        }
      }
    }
  }

  .content {
    margin-left: 240px;
    padding: 15px;
  }
}

.filters {
  display: flex;
  margin-bottom: 20px;
  padding-left: 8px;

  .filter-subset {
    flex: 0 0 auto;
    margin-right: 40px;

    ul {
      margin-top: 5px;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 5px;
      }
    }

    strong {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
    }

    a {
      display: inline-block;
      color: rgba($color5, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      border-bottom: 2px solid $color1;

      &:hover {
        color: $color5;
        border-bottom: 2px solid lighten($color1, 5%);
      }

      &.selected {
        color: $color4;
        border-bottom: 2px solid $color4;
      }
    }
  }
}
