$primary-color: #ff7473;
$secondary-color: #ffc952;
$tertiary-color: #47b8e0;
$quaternary-color: #34314c;
$background-color: #fff;

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic");
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Noto Sans', sans-serif;
  background: $secondary-color;
  font-size: 13px;
  line-height: 18px;
  color: $quaternary-color;

  &::before {
    display: block;
    content: "";
    position: absolute;
    background: $secondary-color;
    width: 100%;
    height: 200px;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
  z-index: 2;
}

.footer {
  text-align: center;
  padding: 100px 0;
  font-size: 12px;
  color: lighten($quaternary-color, 15%);

  .mastodon-link {
    color: $quaternary-color;
    text-decoration: none;
    font-weight: bold;
  }
}


@import 'home';
@import 'profile';
