.status__content {
  font-size: 15px;
  line-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 300;

  a {
    color: #d9e1e8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.mention {
      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }
}
