.card {
  padding-top: 20px;

  .name {
    font-size: 24px;
    line-height: 18px * 1.5;

    small {
      display: block;
      font-size: 14px;
      color: lighten($quaternary-color, 15%);
    }
  }

  .bio {

  }

  .counter {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    border: 1px solid #A593E0;
    color: #A593E0;
    border-radius: 5px;
    padding: 3px 0;
    margin-right: 3px;

    .num {
      display: block;
      font-size: 24px;
    }
  }
}

.activity-stream {
  clear: both;
  box-shadow: 4px 3px 0 rgba(0, 0, 0, 0.1);

  .entry {
    border-bottom: 1px solid darken($background-color, 10%);
    background: $background-color;
    border-left: 2px solid $primary-color;

    &.entry-reblog {
      border-left: 2px solid $tertiary-color;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .header {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0;
    padding-left: 8px;

    .name {
      text-decoration: none;
      color: lighten($quaternary-color, 15%);

      strong {
        color: $quaternary-color;
      }

      &:hover {
        strong {
          text-decoration: underline;
        }
      }
    }
  }

  .pre-header {
    border-bottom: 1px solid darken($background-color, 10%);
    color: $tertiary-color;
    padding: 5px 10px;
    padding-left: 8px;

    .name {
      color: $tertiary-color;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    font-size: 16px;
    padding: 0 10px;
    padding-left: 8px;
  }

  .time {
    text-decoration: none;
    color: lighten($quaternary-color, 15%);

    &:hover {
      text-decoration: underline;
    }
  }

  .counters {
    margin-top: 15px;
    color: lighten($quaternary-color, 15%);
    cursor: default;
    padding: 10px;
    padding-top: 0;
    padding-left: 8px;

    .counter {
      display: inline-block;
      margin-right: 10px;
      color: lighten($quaternary-color, 50%);
    }

    .conversation-link {
      color: $primary-color;
      text-decoration: underline;
      float: right;
    }
  }
}
