@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Noto Sans', sans-serif;
  background: #E0E3DA;
  font-size: 13px;
  line-height: 18px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  padding-top: 20px;

  .name {
    font-size: 24px;
    line-height: 18px * 1.5;

    small {
      display: block;
      font-size: 14px;
      color: #566270;
    }
  }

  .bio {

  }

  .counter {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    border: 1px solid #A593E0;
    color: #A593E0;
    border-radius: 5px;
    padding: 3px 0;
    margin-right: 3px;

    .num {
      display: block;
      font-size: 24px;
    }
  }
}

.activity-stream {
  clear: both;
  box-shadow: 4px 3px 0 rgba(0, 0, 0, 0.1);

  .entry {
    border-bottom: 1px solid #E0E3DA;
    background: #FFFFF3;
    border-left: 2px solid #A593E0;

    &.entry-reblog {
      border-left: 2px solid #566270;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .header {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0;
    padding-left: 8px;

    .name {
      text-decoration: none;
      color: #566270;

      strong {
        color: #000;
      }

      &:hover {
        strong {
          text-decoration: underline;
        }
      }
    }
  }

  .pre-header {
    border-bottom: 1px solid #E0E3DA;
    color: #566270;
    padding: 5px 10px;
    padding-left: 8px;

    .name {
      color: #566270;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    font-size: 16px;
    padding: 0 10px;
    padding-left: 8px;
  }

  .time {
    text-decoration: none;
    color: #566270;

    &:hover {
      text-decoration: underline;
    }
  }

  .counters {
    margin-top: 15px;
    color: #566270;
    cursor: default;
    padding: 10px;
    padding-top: 0;
    padding-left: 8px;

    .counter {
      display: inline-block;
      margin-right: 10px;
    }

    .conversation-link {
      color: #A593E0;
      text-decoration: underline;
      float: right;
    }
  }
}
