.qiita {
  .button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button-primary {
    border-color: #4ea30a;
    background-color: #59bb0c;
    color: #fff;
  }

  .registration {
    width: 100%;
    text-transform: none;
  }
}

.registrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .qiita {
    width: 300px;
    margin: 5px auto;
    text-align: center;
  }

  .password_registration_closed_caution {
    width: 300px;
    margin: 10px auto;
  }

  .info a {
    color: white;
    text-transform: none;
  }
}
