.activity-stream {
  clear: both;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .entry {
    border-bottom: 1px solid #d9e1e8;
    background: #fff;
    border-left: 2px solid #fff;

    &.entry-reblog {
      border-left-color: #2b90d9;
    }

    &.entry-predecessor, &.entry-successor {
      background: #d9e1e8;
      border-left-color: #d9e1e8;
      border-bottom-color: darken(#d9e1e8, 15%);

      .header {
        .header__right {
          .counter-btn {
            color: darken(#d9e1e8, 15%);
          }
        }
      }
    }

    &.entry-follow, &.entry-favourite {
      .content {
        padding-top: 10px;
        padding-bottom: 10px;

        strong {
          font-weight: 500;
        }
      }
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
  }

  &.activity-stream-headless {
    .entry:first-child {
      border-radius: 4px 4px 0 0;

      &:last-child {
        border-radius: 4px;
      }
    }
  }

  &.activity-stream-embedded {
    box-shadow: none;

    .entry {
      border-radius: 0;
    }
  }

  .entry__container {
    display: flex;
  }

  .avatar {
    width: 56px;
    padding: 15px;

    img {
      width: 56px;
      height: 56px;
      display: block;
      border-radius: 56px;
    }
  }

  .entry__container__container {
    flex-grow: 1;
  }

  .header {
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 0;
    padding-left: 8px;
    display: flex;

    .header__left {
      flex: 1;
    }

    .header__right {
      .counter-btn {
        color: #d9e1e8;
        display: inline-block;
        padding: 0 10px;
        cursor: default;

        .counter-number {
          font-weight: 500;
          display: inline-block;
          margin-left: 3px;
          font-size: 12px;
        }

        &.reblogged {
          color: #2b90d9;
        }

        &.favourited {
          color: #df405a;
        }
      }
    }

    .name {
      text-decoration: none;
      color: #9baec8;

      strong {
        color: #282c37;
        font-weight: 500;
      }

      &:hover {
        strong {
          text-decoration: underline;
        }
      }
    }
  }

  .pre-header {
    border-bottom: 1px solid #d9e1e8;
    color: #2b90d9;
    padding: 5px 10px;
    padding-left: 8px;
    clear: both;

    .name {
      color: #2b90d9;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    font-size: 14px;
    padding: 0 10px;
    padding-left: 8px;
    padding-bottom: 25px;
    color: #282c37;

    a {
      color: #2b90d9;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.mention {
        &:hover {
          text-decoration: none;

          span {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .time {
    text-decoration: none;
    color: #9baec8;

    &:hover {
      text-decoration: underline;
    }
  }
}
