.activity-stream {
  clear: both;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .entry {
    border-bottom: 1px solid #d9e1e8;
    background: #fff;
    border-left: 2px solid #fff;

    &.entry-reblog {
      border-left-color: #2b90d9;
    }

    &.entry-predecessor, &.entry-successor {
      background: #d9e1e8;
      border-left-color: #d9e1e8;
      border-bottom-color: darken(#d9e1e8, 10%);

      .header {
        .header__right {
          .counter-btn {
            color: darken(#d9e1e8, 15%);
          }
        }
      }
    }

    &.entry-center {
      border-bottom-color: darken(#d9e1e8, 10%);
    }

    &.entry-follow, &.entry-favourite {
      .content {
        padding-top: 10px;
        padding-bottom: 10px;

        strong {
          font-weight: 500;
        }
      }
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
  }

  .entry:first-child {
    border-radius: 4px 4px 0 0;

    &:last-child {
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 700px) {
    border-radius: 0;
    box-shadow: none;

    .entry {
      &:last-child {
        border-radius: 0;
      }

      &:first-child {
        border-radius: 0;

        &:last-child {
          border-radius: 0;
        }
      }
    }
  }

  .entry__container {
    overflow: hidden;
  }

  .avatar {
    width: 56px;
    padding: 15px 10px;
    padding-right: 5px;
    float: left;

    img {
      width: 56px;
      height: 56px;
      display: block;
      border-radius: 4px;
    }
  }

  .entry__container__container {
    margin-left: 71px;
  }

  .header {
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 0;
    padding-left: 8px;
    display: flex;

    .header__left {
      flex: 1;
    }

    .header__right {

    }

    .name {
      text-decoration: none;
      color: #9baec8;

      strong {
        color: #282c37;
        font-weight: 500;
      }

      &:hover {
        strong {
          text-decoration: underline;
        }
      }
    }
  }

  .pre-header {
    border-bottom: 1px solid #d9e1e8;
    color: #2b90d9;
    padding: 5px 10px;
    padding-left: 8px;
    clear: both;

    .name {
      color: #2b90d9;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    font-size: 14px;
    padding: 0 15px;
    padding-left: 8px;
    padding-bottom: 15px;
    color: #282c37;
    word-wrap: break-word;
    overflow: hidden;

    p {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: #2b90d9;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.mention {
        &:hover {
          text-decoration: none;

          span {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .time {
    text-decoration: none;
    color: #9baec8;

    &:hover {
      text-decoration: underline;
    }
  }

  .media-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 15px;

    li {
      display: block;
      float: left;
      width: 120px;
      height: 100px;
      border-radius: 4px;
      margin-right: 4px;
      margin-bottom: 4px;

      a {
        display: block;
        width: 120px;
        height: 100px;
        border-radius: 4px;
        background-position: center;
        background-repeat: none;
        background-size: cover;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .avatar {
      display: none;
    }

    .entry__container__container {
      margin-left: 7px;
    }
  }
}
