.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: 0;
    font-weight: 500;
  }

  & > tbody > tr > th {
    font-weight: 500;
  }

  a {
    color: #2b90d9;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

samp {
  font-family: 'Roboto Mono', monospace;
}

.filters {
  list-style: none;
  margin-bottom: 20px;

  li {
    display: inline-block;
  }

  a {
    color: #2b90d9;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
