.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    padding: 8px;
    line-height: 18px;
    vertical-align: top;
    border-top: 1px solid var(--color1, $color1);
    text-align: left;
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--color1, $color1);
    border-top: 0;
    font-weight: 500;
  }

  & > tbody > tr > th {
    font-weight: 500;
  }

  & > tbody > tr:nth-child(odd) > td, & > tbody > tr:nth-child(odd) > th {
    background: var(--color1, $color1);
  }

  a {
    color: var(--color4, $color4);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  strong {
    font-weight: 500;
  }
}

samp {
  font-family: 'Roboto Mono', monospace;
}

a.table-action-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px;
  color: rgba(var(--color5, $color5), 0.7);
  font-weight: 500;

  &:hover {
    color: var(--color5, $color5);
  }

  i.fa {
    font-weight: 400;
    margin-right: 5px;
  }
}
