@import 'variables/palettes';

//  For some colour palettes to chose from, see `variables/palettes.scss`!!

$color1: $mastodon-color1; // darkest
$color2: $mastodon-color2; // lightest
$color3: $mastodon-color3; // lighter
$color4: $mastodon-color4; // vibrant
$color5: $mastodon-color5; // white
$color6: $mastodon-color6; // error red
$color7: $mastodon-color7; // succ green
$color8: $mastodon-color8; // black
