$witches-primary: #A288BD;
$witches-light: lighten($witches-primary, 15%);

div.column {
  flex-grow: 1;
  flex-shrink: 1;
}

.button {
  background-color: $witches-primary;
}

.status__content a {
  color: $witches-primary;
}

.reply-indicator {
  background-color: $witches-light;
}

.column-header.active .fa {
  color: $witches-primary;
  text-shadow-color: 0 0 10px rgba($witches-primary, 0.4);
}

.notifications__unread-indicator {
  background: radial-gradient(ellipse, rgba($witches-primary, 0.23) 0%, rgba($witches-primary, 0) 60%);
}

.column-back-button {
  color: $witches-primary;
}
