- content_for :page_title do
  = t('filters.edit.title')

= simple_form_for @filter, url: filter_path(@filter) do |f|
  = render 'filter_fields', f: f

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
