- content_for :page_title do
  = t('filters.index.title')

- content_for :heading_actions do
  = link_to t('filters.new.title'), new_filter_path, class: 'button'

- if @filters.empty?
  .muted-hint.center-text= t 'filters.index.empty'
- else
  .applications-list
    = render partial: 'filter', collection: @filters
