- content_for :page_title do
  Authorized apps

%p
  You can register a new OAuth2 app
  = link_to 'here', oauth_applications_path

%table.table
  %thead
    %tr
      %th App
      %th
  - @applications.each do |application|
    %tr
      %td= application.name
      %td= link_to 'Revoke', oauth_authorized_application_path(application), method: :delete
