@use '@/styles/mastodon/mixins';

// Attachments

.mediaSingle .mediaUpload {
  min-width: 120px;
  max-width: min(100%, 400px);
  max-height: var(--max-media-height-large);
}

.mediaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--space-3xs);

  aspect-ratio: 3/2;

  &[data-number='2'] {
    grid-template-rows: 1fr;
  }

  &[data-number='3'] .mediaUpload:first-child {
    grid-row: span 2;
  }
}

.mediaUpload {
  position: relative;

  overflow: hidden;

  border-radius: var(--radius-md);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blurHash {
  width: 100%;
  height: 100%;
}

.mediaUploadPending {
  background-color: var(--color-bg-disabled);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

.mediaMenuButton {
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
}

.mediaAlt {
  @include mixins.type-micro;

  position: absolute;
  right: var(--space-xs);
  bottom: var(--space-xs);

  display: block;

  padding: var(--space-2xs);
  border-radius: var(--radius-xs);

  color: var(--color-text-inverted);
  text-transform: uppercase;

  background: var(--color-bg-inverted);
}

.mediaMenuDelete {
  color: var(--color-text-error);
}

// Audio

.audioWrapper {
  --height: var(--space-5xl);

  display: flex;
  gap: var(--space-2xs);
  align-items: center;

  padding: var(--space-xs);
  border: 0.5px solid var(--color-text-tertiary);
  border-radius: var(--radius-md);
}

.audioCover {
  aspect-ratio: 1;
  width: auto;
  height: var(--height);
  border-radius: var(--radius-sm);
}

.audioControl {
  overflow: hidden;
  display: block;
  flex-grow: 1;

  box-sizing: border-box;
  height: var(--height);
  border-radius: var(--radius-sm);
}

// Polls

.poll {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  padding: var(--space-xs);
  border: 0.5px solid var(--color-text-tertiary);
  border-radius: var(--radius-md);

  ol {
    counter-reset: poll;

    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    width: 100%;
  }

  label {
    @include mixins.type-label-sm;
  }
}

.pollOption {
  counter-increment: poll;
  display: flex;
  gap: var(--space-sm);
  align-items: center;

  &::before {
    @include mixins.type-micro;

    content: counter(poll, upper-alpha);

    flex-shrink: 0;

    width: var(--space-lg);
    height: var(--space-lg);
    border-radius: var(--radius-xs);

    line-height: var(--space-lg);
    text-align: center;

    background: var(--color-bg-highlight);
  }
}

.pollAddNew {
  margin-left: var(--space-lg);
}

.pollMultipleToggle {
  align-self: flex-start;
}

.pollControls {
  display: flex;
  justify-content: space-between;
}

.pollDurationSelect {
  text-align: center;
}

// Quotes

.quoteBody {
  color: inherit;
  text-decoration: none;
}

// If hovering over an account link, underline all account links.
.quoteTitle:has(.quoteAccountLink:hover) {
  .quoteAccountLink {
    text-decoration: underline;
  }
}

.quoteSpoiler {
  margin: var(--space-2xs) 0;
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  background: var(--color-bg-highlight);
}
