@use '@/styles/mastodon/mixins';

// Attachment rearrange modal

.attachmentRoot {
  min-width: 400px;
  padding: var(--space-md) 0;

  .title,
  .footer {
    padding: 0 var(--space-md);
  }
}

.attachmentItem {
  display: flex;
  gap: var(--space-sm);
  align-items: center;

  margin: 0 var(--space-xs);
  padding: var(--space-xs) var(--space-xs);
  border-bottom: 0.5px solid var(--color-border-primary);

  transition:
    opacity 200ms,
    var(--transition, none);

  &:focus {
    outline: var(--outline-focus-default);
    outline-offset: -2px;
  }

  img {
    width: 90px;
    height: 60px;
    border-radius: var(--radius-md);
    object-fit: cover;
  }
}

.attachmentHandle {
  cursor: inherit;
  aspect-ratio: auto;
  padding: var(--space-xs) 0;
}

.attachmentGrabbed > * {
  opacity: 0;
}

.attachmentOverlay {
  cursor: grabbing;
  margin: 0;
  border-bottom: 0;
}
