@use '@/styles/mastodon/variables';

.button {
  &:not(.buttonInline) {
    position: fixed;
    z-index: 2;
    right: var(--space-md);
    bottom: var(--space-md);
  }
}

.composer,
.composerMinimized {
  position: fixed;
  right: 0;
  box-sizing: border-box;
}

.composer {
  top: env(safe-area-inset-top);
  width: 100%;

  // Set from the visualViewport API.
  height: var(--viewport-height, 100vh);
  max-height: 100vh;

  @media (width >= #{variables.$mobile-menu-breakpoint}) {
    top: auto;
    bottom: 0;

    width: calc(100vw - var(--space-md) * 2);
    min-width: 300px;
    max-width: 500px;
    height: auto;
    min-height: 520px;
    margin: var(--space-md);
  }
}

// When in the mobile view and the composer is open, disable scroll on the body element.
// This prevents scrolling the textarea accidentally hitting the body instead.
@media (width < #{variables.$mobile-menu-breakpoint}) {
  body:has(.composer) {
    overflow-y: hidden !important;
  }
}

.composerMinimized {
  bottom: 0;
  width: min(320px, calc(100vw - var(--space-md) * 2));
  margin: var(--space-md);
  padding: var(--space-md);

  @media (width < #{variables.$mobile-menu-breakpoint}) {
    bottom: var(--mobile-bottom-nav-height);
    width: auto;
    padding: 0;
    border-radius: var(--radius-round);
  }
}
