@use '@/styles/mastodon/variables';

.button {
  &:not(.buttonInline) {
    position: fixed;
    bottom: var(--space-md);
    right: var(--space-md);
    z-index: 2;
  }
}

.composer,
.composerMinimized {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--space-md);
  box-sizing: border-box;
  border-radius: var(--radius-xl);
}

.composer {
  width: calc(100vw - var(--space-md) * 2);
  max-width: 500px;
  min-height: 520px;
  max-height: 80vh;
}

.composerMinimized {
  width: min(320px, calc(100vw - var(--space-md) * 2));
  padding: var(--space-md);
}

@media (width < #{variables.$mobile-menu-breakpoint}) {
  .composer,
  .composerMinimized {
    bottom: var(--mobile-bottom-nav-height);
  }
}
