-# locals: (account:)
- if account.user_disabled?
  - if can?(:enable, account.user)
    = button_to t('admin.accounts.enable'),
                enable_admin_account_path(account.id),
                class: :button
- elsif can?(:disable, account.user)
  = link_to t('admin.accounts.disable'),
            new_admin_account_action_path(account.id, type: :disable),
            class: :button
