- content_for :page_title do
  = t('admin.accounts.change_role.title', username: @user.account.username)

= simple_form_for @user, url: admin_user_role_path(@user) do |f|
  .fields-group
    = f.association :role,
                    collection: UserRole.assignable,
                    include_blank: I18n.t('admin.accounts.change_role.no_role'),
                    label_method: :name,
                    wrapper: :with_block_label

  .actions
    = f.button :button,
               t('generic.save_changes'),
               type: :submit
