.emptyWrapper {
  color: var(--color-text-primary);
  max-width: 400px;

  h2 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    line-height: 1.4;
  }
}
