.emptyWrapper {
  color: var(--color-text-primary);
  max-width: 400px;

  svg {
    width: 240px;
    max-width: 100%;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    line-height: 1.4;
  }

  :global(.button) {
    color: var(--color-text-on-brand-base);
    margin-top: 8px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
