.subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 52px;
  padding: 12px 16px;

  font-size: 13px;
  font-weight: 500;
  color: var(--color-text-primary);
  text-transform: uppercase;

  background: var(--color-bg-secondary);
}

.link {
  display: flex;

  padding-block: 4px;

  font-size: 13px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: var(--outline-focus-default);
    outline-offset: 2px;
  }

  :global(.icon) {
    width: 18px;
    height: 18px;
  }
}
