:root:root:root {
  .button, .icon-button, .emoji-button, .account__avatar, .account__avatar-overlay {
    animation: spin 4s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
