@import "../../styles/variables";

.button {
  background-color: darken($ui-highlight-color, 3%);
  border: 10px none;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 100ms ease-in;
  white-space: nowrap;
  width: auto;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($ui-highlight-color, 7%);
    transition: all 200ms ease-out;
  }

  &:disabled {
    background-color: $ui-primary-color;
    cursor: default;
  }

  &.button-alternative {
    font-size: 16px;
    line-height: 36px;
    height: auto;
    color: $ui-base-color;
    background: $ui-primary-color;
    text-transform: none;
    padding: 4px 16px;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($ui-primary-color, 4%);
    }
  }

  &.button-secondary {
    font-size: 16px;
    line-height: 36px;
    height: auto;
    color: $ui-primary-color;
    text-transform: none;
    background: transparent;
    padding: 3px 15px;
    border: 1px solid $ui-primary-color;

    &:active,
    &:focus,
    &:hover {
      border-color: lighten($ui-primary-color, 4%);
      color: lighten($ui-primary-color, 4%);
    }
  }

  &.button--block {
    display: block;
    width: 100%;
  }
}
