.fields-group
  = form.input :media_cache_retention_period,
               input_html: { pattern: '[0-9]+' },
               wrapper: :with_block_label
  = form.input :backups_retention_period,
               input_html: { pattern: '[0-9]+' },
               wrapper: :with_block_label
%h4= t('admin.settings.content_retention.danger_zone')
.fields-group
  = form.input :content_cache_retention_period,
               hint: false,
               input_html: { pattern: '[0-9]+' },
               warning_hint: t('simple_form.hints.form_admin_settings.content_cache_retention_period'),
               wrapper: :with_block_label
