.hero-widget
  .hero-widget__img
    = image_tag @instance_presenter.thumbnail&.file&.url(:'@1x') || asset_pack_path('media/images/preview.png'), alt: @instance_presenter.title

  .hero-widget__text
    %p= @instance_presenter.description.html_safe.presence || t('about.about_mastodon_html')

- if Setting.trends && !(user_signed_in? && !current_user.setting_trends)
  - trends = Trends.tags.query.allowed.limit(3)

  - unless trends.empty?
    .endorsements-widget.trends-widget
      %h4.emojify= t('footer.trending_now')

      - trends.each do |tag|
        = react_component :hashtag, hashtag: ActiveModelSerializers::SerializableResource.new(tag, serializer: REST::TagSerializer, scope: current_user, scope_name: :current_user).as_json
