.hero-widget
  .hero-widget__img
    = image_tag @instance_presenter.hero&.file&.url || @instance_presenter.thumbnail&.file&.url || asset_pack_path('preview.jpg'), alt: @instance_presenter.site_title

  .hero-widget__text
    %p= @instance_presenter.site_description.html_safe.presence || t('about.generic_description', domain: site_hostname)
