// Dependent colors
$black: #000000;

$classic-base-color: #2a2f3a;
$classic-primary-color: #9baec8;
$classic-secondary-color: #dee9f2;
$classic-highlight-color: #1b8fe3;

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;

// Differences
$ui-highlight-color: #2b5fd9;

$darker-text-color: lighten($ui-primary-color, 20%) !default;
$dark-text-color: lighten($ui-primary-color, 12%) !default;
$secondary-text-color: lighten($ui-secondary-color, 6%) !default;
$highlight-text-color: $classic-highlight-color !default;
$action-button-color: #6e7ba5;

$inverted-text-color: $black !default;
$lighter-text-color: darken($ui-base-color,6%) !default;
$light-text-color: darken($ui-primary-color, 40%) !default;
