.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  max-width: 600px;
  padding: 24px;

  color: var(--color-text-primary);
  text-align: center;
}

.content {
  max-width: 370px;

  > :where(svg, img) {
    aspect-ratio: 1;
    width: 200px;
    max-width: 100%;
    margin-bottom: 16px;

    object-fit: contain;
  }

  p {
    margin-top: 8px;

    font-size: 15px;
    line-height: 1.4;
    color: var(--color-text-secondary);
    text-wrap: pretty;
  }

  a {
    color: var(--color-text-status-links);
  }
}

.heading {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2;
  text-wrap: balance;
}

.errorImage {
  width: 280px;
  margin: -10% 0;
}

[data-color-scheme='dark'] .defaultImage {
  --color-skin-1: #3a3a50;
  --color-skin-2: #67678e;
  --color-skin-3: #44445f;
  --color-outline: #21212c;
  --color-shadow: #181820;
  --color-highlight: #b2b1c8;
}
