%div.entry{ class: status.reblog? ? 'entry-reblog' : 'entry-status' }
  - if status.reblog?
    .pre-header
      %i.fa.fa-retweet
      Shared by
      = link_to display_name(status.account), profile_url(status.account), class: 'name'
  .header
    = render partial: 'status_header', locals: { status: status.reblog? ? status.reblog : status }
  .content
    = status.content
  .counters
    = render partial: 'status_footer', locals: { status: status.reblog? ? status.reblog : status }
