.counter.counter-reblogs
  %i.fa.fa-retweet
  %span.num= status.reblogs.count

.counter.counter-favourites
  %i.fa.fa-star
  %span.num= status.favourites.count

- if status.reply?
  = link_to 'View conversation', status_url(status.thread), class: 'conversation-link'
