[submodule "http-parser"]
	path = ext/ruby_http_parser/vendor/http-parser
	url = git://github.com/joyent/http-parser.git
[submodule "http-parser-java"]
	path = ext/ruby_http_parser/vendor/http-parser-java
	url = git://github.com/tmm1/http-parser.java
