/* define scss variables in palette.scss of subtheme */
:root {
--bgPage: $bgPage;
--bg: $bg;
--bgHead: $bgHead;
--text: $text;
--textBold: $textBold;
--textMuted: $textMuted;
--textHead: $textHead;
--accent: $accent;
}