- content_for :page_title do
  = t('settings.edit_profile')

- content_for :heading do
  %h1= t('settings.profile')
  = render partial: 'settings/shared/profile_navigation'

= render partial: 'settings/shared/profile_new_notice'
