.libs
.deps
*.o
*.lo
.dirstamp
*.la
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
doc/libffi.info
*~
fficonfig.h.in
fficonfig.h
include/ffi.h
include/ffitarget.h
install-sh
libffi.pc
libtool
libtool-ldflags
ltmain.sh
m4/libtool.m4
m4/lt*.m4
mdate-sh
missing
stamp-h1
libffi*gz
autom4te.cache
libffi.xcodeproj/xcuserdata
libffi.xcodeproj/project.xcworkspace
build_*/
darwin_*/
src/arm/trampoline.S
**/texinfo.tex
