@font-face {
  font-family: 'Montserrat';
  src: font-url('montserrat/Montserrat-Regular.eot');
  src: font-url('montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('montserrat/Montserrat-Regular.woff2') format('woff2'),
  font-url('montserrat/Montserrat-Regular.woff') format('woff'),
  font-url('montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
