@font-face {
	font-family: 'Roboto';
	src: font-url('roboto/roboto-italic-webfont.eot');
	src: font-url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('roboto/roboto-italic-webfont.woff2') format('woff2'),
		font-url('roboto/roboto-italic-webfont.woff') format('woff'),
		font-url('roboto/roboto-italic-webfont.ttf') format('truetype'),
		font-url('roboto/roboto-italic-webfont.svg#roboto-italic-webfont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('roboto/roboto-bold-webfont.eot');
	src: local('Roboto bold'), local('roboto-bold'),
		font-url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('roboto/roboto-bold-webfont.woff2') format('woff2'),
		font-url('roboto/roboto-bold-webfont.woff') format('woff'),
		font-url('roboto/roboto-bold-webfont.ttf') format('truetype'),
		font-url('roboto/roboto-bold-webfont.svg#roboto-bold-webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('roboto/roboto-medium-webfont.eot');
	src: font-url('roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('roboto/roboto-medium-webfont.woff2') format('woff2'),
		font-url('roboto/roboto-medium-webfont.woff') format('woff'),
		font-url('roboto/roboto-medium-webfont.ttf') format('truetype'),
		font-url('roboto/roboto-medium-webfont.svg#roboto-medium-webfont') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('roboto/roboto-regular-webfont.eot');
	src: font-url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		font-url('roboto/roboto-regular-webfont.woff2') format('woff2'),
		font-url('roboto/roboto-regular-webfont.woff') format('woff'),
		font-url('roboto/roboto-regular-webfont.ttf') format('truetype'),
		font-url('roboto/roboto-regular-webfont.svg#roboto-regular-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
