!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{:charset => 'utf-8'}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application_public', integrity: true, crossorigin: 'anonymous'
  %body.embed
    = yield
