!!!
%html{ lang: I18n.locale }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ charset: 'utf-8' }/
    %title= safe_join([yield(:page_title), Setting.default_settings['site_title']], ' - ')
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_pack_tag Setting.default_settings['theme'], media: 'all'
  %body.error
    .dialog
      %img{ alt: Setting.default_settings['site_title'], src: '/oops.gif' }/
      %div
        %h1= yield :content
