- content_for :content, flush: true do
  .error
    .dialog
      %img{ alt: Setting.default_settings['site_title'], src: '/oops.gif' }/
      %div
        %h1= yield :content

= render template: 'layouts/landing_page'
