- content_for :content do
  .container= yield
  .footer
    %span.domain= Rails.configuration.x.local_domain
    %span.powered-by
      \//
      powered by
      = link_to 'Mastodon', 'https://github.com/Gargron/mastodon'

= render template: "layouts/application"
